html .facets-facet-browse .bx-wrapper .bx-pager a{
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.facets-facet-browse .bx-wrapper .bx-viewport .category-slider li .bx-caption{
  position: absolute;
  bottom: 40px;
  right: 0;
  background: #f4f4f4;
  padding: 15px 20px;
  padding-right: 26px;
  color: #314654;
  font-size: 16px;
  font-family: "Avenir LT W01_65 Medium1475532";
  @media (max-width: $screen-phone) {
    background: rgba(49, 70, 84, 0.9);
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    text-align: center;
  }
}

.facets-facet-browse .bx-wrapper{
  position: relative;
}

.facets-category-browse-results .bx-wrapper .bx-pager{
  display: none;
}


.facets-category-browse-slider .bx-wrapper {
  clear: both;
  position: relative;
  width: 100%;
  .bx-prev,
  .bx-next {
    background: rgba(49, 70, 84, 0.9);
    display: block;
    height: 55px;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 55px;
    font-size: 1px;
    white-space: nowrap;
    overflow: hidden;
  }
  .bx-prev {
    left: 0;
      &:before {
        @extend .fa;
        @extend .icon-angle-left;
        font-size: 50px;
        color: #c5d7e0;
      }
    }
  .bx-next {
    right: 0;
    &:before {
      @extend .fa;
      @extend .icon-angle-right;
      font-size: 50px;
      color: #c5d7e0;
    }
  }
  @media (max-width: $screen-phone) {
    .bx-controls-direction {
      display: none;
    }
    .bx-pager {
      display: block;
      }
  }
  @media (max-width: $screen-tablet) {
    .bx-wrapper {
      margin-bottom: $sc-base-margin * 4;
    }
  }
}

.subcat-wrap {
  @extend .brandgrouping-brands;
  width: 100%;
}

.subcats {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  @extend .row;
}

.subcat {
  @extend .col-sm-3;

  @media (max-width: $screen-xs-min) {
    @extend .col-xs-6;
  }
}

.category-list-container{
    border-top: none;
    margin-top: 0;
}

.facets-category-browse-tags {
  @extend .brandgrouping-tags;
}

.facets-category-browse-description {
  @extend .brandgrouping-brand-description;
}


.facets-category-browse-facets-list-wrapper h2{
  color: #314654;
  font-size: 18px;
  margin-bottom: 20px;
}



.facets-faceted-navigation-item-category-facet-optionlist li a{
  color: #ff7d2f;
  font-size: 16px;
  font-family: "Avenir LT W01_85 Heavy1475544";
}

.facets-faceted-navigation-item-category-facet-optionlist li .facets-faceted-navigation-item-category-facet-option-selected {
  font-size: 16px;
}

.facets-faceted-navigation-item-category-facet-group li .facets-faceted-navigation-item-category-facet-group li > a{
  font-size:14px;
  color:#6f6f70;
  background: none;
}

.facets-faceted-navigation-item-category-facet-group li .facets-faceted-navigation-item-category-facet-group li > .facets-faceted-navigation-item-category-facet-option-selected {
  font-size: 14px;
}

.facets-faceted-navigation-item-category-facet-optionlist .facets-faceted-navigation-item-category-facet-option-selected {
  font-family: "Avenir LT W01_85 Heavy1475544";
  color: #314654 !important;
  font-weight: bold;
  font-size: 14px;
}


.category-main-description{
  @media (max-width: $screen-md-min) {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  @media (min-width: $screen-md-min) {
    width: 100%;
  }
  margin-left: 0;
  border-bottom: 3px solid #f5f5f5;
  padding-bottom: 20px;
  margin-bottom: 16px;

  @media (max-width: $screen-phone) {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  margin: 0;
  margin-top: -4px;
  margin-bottom: 16px;
}

.category-main-description h1{
  color:#314654;
  width: 100%;
  margin-left: 0;
  text-transform: capitalize;
  font-family: "Avenir LT W01_65 Medium1475532";
  font-size: 26px;
  font-weight: normal;
  @media (max-width: $screen-phone) {
    font-size: 16px;
  }
}

//.subcats .subcat a{
//  color:#6f6f70;
//}

.category-list-header{
  display: block;
}
.category-main-image{
  width: 100%;
}
.category-main-image img{
  margin-bottom: 20px;
}
.facets-faceted-navigation-item-category-facet-option{
  padding:6px 0;
}

.facets-faceted-navigation-item-category-facet-option.option-active{
  color: #314654 !important;
  font-weight: normal;
}

.facets-faceted-navigation-item-category-facet-optionlist .option-active:before{
  content: "\f101";
  font-family: FontAwesome;
}

.facets-faceted-navigation-category-wrapper{
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 25px;
  margin-bottom: 25px;

  @media (max-width: $screen-phone) {
    margin-bottom: 0;
    display: none;
  }
}
.facets-faceted-navigation-category-wrapper h3{
  margin-bottom: 15px;
  font-family: "Avenir LT W01_65 Medium1475532";
  font-size:20px;
  color:#314654;

  @media (max-width: $screen-tablet) {
    font-size: 16px;
    margin-left: 10px;
  }
}