/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cart-detailed{
	@extend .cart;

	.item-views-selected-option-color-label-text, .cart-item-summary-item-list-actionable-amount-label,
	.cart-item-summary-item-list-actionable-label-qty, .item-views-selected-option-label,
	.cart-detailed-title {
		color: $sc-color-tertiary;
		font-weight: 600;
	}

	//.item-views-selected-option {
	//	.item-views-selected-option-label{
	//		color: $sc-color-tertiary;
	//		font-weight: 600;
	//	}
	//}
	.item-views-selected-option-color-label-text {
			font-size: $sc-base-font-size;
	}
	.item-views-selected-option-color-text {
		color: #6f6f70;
		text-transform: capitalize;
		font-size: $sc-base-font-size;
	}
	.item-views-selected-option-label {
		min-width: 87px;
		float:left;
	}
	//indentation fix (RD)
	.item-views-selected-option-color-label {
		min-width: 78px;
	}
	.rail-length-sibling-indent-fix {
			position: absolute;
			left: 174px;
			@media (max-width: 393px) {
				left: 33.5vw;
			}
			@media (min-width: 394px) and  (max-width: 500px) {
				left: 32vw;
			}
			@media (min-width: 501px) and  (max-width: 767px) {
				left: 30.75vw;
			}
			@media (min-width: 768px) and (max-width: 970px) {
				left: 18.19vw;
			}
			@media (min-width: 1200px) {
				left: 231px;
			}
	}
	.frame-color-sibling-indent-reverse {
		margin-left: 88px;
	}
	@media (min-width: 768px) and (max-width: 970px) {
		.item-views-selected-option-color-text {
			display: block;
		}
	}
	@media (max-width: 372px) {
		.margin-left-indent {
			margin-left: 88px;
		}
	}
	@media (max-width: 362px) {
		.smaller-word-margin-left-indent {
			margin-left: 88px;
		}
	}
	@media (max-width:336px), (min-width: 768px) and (max-width: 1199px) {
		.adjust-small-word {
			margin-left:99px;
		}
	}
	//end indentation fix (rd)

	.item-views-selected-option-color-tiles-container span {
		position: relative;
    bottom: 1.1px;
		width: 20px;
		height: 20px;
	}
}

.cart-detailed-view-header{
	@extend .view-header;
}

.cart-detailed-title{
	@extend .cart-title;
}

.cart-detailed-title-details-count{
	@extend .cart-title-details-count;
	@extend .middle-price;
}

.cart-detailed-confirm-message{
	@extend .confirm-message;
}

.cart-detailed-right{
	@extend .cart-right;
	margin-top: $sc-base-margin * 4;
	@media (min-width: $screen-md-min) {
		margin-top:  $sc-base-margin * 3;
	}
}

.cart-detailed-body{
	@extend .cart-body;
}

.cart-detailed-left{
	@extend .cart-left;
}

.cart-detailed-footer{
	@extend .cart-footer;
}

.cart-detailed-header{
	@extend .cart-header;
	h1{
		text-transform: none;
		font-size: $sc-h1-cart;
	}
}

.cart-detailed-savedforlater{
	@extend .cart-savedforlater;
}

.cart-detailed-proceed-to-checkout-container{
	@extend .cart-proceed-to-checkout-container;
}

.cart-detailed-proceed-to-checkout{
	@extend .cart-proceed-to-checkout;
	text-transform: uppercase;
	font-size: $sc-h4-font-size;
	font-family: "Avenir LT W01_85 Heavy1475544";
}

.cart-detailed-body-empty{
	@extend .cart-body-empty;
}

.cart-detailed-body-empty-title{
	@extend .cart-body-empty-title;
}

.cart-detailed-body-empty-info{
	@extend .cart-body-empty-info;
}

.cart-detailed-row-fluid{
	@extend .row-fluid;
}

.cart-detailed-recently-viewed{
	@extend .cart-recently-viewed;
}

//fix for 'Recently Viewed' header in shopping cart
.recently-viewed-items > h3 {
	font-weight: 400;
	font-size: 26px;
	color: #324654;
	text-transform: capitalize;
}
//end fix for 'Recently Viewed' header in shopping cart

.cart-detailed-related{
	@extend .cart-related;
}

.cart-detailed-correlated{
	@extend .cart-correlated;
}

.cart-detailed-item-view-cell-actionable-table{
	@extend .item-views-cell-actionable-table;
  	border-collapse: collapse;

	.item-views-cell-actionable-table-middle, .item-views-cell-actionable-table-first,
	.item-views-cell-actionable-table-last {
    	padding-bottom: 0;

		@media (min-width: $screen-md-min) {
			padding-bottom: 80px;
		}
	}

	td {
		padding-bottom: 80px;
	}

	p {
		font-size: $sc-smallest-font-size;
		color: $sc-color-theme;
	}
}

.cart-detailed-table-row-with-border{
}


[name="Type"] .item-views-selected-option-label {
	min-width: 99px;
}
@media (min-width:992px) and (max-width:1199px) {
	.item-views-selected-option-color-text {
		margin-left: 87px;
	}
}

@media (max-width: 402px), (min-width:971px) and (max-width: 991px) {
	.bigger-word-margin-left-indent {
		margin-left:87px;
	}
}
@media (max-width: 336px), (min-width: 768px) and (max-width: 991px) {
	.item-views-selected-option-color-text {
		margin-left:87px
	}
	.back-order {
		float:left;
	}
	.item-views-selected-option-label {
		margin-bottom:24px !important;
	}
}
