/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.overview-home-orders-title {
	padding: $sc-base-padding * 3 0;
	border-bottom: 1px solid $sc-color-theme-border;
	border-top: 1px solid $sc-color-theme-border;
	display: inline-block;
	width: 100%;
	h3 {
		@media (min-width: $screen-sm-min) {
			float: left;
		}
	}
}
.overview-home-orders-title-link {
	margin-top: $sc-base-margin;
	font-size:14px;

	@media (min-width: $screen-sm-min) {
		float: right
	}
}
.overview-home-orders-empty-list {
	margin: $sc-base-margin * 2 0 $sc-base-margin * 4;
}

.overview-home-mysettings {
	@extend .address-edit;
	margin-top: $sc-base-margin;
	@extend .row;
	font-family: $sc-avenir-font;


	h4{
		text-transform: none;
		letter-spacing: 0;
		color: $sc-blue-dark;
	}

	section {
		&.overview-profile-card,
		&.overview-shipping-card,
		&.overview-payment-card,
		.address-details
		{
			background-color: $sc-color-theme-background-lightest;
			p, b{
				color: $sc-color-text;
				font-family: $sc-avenir-font;
			}
		}
		a{
			background-color: transparent;
			color: $sc-blue-dark;
			border: 1px solid $sc-color-theme-background-light;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: $sc-base-margin * 5 0 0;
	}
}

.overview-home-mysettings-row {
	@extend .row;
	margin-top: $sc-base-margin * 3;

	section {
		@media (min-width: $screen-sm-min) {
			min-height: 305px;
		}
	}
}
.overview-home-mysettings-profile,
.overview-home-mysettings-shipping,
.overview-home-mysettings-payment {
	@extend .col-md-4;
	@extend .col-sm-6;
}

//LIST

.overview-home-content-table {
	@extend .recordviews-row-header;
}

.overview-home-content-table-header-row {
	@extend .recordviews-table;
}

.overview-home-content-table-header-row-title {
	@extend .recordviews-header;
	width: 20%;
}
.overview-home-content-table-header-row-date {
	@extend .recordviews-date-header;
	width: 15%;
}
.overview-home-content-table-header-row-currency {
	@extend .recordviews-currency-header;
	width: 20%;
}
.overview-home-content-table-header-row-origin {
	@extend .recordviews-status-header;
	width: 25%;
}
.overview-home-content-table-header-row-status {
	@extend .recordviews-status-header;
	width: 25%;
}
.overview-home-content-table-header-row-track {
	@extend .recordviews-header;
	width: 20%;

	@media (min-width: $screen-md-min) {
		text-align: right;
	}
}

.overview-home-order-history-results-container {
	.recordviews-tracking-number-header	{
		color: $sc-color-dark-copy;
	}

	.recordviews-tracking-number {
		color: $sc-color-primary;
		padding-bottom: $sc-base-padding * 3;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

		.recordviews-tracking-number-header{
			width: 50%;
			text-align: right;
			padding-right: $sc-base-padding * 3;
		}
	}

	@media (min-width: $screen-md-min) {
		.recordviews-tracking-number-header,
		.recordviews-tracking-number {
			 width: 20%;
			 text-align: right;
		}

		.recordviews-title {
			width: 20%;
		}
		.recordviews-date-header,
		.recordviews-date {
			width: 15%;
		}
		.recordviews-currency-header,
		.recordviews-currency {
			width: 20%;
		}
		.recordviews-status-header,
		.recordviews-status {
			width: 25%;
		}
	}
}

.overview-home-header-links{
	@extend .pull-right;
}


.overview-home-orders-list-table{
	@extend .table-flex-record-navigable;

	th{
		color: $sc-blue-dark
	}

	.overview-home-content-table-header-row-origin,
	.recordviews-origin{
		width:100%;
	}

	.overview-home-content-table-header-row-currency,
	.recordviews-currency{
		width:100%;
	}

	.overview-home-content-table-header-row-date,
	.recordviews-date{
		width:100%;
	}

	.overview-home-content-table-header-row-title,
	.recordviews-title{
		width:100%;
	}

	.overview-home-content-table-header-row-track,
	.recordviews-tracking-number {
		width:100%;
	}

	@media (min-width: $screen-md-min) {
		td {
			vertical-align:middle;
		}
		.overview-home-content-table-header-row-origin,
		.recordviews-origin{
			width:15%;
		}

		.overview-home-content-table-header-row-currency,
		.recordviews-currency{
			width:20%;
		}

		.overview-home-content-table-header-row-date,
		.recordviews-date{
			width:10%;
		}

		.overview-home-content-table-header-row-title,
		.recordviews-title{
			width:20%;
		}

		.overview-home-content-table-header-row-track,
		.recordviews-tracking-number {
			width:35%;
		}
	}

}

.overview-home-purchases-list {}

.overview-home-orders-empty-section{
	padding:$sc-base-padding * 8 $sc-base-padding * 3 $sc-base-padding * 3 $sc-base-padding * 3;
	text-align:center;
}
