/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-modal-large {
	@extend .modal-lg;
}
.global-views-modal-content {
	@extend .modal-content;
	padding: $sc-medium-margin + $sc-base-margin;
	border-radius: 0px;
	display: block;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

	button[data-action="reset"],
	button[data-action="cancel"],
	button[type="reset"],
	.product-list-edit-item-button-cancel,
	.product-list-new-form-cancel,
	.creditcard-edit-form-button-cancel{
		color: #ededed;
	    font-weight: 400;
	    background: #324654;
	    border: 1px solid #ededed;
	    opacity: 1;
	}
	.product-list-edit-item-input-quantity{
		height: 40px;
	} 
}
.global-views-modal-content-header {
	margin-bottom:$sc-medium-margin;
	display: inline-block;
	width: 100%;
}
.global-views-modal-content-header-close {
  margin-top: -2px;
	float:right;
	font-size:35px;
	font-weight:$sc-font-weight-normal;
	line-height:20px;
	color:$sc-color-theme-light;
	cursor: pointer;
	background: none;
}
.global-views-modal-content-header-title {
	@extend .modal-title;
	color: $sc-color-link;
	text-transform: capitalize;
}

.global-views-modal-content-body{}

@media(max-width: $screen-md-min){
	.global-views-modal{
		width: auto;
    	margin: 10px 5%;
    	.address-edit-fields{
    		width: 100%; 
    	}
	}
}
