/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-breadcrumb-item-active {
	@extend .breadcrumb-item-active;

	color: #ff7d2f;
}

.global-views-breadcrumb-item a{
	color: #6f6f70;
}

.global-views-breadcrumb-item {
	@extend .breadcrumb-item;
}

.global-views-breadcrumb-divider {
	@extend .breadcrumb-divider;
}

.global-views-breadcrumb {
	@extend .breadcrumb;
	font-size:13px;
	display: block;
	margin:10px auto;
	margin-bottom: 40px;

	@media (max-width: $screen-phone) {
		margin-bottom: 20px;
	}
}

.global-views-breadcrumb-divider-icon {
	@extend .breadcrumb-divider-icon;
}
.global-views-breadcrumb-divider-icon::before{
	content:"\\f101";
}
