/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-promocodeform{
	clear:both;
	display:block;
	overflow:hidden;
	margin-bottom:$sc-small-margin;

	@media(min-width: $screen-sm-min){
		margin-bottom:$sc-medium-margin;
	}
}

.order-wizard-promocodeform-expander-head{
	@extend .accordion-head-secondary;
}

.order-wizard-promocodeform-expander-head-toggle{
	@extend .accordion-head-toggle-secondary;
	background: transparent;
	font-size: $sc-h4-font-size-mobile;
	color: $sc-color-primary;
	font-weight: $sc-font-weight-bold;
	&:hover{
		color: $sc-color-primary;
	}
}

.order-wizard-promocodeform-expander-toggle-icon{
	@extend .accordion-toggle-icon-secondary;
	color: $sc-blue-dark;
}

.order-wizard-promocodeform-expander-body{
	@extend .accordion-body-alt;
}
.order-wizard-promocodeform-tooltip{
	@extend .order-wizard-promocode-tooltip;
	color: $sc-color-link;
}
.order-wizard-promocodeform-expander-container{}
.order-wizard-promocodeform-unsupported-summary-warning{
	padding:$sc-base-padding * 3;
}