<section class="itemdocument-list">
    <div class="itemdocument-list-results-container">
        <ul data-view="ItemDocument.Collection" class="documentcarousel-items" id="documentslider-items"></ul>
    </div>
</section>
