/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-submitbutton-container {
	@extend .col-xs-12;
	background: $sc-color-theme-background-light;
	padding:$sc-base-padding * 3;
	margin-bottom:$sc-small-margin;
	display:none;

	@media (min-width: $screen-sm-min) {
		display:block;
	}

}
.order-wizard-submitbutton-module-top{
	margin-top: $sc-small-margin;
	margin-bottom: $sc-medium-margin;
	@media (min-width: $screen-sm-min){
		display: none;
	}
}

.order-wizard-submitbutton-module-button{
	@extend .button-primary;
	@extend .button-large;
	@extend .button-generic;
	text-transform: uppercase;
	font-size: $sc-h2-font-size-mobile;
	font-weight: $sc-font-weight-bold;
}