{{!
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<section class="facets-facet-browse">
	<div data-cms-area="item_list_banner" data-cms-area-filters="page_type"></div>


	{{#if showResults}}
		<div class="facets-facet-browse-content">
				<div data-cms-area="facet_navigation_top" data-cms-area-filters="page_type"></div>
				{{#unless brandPage}}
				<div class="facets-facet-browse-facets" data-action="pushable" data-id="product-search-facets" data-view="Facets.FacetedNavigation" data-exclude-facets="category">
				</div>
				{{/unless}}

				<div data-cms-area="facet_navigation_bottom" data-cms-area-filters="page_type"></div>
				<!--
				Sample of how to add a particular facet into the HTML. It is important to specify the data-facet-id="<facet id>"
				properly <div data-view="Facets.FacetedNavigation.Item" data-facet-id="custitem1"></div>
				 -->

				<div class="facets-facet-browse-results">
							<header class="facets-facet-browse-header {{brandPageClass}}">

			{{#unless brandPage}}
				{{#if keywords}}
					{{#if isTotalProductsOne}}
								<!--
					<h1 class="facets-facet-browse-title" data-quantity="{{total}}">
						{{translate '1 Result for <span class="facets-facet-browse-title-alt">$(0)</span>' keywords}}
					</h1>-->
								<h1 class="facets-facet-browse-title" data-quantity="{{total}}">
									Search Result for "<span class="facets-facet-browse-title-alt">{{keywords}}</span>"
								</h1>
					{{else}}
								<!--
					<h1 class="facets-facet-browse-title" data-quantity="{{total}}">
						{{translate '$(0) Results for <span class="facets-facet-browse-title-alt">$(1)</span>' total keywords}}
					</h1>-->
								<h1 class="facets-facet-browse-title" data-quantity="{{total}}">
									Search Results for "<span class="facets-facet-browse-title-alt">{{keywords}}</span>"
								</h1>
					{{/if}}

				{{else}}
					{{#unless hasCategory}}
						{{#if isTotalProductsOne}}
						<h1 class="facets-facet-browse-title" data-quantity="{{total}}">
							{{translate '1 Product'}}
						</h1>
						{{else}}
						<h1 class="facets-facet-browse-title" data-quantity="{{total}}">
							{{translate '$(0) Products' total}}
						</h1>
						{{/if}}
					{{/unless}}
				{{/if}}
			{{/unless}}

			{{! Added header for category page}}
			{{#if hasCategory}}
				<div data-view="Facets.Browse.CategoryHeading"></div>
			{{/if}}
			{{! }}

			<nav class="facets-facet-browse-list-header">
                <p class="total-products">({{total}} Products)</p>
				
				<div class="facets-facet-browse-list-header-actions" data-view="Facets.ItemListDisplaySelector"></div>

				<div class="facets-facet-browse-list-header-expander">
					<button class="facets-facet-browse-list-header-expander-button collapsed" data-toggle="collapse" data-target="#list-header-filters" aria-expanded="true" aria-controls="list-header-filters">
						{{translate 'Sort & Filter'}}
						<i class="facets-facet-browse-list-header-expander-icon"></i>
					</button>
				</div>



				<div class="facets-facet-browse-list-header-filters" id="list-header-filters">
					<div class="facets-facet-browse-list-header-filters-wrapper">
						<div class="facets-facet-browse-list-header-filters-row">
	                        {{#if hasItemsAndFacets}}
    							<div class="facets-facet-browse-list-header-filter-column">
    								<button class="facets-facet-browse-list-header-filter-facets" data-type="sc-pusher" data-target="product-search-facets">
    									{{translate 'Filter By'}}
    									<i class="facets-facet-browse-list-header-filter-facets-icon"></i>
    								</button>
    							</div>
    						{{/if}}

                            <div class="facets-facet-browse-pagination" data-view="GlobalViews.Pagination">
                            </div>

    						<div class="facets-facet-browse-list-header-filter-column" data-view="Facets.ItemListSortSelector">
                            </div>

							<div class="facets-facet-browse-list-header-filter-column" data-view="Facets.ItemListShowSelector">
							</div>
						</div>
					</div>
					<div class="facets-facet-browse-list-header-filters-wrapper mobile">
						<div class="facets-facet-browse-list-header-filters-row">


							<div class="facets-facet-browse-pagination" data-view="GlobalViews.Pagination">
							</div>

							<div class="facets-facet-browse-list-header-filter-column" data-view="Facets.ItemListShowSelector">
							</div>

							<div class="facets-facet-browse-list-header-filter-column" data-view="Facets.ItemListSortSelector">
							</div>

							{{#if hasItemsAndFacets}}
							<div class="facets-facet-browse-list-header-filter-column">
								<button class="facets-facet-browse-list-header-filter-facets" data-type="sc-pusher" data-target="product-search-facets">
									{{translate 'Filter By'}}
									<i class="facets-facet-browse-list-header-filter-facets-icon"></i>
								</button>
							</div>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="facets-facet-browse-pagination" data-view="GlobalViews.Pagination">
                </div>
			</nav>
		</header>
					<meta itemprop="name" content="{{title}}"/>
					<div id="banner-section-top" class="content-banner banner-section-top" data-cms-area="item_list_banner_top" data-cms-area-filters="path"></div>
					{{#unless brandPage}}
					<div class="facets-facet-browse-narrowedby" data-view="Facets.FacetsDisplay">
					</div>
					{{/unless}}

					{{#if isEmptyList}}
						<div data-view="Facets.Items.Empty">
						</div>
					{{else}}
						<div class="facets-facet-browse-items" data-view="Facets.Items">
						</div>
					{{/if}}


		</div>

		<div class="facets-facet-browse-pagination" data-view="GlobalViews.Pagination">
		</div>
	{{else}}
		<div class="facets-facet-browse-empty-items" data-view="Facets.Items.Empty">
		</div>
	{{/if}}

	<div id="banner-section-bottom" class="content-banner banner-section-bottom" data-cms-area="item_list_banner_bottom" data-cms-area-filters="page_type"></div>
</section>