<!--<a href="/brandSubGroup?brandGroup={{associatedBrandGroup}}&brandSubGroup={{id}}">-->
<a href="/{{brandURLComponent}}/{{urlcomponent}}">
{{#if selected}}
    <p class="bold"><span class="global-views-breadcrumb-divider-icon"></span>&nbsp;{{name}}</p>
{{else}}
    <p>{{name}}</p>
{{/if}}

</a>