/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-list-lists-header{
	@include clearfix();
	border-top: 1px solid $sc-color-theme-border;
	border-bottom: 1px solid $sc-color-theme-border;
	padding-top: $sc-base-padding * 3;
	padding-bottom: $sc-base-padding * 3;
}

.product-list-lists-title{
	float: left;
	margin-bottom: $sc-base-margin * 2;

	@media (min-width: $screen-sm-min){
		margin-bottom: 0;
		line-height: 45px;
		height: 45px;	
	}
}

.product-list-lists-button-add{
	@extend .button-medium;
	@extend .button-secondary;
	float: right;
	background-color: $sc-color-tertiary;
	border: 1px solid $sc-color-tertiary;
	&:hover{
		background-color: rgba(50,70,84,0.9);
		border: 1px solid rgba(50,70,84,0.9);
	}
}

.product-list-lists-button-back {
	@extend .button-back;
}

.product-list-lists-button-back-icon {
	@extend .button-back-icon;	
}

.product-list-lists-details{
	@extend .product-list-list-details;
}

.productlist-list-lists{}
.product-list-lists-message{}
.product-list-lists-wrapper{}
.product-list-lists-subtitle{}
