/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-address-module-change-button{
	@extend .button-tertiary;
	@extend .button-small;
}

.order-wizard-address-module-edit-button{
	@extend .button-tertiary;
	@extend .button-small;
}

.order-wizard-address-module-new-button{
	@extend .button-secondary;
	@extend .button-medium;
	margin-bottom: $sc-small-margin;
	@media(max-width: $screen-xs-max){
		width: auto;
	}
}

.order-wizard-msr-addresses-module-new-button{
	@extend .order-wizard-address-module-new-button;
}

.order-wizard-address-module-form-placeholder{
	.address-edit {
		padding: 0;
		margin: 0;
	}
}

.order-wizard-address-module-save-button{
	@extend .button-primary;
	@extend .button-small;
}

.order-wizard-address-module-title{
	margin-bottom: $sc-base-margin * 2;
}

.order-wizard-address-module-address-container{
	background: $sc-color-theme-background-light;
	clear:both;
	display:block;
	overflow:hidden;
	.order-wizard-address-row:last-child {
		margin-bottom: 0;
	}
	@media(max-width: $screen-sm-max) and (min-width: $screen-sm-min){
		.order-wizard-address-cell6{
			width: 100%;
		}
	}
}

.order-wizard-address-module-show-addresses-container{
	@extend .box-column;
	overflow:hidden;
	h5 {
		text-transform:uppercase;
		margin-bottom: $sc-small-margin;
	}
}

.order-wizard-msr-addresses-module-address-container{
	background: $sc-color-theme-background-light;
	padding: $sc-base-padding * 8;
	clear:both;
	display:block;
	overflow:hidden;
}

.order-wizard-address-module-checkbox{
	margin-bottom: $sc-medium-margin;
	display:block;

}

.order-wizard-address-module-single {
	.address-details {
		@extend .col-sm-12;
		@extend .col-md-6;
	}
}

.order-wizard-address-cell12 {
	.address-details {
		margin-bottom: $sc-medium-margin;
	}
}

.address-details {
	button.address-details-select-address{
		width: auto;
	}
}

.order-wizard-address-module-list-placeholder{
	@extend .address-module-list-placeholder;
}

.order-wizard-address-module-form-actions{}