/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.home {
  @extend .container;
  // width: 1172px;
  padding-left: 0px;
  padding-right: 0px;

  @media (max-width: $screen-tablet) {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }

  @media (max-width: $screen-phone) {
    padding: 0;
    width: auto;
  } 
  
}

.home-banner-top-message {
  @extend .message-info;
  @extend .message-large;
}

.home-slider-container {
  margin-top:0;
  @extend .row;

  @media (min-width: $screen-desktop) {
    margin-top:$sc-base-margin * 4;
    margin-bottom:20px;
  }

  @media (max-width: 991px) {
    margin-right: 0 ;
  }

  @media (max-width: $screen-sm-min) {
    margin-left: 0;
    margin-right: 0;
  }

}
.home-image-slider {
  @extend .col-xs-12;
  @extend .col-sm-12;

  @media (max-width: $screen-md-min) {
    padding: 0;
  }
}

// start bx-slider specifics
$sc-image-slider-height: 527px;
$sc-image-slider-max-width: 1140px;
$sc-image-slider-max-width-mobile: 767px;

.home-image-slider .bx-wrapper {
  margin-bottom: $sc-base-margin * 8;
}
.home-image-slider .bx-pager-item {
  vertical-align: middle;
}
.home-image-slider .bx-controls,
.home-image-slider .bx-controls .bx-pager {
  margin-top: $sc-base-margin * 2;
  text-align: right;

  @media (max-width: $screen-tablet) {
    text-align: center;
  }

  @media (max-width: $screen-phone) {
    text-align: center;
  }

}

.home-image-slider .bx-wrapper,
.home-image-slider .bx-viewport {
  height: auto;
  /*height: $sc-image-slider-height !important;*/
}
.home-image-slider .bx-viewport ul li {
  overflow:hidden;
}

.home-image-slider .bx-wrapper > img {
  margin: auto 0;
  margin-top:$sc-base-margin * 20;
  float:none;
  @media (min-width: $screen-desktop) {
    max-width: $sc-image-slider-max-width !important;
    float:right;
    margin: 0 $sc-base-margin * 12 0 0;
    width:350px;
  }

  @media (max-width: $screen-tablet) {
    margin-bottom: 10px;
  }
}

.home-image-slider .bx-wrapper .bx-controls .bx-controls-direction .bx-next{
  display:none;
}

.home-image-slider .bx-wrapper .bx-controls .bx-controls-direction .bx-prev{
  display:none;
}



.home-image-slider .bx-wrapper .hs1{
  display:none;
  

  @media (min-width: $screen-desktop) {
    left: 636px;
    top: 49px;
    display: block;
   
  }
}
.home-image-slider .bx-wrapper .hs2{
    display:none;

  @media (min-width: $screen-desktop) {
    display: block;
    left: 376px;
    top: 124px;

  }
}
.home-image-slider .bx-wrapper .hs3{
  display:none;
  

  @media (min-width: $screen-desktop) {
    left: 201px;
    top: 285px;
    display: block;
  }
}
.home-image-slider .bx-wrapper .hs4{
  display:none;

  @media (min-width: $screen-desktop) {
    display: block;
    left: 780px;
    top: 443px;
  }
}

.home-gallery-prev-icon, .home-gallery-next-icon {
  position: absolute;
  top: 40%;
  width: $sc-target-size-mobile;
  height: $sc-target-size-mobile;
  font-size: 50px;
  color:#c5d7e0;
  display: none;
}

.home-gallery-prev-icon {
  left: $sc-base-margin * 6;
  @extend .icon-angle-left;

}

.home-gallery-next-icon {
  right:10px;
  @extend .icon-angle-right;
}

.home-image-slider .bx-pager {

  a {
    color: $sc-color-theme-light !important;
    background-color: $sc-color-theme-light!important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    font-size:0;
    text-indent:-9999px;
  }
  a.active{
    background-color: $sc-color-secondary;
  }
}

@media (min-width: $screen-md-min) {

  .home-image-slider .bx-wrapper {
    margin-bottom: 0;
  }
}

.home-image-slider .bx-pager {
  @media (min-width: $screen-md-min) {
    width: 940px;
    /*position: absolute !important;*/
    position: relative;
    bottom: $sc-medium-margin;
    text-align: center;
  }
  @media (min-width: $screen-lg-min) {
    width: 1140px;
  }
}
// end bx-slider specifics

.home-banner-main {
  margin-bottom:$sc-base-margin * 4;
  @extend .row;
}

.home-banner-main-cell-nth0{
  @extend .col-xs-12;
  @extend .col-sm-4;
  text-align:center;
  margin-bottom:$sc-medium-margin;

  img {
    margin:auto;
    float:left;
    @media (min-width: $screen-desktop) {
      max-width:100%;
      width: 100%;
      float: none;
    }
  }
}

.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2 {
  @extend .col-xs-6;
  @extend .col-sm-4;
  .home-banner-main-cell-text {
    display: none;
  }
  img {
    margin: 0 auto;
    float: none;
  }
}
.home-banner-main-cell-bg{
  background:$sc-color-slide-background;
  width: 100%;
  overflow: hidden;
}

.home-banner-main-cell-text{
  display:inline-block;
  color:$sc-color-theme;
  font-size:$sc-h2-font-size-mobile;
  text-transform:uppercase;
  font-weight:$sc-font-weight-light;
  line-height: 82px;
  float: left;
  @media (min-width: $screen-desktop) {
    display:none;
  }
}

.home-merchandising-zone {

  .merchandising-zone {
    border: 0;
  }
  .merchandising-zone-title {
      display: none;
  }
  .item-cell-main-image {
    margin:0 auto;
    width: $img-medium;
  }
}

.home-slide-main-container{
  /*background:$sc-color-slide-background;*/
  /*overflow:hidden;*/
  /*height:527px;*/
  position:relative;
  text-align:center;
  background-size:100% !important;
  @media (max-width: $screen-tablet) {
    /*height: 346px;*/
  }
  @media (max-width: $screen-phone) {
    /*height:175px;*/
  }
}

.home-merchandizing-zone{}
.home-image-slider-list{}

// --- HOME - POPULAR CATEGORIES STYLES
.home-section{
  @extend .container;
  color:#6f6f70;

  @media (max-width: $screen-phone) {
    display: none;
    color:#6f6f70;
  }
}
.home-section h2{
  color:#ff7d2f;
  font-family:'Clarendon LT W01 Roman1551494';
  font-weight: normal;
  margin:20px 0;  
  text-transform:capitalize;
  font-size: 24px;
}

.home-section a{
  color:#ff7d2f;
}

.home-section .product-list{
  margin:40px auto;
}

.home-section .product-list ul {
  @extend .row;
}

.home-section .product-list ul li{
  @extend .col-xs-3;
  @extend .col-sm-3;
  text-align:center;

  a:hover{
    text-decoration: underline;
  }
}

.home-section .product-list ul li img{
  width: 100%;
}

.home-section .product-list ul li .name{
  color:#314654;
  margin:10px 0;
  font-size:16px;
  font-family:'Avenir LT W01_55 Roman1475520';
}
// --- HOME - ENDS POPULAR CATEGORIES STYLES


// --- HOME - BRANDS STYLES 
.top-brands-wrap{
  @extend .container;
  margin:0 auto;
}

.top-brands{
  color:#6f6f70;

  @media (max-width: $screen-sm-min) {
    margin-top: 30px;
  }
}

.top-brands h2{
  color:#ff7d2f;
  font-family:"Times New Roman", Times, serif;
  font-weight:bold;
  margin:20px 0;  
  text-transform:capitalize;
  font-size: 24px;
}

.top-brands .brand-list{
  @extend .row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-brands .brand-list li{
  @extend .col-xs-3;
  @extend .col-sm-3;
  margin: 15px 0;

  img{
    border-top: 4px solid #324654;
  }

}
// --- HOME - ENDS BRANDS STYLES

// --- HOME - PROMOTIONS STYLES
.promotions-wrap{
  @extend .container;
  /*width:1170px;*/
  margin:0 auto;
  //padding: 70px 0;
  padding-top: 70px;
  padding-bottom: 70px;

  @media (max-width: $screen-sm-min) {
    padding: 5px 15px;
    margin:40px auto;
  }

  @media (max-width: $screen-phone) {
    padding: 70px 0;
  }

}

.promotions-wrap .prefered-builders-content{
  border-top:6px solid #324654;
  background:#fff;
  //width:576px;
  //padding:34px 26px;
  padding: 30px;
  //float: left;

  @media (max-width: $screen-md-min) {
    float:none;
    margin: 34px auto;
    margin-bottom: 20px;
  }

}

.promotions-wrap .prefered-builders-content .title img{
  float:left;
  margin-right: 20px;
}
.promotions-wrap .prefered-builders-content .title{
  margin-bottom: 30px;
}
.promotions-wrap .prefered-builders-content .title h2{
  font-family:"Times New Roman", Times, serif;
  text-transform:capitalize;
  color: #ff7d2f;
  font-size: 24px;
}

.promotions-wrap .prefered-builders-content .title h3{
  text-transform:capitalize;
  color: #ff7d2f;
  font-size: 16px;
}

.promotions-wrap .prefered-builders-content .left-content{
  float:left;
  width: 38%;

  @media (max-width: $screen-lg-min) {
    width: 40%;
  }
}

.promotions-wrap .prefered-builders-content .right-content{
  float:right;
  width: 49%;
}

.promotions-wrap .prefered-builders-content .right-content ul li{
  margin-bottom: 30px;
  list-style-image: url('../img/check.png');
}
.promotions-wrap .prefered-builders-content .right-content ul li p{
  color:#6f6f70;
  margin-left: 20px;
}
.promotions-wrap .prefered-builders-content .right-content ul li h3{
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 20px;
}
.promotions-wrap .prefered-builders-content .right-content .link-button{
  display: block;
  background:#ff7d2f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 25px;
  font-weight: bold;
  margin-left: -28px;
  text-align: center;
  //margin-top: 82px;
  margin-top: 25%;

  @media (max-width: 1199px) and (min-width: 992px) {
    margin-top: 0;
    margin-left: -15%;
  }

  @media (max-width: $screen-md-min) {
    margin-left: -10%;
    margin-top: 10%;
  }
}

.promotions-wrap .prefered-builders-content .right-content .link-button:hover{
  background: #ff6e17;
}

.promotions-image-container {
  padding: 0;

  img {
    display: block;
    width: 100%;
  }
}

.promotions-wrap .promotions-right {
  margin-bottom: 20px;
  padding: 0;
}

.promotions-wrap .promotions-right .left-content,
.promotions-wrap .promotions-right .right-content {
  padding: 15px 20px;
}

.promotions-wrap .promotions-right .left-content a{
  color: #ff7d2f;
}

.promotions-wrap .promotions-right .right-content a{
  color:#fff;
}

.promotions-wrap .promotions-right .left-content a:hover,
.promotions-wrap .promotions-right .right-content a:hover {
  text-decoration: underline;
}

.promotions-wrap .promotions-right .left-content h2,
.promotions-wrap .promotions-right .right-content h2 {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  margin:20px 0;
  text-transform: capitalize;

  // @media (max-width: 1199px) and (min-width: 992px) {
  //   font-size: 1.2em;
  // }
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    font-size: 1.8em;
    margin-top: 0;
  }

  @media (max-width: $screen-md-min) {
    font-size: 2em;
    margin-top: 0;
  }

  @media (max-width: $screen-sm-min) {
    font-size: 2.75vw;
    margin-bottom: 10px;
  }
}

.promotions-wrap .promotions-right .left-content h3,
.promotions-wrap .promotions-right .right-content h3 {
  color: #fff;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 30px;

  // @media (max-width: 1199px) and (min-width: 992px) {
  //   font-size: 1em;
  // }
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  @media (max-width: $screen-md-min) {
    margin-bottom: 15px;
  }

  @media (max-width: $screen-sm-min) {
    font-size: 2.25vw;
  }
}
// --- HOME - END PROMOTIONS STYLES

.whywerock-wrap{
  /*width:1170px;*/
  @extend .container;
  margin:0 auto;
  padding: 40px 0;
  text-align: center;

  @media (max-width: $screen-tablet) {
    padding: 0 40px;
  }

  @media (max-width: $screen-tablet) {

  }
}

.whywerock-wrap p{
   color:#7a7a7b;
   font-size:15px;
}

.whywerock-wrap img{
  margin:20px 0;
}

.whywerock-wrap h2{
  color:#ff7d2f;
  font-family:'Clarendon LT W01 Roman1551494';
  font-weight:bold;
  margin:20px 0;  
  text-transform:capitalize;
  font-size: 24px;
}

.whywerock-wrap ul li p a{
  color:#ff7d2f;
}

.whywerock-wrap ul li p a:hover{
  text-decoration: underline;
}

.whywerock-wrap ul{
  margin:20px auto;
}

.whywerock-wrap ul li{
  float:left;
  width:33%;
  padding:2%;
}

.whywerock-wrap ul li h3{
  color:#314654;
  text-transform:capitalize;
  font-weight:normal;
}
.whywerock-wrap ul li p{
  color:#6f6f70;
  margin:20px 0;
}





.home-bottom{
  display: block;

  @media (max-width: $screen-tablet){
    display:block;
  }

  @media (max-width: $screen-phone){
    display:none;
  }
}


.mobile-content{
  display: none;

  @media (max-width: $screen-tablet){
    display:none;
  }

  @media (max-width: $screen-phone){
    display:block;
  }

  .additional-contents li:first-child{
    border-right: 1px solid #ebebeb;
  }

  .additional-contents li{
    padding: 20px 0 0;
    border-right: 1px solid #ebebeb;
    position: relative;
    min-height: 120px;
  }

  .additional-contents li p{
    padding: 10px;
    background: #324554;
    position:absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }

  .additional-contents li:last-child{
    border-left: 1px solid #ebebeb;
  }
}

.home-slider-container .home-image-slider .bx-wrapper .bx-viewport{
  //height: 520px !important;
  height: auto !important;

  @media (max-width: $screen-tablet){
    height: auto !important;
  }

  @media (max-width: $screen-phone){
    height: auto !important;
  }
}