/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.recently-viewed-items {
	position:relative;
	h3{
		color: $sc-color-tertiary;
		font-size: $sc-h3-font-size;
		font-weight: 400;
		margin: $sc-base-margin * 4 0;
		text-transform: capitalize;
		@media (min-width: $screen-sm-min) {
			font-size: $sc-h1-font-size + 3;
			margin-bottom: $sc-base-margin * 8;
			}
	}
	.bx-controls-direction{
		text-align:right;
		margin-bottom:$sc-large-margin;
	}
}

ul.recently-viewed-row-cell li{
	display:inline-block;
}

.recently-viewed-cell-item {
	text-align: left;
}