.brandlisting-content {
  @extend .container;
}

.brandlisting-header {
  @extend .center-block;
  text-align: center;
}

//.brandgrouping-slider-container .home-slider-container .bx-pager.bx-default-pager {
//  position: absolute;
//  width: 100%;
//  right: 15px;
//  bottom: 0px;
//}
//
//.brandgrouping-slider-container .home-slider-container .home-gallery-prev-icon {
//  left: -13px;
//  display:block;
//}
//
//.brandgrouping-slider-container .home-slider-container .home-gallery-next-icon {
//  display:block;
//}

.brandlisting-title {
  color: $sc-color-link;
  font-family: $sc-clarendon-title;
  font-weight: $sc-font-weight-normal;
  margin-bottom: $sc-base-margin;
}

.brandlisting-message {
  color: $sc-color-theme;
  line-height: 2;
  white-space: pre-wrap;
}

.brandlisting-body {
  @extend  .brandlisting-header;
  background: $sc-color-theme-light;
  margin-top: $sc-base-margin * 4;
  max-height: 430px;
  width: 100%;
}

.brandlisting-footer {
  @extend .center-block;
  margin: $sc-base-margin * 4 0;
  p {
    color: $sc-color-theme;
    margin-bottom: $sc-base-margin * 4;
  }
}

.brandlisting-footer-alphabetical-index {
  @extend .center-block;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  margin-bottom: $sc-base-margin * 10;
}

.alphabetical-index {
  list-style: none;
  margin: 0;
  padding: $sc-base-padding * 2 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.alphabetical-index li {
  text-transform: capitalize;
  width: 10px;
  &.enabled {
    cursor: pointer;
    }
  &.disabled {
    color: #e3e3e3;
    cursor: auto;
  }
  @media (max-width: $screen-xs-min) {
    padding: $sc-base-padding $sc-base-padding * 2;
  }
}

.brandlisting-footer-alphabetical-result {
  @extend .center-block;
  border-bottom: 1px solid #e3e3e3;
  display: table;
  margin-bottom: $sc-base-margin * 10;
  padding-bottom: $sc-base-margin * 8;
  width: 100%;
}

.brand-listing-letter-container,
.brand-listing-brandgroup-container {
  display: table-cell;
  @media (max-width: $screen-xs) {
    display: block;
  }
}

.brand-listing-letter-container {
  vertical-align: top;
  width: 40px;
  @media (max-width: $screen-xs) {
    width: 100%;
  }
}

.result-container-letter {
  color: $sc-color-link;
  font-size: 36px;
  font-family: $sc-clarendon-title;
  font-weight: $sc-font-weight-normal;
  text-transform: capitalize;
}

.brand-listing-brand-container {
  @extend .row;
}

.brand-listing-brand-details {
  @extend .col-xs-12;
  margin-bottom: $sc-base-margin * 4;
  text-align: center;

  .brand-cell-image {
    margin-bottom: $sc-base-margin * 2;
  }
  @media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
    width: 50%;
  }
  @media (min-width: $screen-sm-max) {
    width: 25%;
  }
}

.result {
  height: 200px;
  margin-bottom: 5px;
  padding: 25px;
}

.result-letter {
  display: inline-table;
}

.result-container {
  width: 225px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.brandgrouping-content {
  @extend .facets-facet-browse;
}

.brandgrouping-container {
  @extend .facets-facet-browse-content;
}

.brandgrouping-left-container {
  @extend .facets-facet-browse-facets;

  @media (max-width: $screen-sm-max) {
    display: none !important;
  }
}

.brandgrouping-right-container {
  @extend .facets-facet-browse-results;

  .brandgrouping-logo-wrapper {
    display: block;
    max-width: 100px;
    border-bottom: none;
  }

  .brandgrouping-learn-navigation {
    max-width: inherit;
    clear: both;
    float: left;
    width: 100%;
    padding-top: $sc-base-padding * 2;
    margin-bottom: $sc-base-margin * 2;
    border-top: 3px solid #f5f5f5;
    li {
      display: block;
      a {
        padding-left: 0;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .brandgrouping-logo-wrapper {
      display: block;
      max-width: 200px;
      margin-bottom: 0;
      border-bottom: none;
    }

    .brandgrouping-learn-navigation {
      max-width: inherit;
      clear: both;
      float: left;
      width: 100%;
      padding-bottom: $sc-base-padding * 2;
      li {
        float: left;
        display: inline;
        margin-right: $sc-base-margin * 2;
      }
    }
  }

  @media (min-width: $screen-sm-max) {
    .brandgrouping-learn-navigation,
    .brandgrouping-logo-wrapper {
      display: none;
    }
  }

  //@media (max-width: $screen-sm-max) {
  //  width: 100%;
  //}
  //
  //@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  //  padding-left: $sc-base-padding * 3;
  //}
}

.brandgrouping-category-browse-navigation h3 {
  margin-bottom: $sc-base-margin * 3;
  font-size: 20px;
  color: #314654;
}

.brandgrouping-logo-wrapper {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: $sc-base-margin * 2;
}

.brandgrouping-learn-navigation {
  @extend  .brandgrouping-logo-wrapper;
  margin-bottom: $sc-base-margin * 4;
}

.brandgrouping-learn-navigation h3 {
  color: $sc-color-link;
  font-size: $sc-h2-font-size;
  margin-bottom: $sc-base-margin * 2;
  text-transform: capitalize;
}

.brandgrouping-learn-navigation a {
  padding: 0 $sc-base-padding * 2;
  margin-bottom: $sc-base-margin * 2;
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
  span {
    color: $sc-color-theme;
    float: left;
    margin-left: $sc-base-margin;
  }
}

.infoIcon {
  @extend .fa;
  @extend %fa-info-circle;
  color: $sc-color-link;
  font-size: 18px;
}

.brandgrouping-category {
  @extend .facets-faceted-navigation-item-facet-group;
  padding-left: 0;
  padding-right: 0;
}

.brandgrouping-category h4 {
  @extend .facets-faceted-navigation-item-facet-group-expander;
  @extend .facets-faceted-navigation-item-facet-group-title;
  font-size: 16px;
}

.brandgrouping-category a {
  @extend .facets-faceted-navigation-item-facet-option;
  padding-left: $sc-base-padding * 4;
  padding-bottom: 0;
  p {
    color: $sc-color-theme;
    font-size: 14px;
  }

  &:before {
    content: none;
  }
}

.brandgrouping-tags {
  @extend .category-main-description;
  margin-top: 0 !important;
  border-bottom: none !important;
  @media (max-width: $screen-xs-min) {
    h1 {
      font-size: $sc-h3-font-size !important;
      margin-bottom: $sc-base-margin * 2 !important;
    }
  }
}

.brand-slider li {
  z-index: 0 !important;
}


.brandgrouping-slider-container {
  clear: both;
  position: relative;
  width: 100%;
  .home-slider-container {
    margin-top: 0;
    margin-bottom: 0;
    .home-gallery-prev-icon,
    .home-gallery-next-icon {
      background: rgba(49, 70, 84, 0.9);
      display: block;
      height: 55px;
      text-align: center;
      top: 45%;
      width: 55px;
      &:hover {
        color: #c5d7e0 !important;
      }
    }
    .home-gallery-prev-icon {
      left: 0;
    }
    .home-gallery-next-icon {
      right: 0;
    }
  }
  .home-image-slider .bx-pager {
    display: none;
  }
  @media (max-width: $screen-phone) {
    .home-image-slider .bx-controls-direction {
      display: none;
    }
    .home-image-slider .bx-pager {
      display: block;
    }
  }
  @media (max-width: $screen-tablet) {
    .home-image-slider .bx-wrapper {
      margin-bottom: $sc-base-margin * 4;
    }
  }

}

.brandgrouping-brand-description, .brandgrouping-subgroup-description {
  clear: both;
  padding-bottom: $sc-base-padding * 4;
  width: 100%;
  p {
    color: $sc-color-theme;
    font-size: $sc-h5-font-size;
    @media (min-width: $screen-xs) {
      font-size: $sc-h4-font-size;
    }
  }
}

.brandgrouping-subgroup-description {
  border-bottom: 3px solid #f5f5f5;
  clear:both;
  margin-bottom: $sc-base-margin * 4;
}

.brandgrouping-sub-container {
  @extend .row;
}

.brandgrouping-brands {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid #f5f5f5;
  clear:both;
  h2 {
    color: $sc-color-link;
    text-transform: capitalize;
    font-size: $sc-h3-font-size;
    font-family: $sc-clarendon-title;
    font-weight: $sc-font-weight-normal;
    margin-bottom: $sc-base-margin * 2;
    @media (min-width: $screen-xs) {
      font-size: $sc-h1-font-size;
    }
  }
  p, p a {
    color: $sc-color-theme;
    font-size: $sc-h5-font-size;
    margin-bottom: $sc-base-margin * 2;
    @media (min-width: $screen-xs) {
      font-size: $sc-h4-font-size;
    }
    &.description {
      margin-bottom: $sc-base-margin * 4;
    }
  }
}

.colmd3 {
  @extend .col-md-3;

  @media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
    width: 50%;
  }
}

.colmd6 {
  @extend .col-md-6;

  @media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
    width: 50%;
  }
}

.colmd12 {
  @extend .col-md-12;

  @media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
    width: 100%;
  }
}

.brandgrouping-sub-brands {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  img {
    width: 100%;
    margin-bottom: $sc-base-margin * 2;
  }
}

.brand-common-questions,
.brand-install-instructions {
  h1, h2, h3 {
    color: $sc-color-tertiary;
    text-transform: capitalize;
    font-size: $sc-h3-font-size;
    font-weight: $sc-font-weight-normal;
    margin-bottom: $sc-base-margin * 2;
    @media (min-width: $screen-xs) {
      font-size: $sc-h1-font-size;
    }
  }
  p {
    color: $sc-color-theme;
    font-size: $sc-h4-font-size;
    margin-bottom: $sc-base-margin * 4;
  }
}

//.brandgrouping-category {
//  @extend .facets-faceted-navigation-item-facet-group;
//}
//
//.brandgrouping-category h4 {
//  @extend .facets-faceted-navigation-item-range-facet-group-expander;
//  @extend .facets-faceted-navigation-item-range-facet-group-title;
//
//  color: $sc-color-link;
//  text-transform: capitalize;
//}

//.brandgrouping-logo {
//  height: 100px;
//}
//
//.infoIcon {
//  @extend .fa;
//  @extend %fa-info-circle;
//
//  font-size:17px;
//}
//
//.brandgrouping-row {
//  margin-top: 10px;
//  border-top: 2px solid #e3e3e3;
//  padding-top: 10px;
//  padding-bottom: 10px;
//  border-bottom: 2px solid #e3e3e3;
//}
//
//.brandgrouping-learn h1 {
//  color: #fd7f34;
//  text-transform: none;
//  font-size: 15px;
//}
//
//.brandgrouping-learn p {
//  margin-bottom:2px;
//}
//
//.brandgrouping-learn p i {
//  margin-right: 5px;
//  color: #fd7f34;
//}
//
//.brandgrouping-header {
//  font-size: 16px;
//  margin-top: 20px;
//  margin-bottom: 20px;
//}
//
//.brandgrouping-category {
//  margin-bottom: 30px;
//
//}
//
//.brandgrouping-category h1 {
//  color: #fd7f34;
//  text-transform: none;
//  font-size: 15px;
//  font-weight: 700;
//  background: #ededed;
//  padding: 5px;
//  padding-left: 10px;
//}
//
//.brandgrouping-category p {
//  margin-left: 10px;
//  margin-top: 3px;
//  margin-bottom: 3px;
//}
//
//.brandgrouping-tags {
//  margin-bottom: 20px;
//  p {
//    font-size: 30px;
//  }
//}
//
//.brandgrouping-slider-container {
//  height: 400px;
//}
//
//.brandgrouping-brand-description {
//  padding-top: 20px;
//  padding-bottom: 20px;
//  p {
//    font-size:15px;
//  }
//}
//
//.brandgrouping-brands {
//  padding-top: 20px;
//  padding-bottom: 20px;
//  border-top: 2px solid #e3e3e3;
//  clear:both;
//}
//
//.brandgrouping-brands h1 {
//  color: #fd7f34;
//  text-transform: inherit;
//  font-size: 22px;
//  margin-bottom: 10px;
//}
//
//.brandgrouping-brands p {
//  font-size: 15px;
//  margin-bottom: 10px;
//}

//.colmd3 {
//  @extend .col-md-3;
//  padding:10px;
//
//  div {
//    width: 100%;
//    height: 200px;
//    margin-bottom: 5px;
//  }
//}
//
//.colmd6 {
//  @extend .col-md-6;
//  padding:10px;
//
//  div {
//    width: 100%;
//    height: 200px;
//    margin-bottom: 5px;
//  }
//}
//
//.colmd12 {
//  @extend .col-md-12;
//  padding:10px;
//
//  div {
//    width: 100%;
//    height: 200px;
//    margin-bottom: 5px;
//  }
//}
//
//.brandgrouping-logo-image {
//  width: auto;
//  height: 100%;
//}

//.brand-listing-letter-container {
//  background: red;
//  height: 100%;
//  position: fixed;
//  width: 30px;
//}
//
//.brand-listing-brandgroup-container {
//  @extend  .col-md-12;
//  padding-left: 30px;
//}

//.brand-listing-letter-container {
//  width: 100px;
//  float:left;
//  padding-top: 90px;
//}
//
//.brand-listing-brand-container {
//  width: 1070px;
//  float:left;
//  padding-top: 10px;
//  padding-bottom: 10px;
//}
//
//.brand-listing-alphabetical li {
//  border-bottom: 1px solid #e3e3e3;
//  clear:both;
//  display: inline-block;
//}
//
//.brand-listing-brand-details {
//  width: 25%;
//  float: left;
//  height: 200px;
//  text-align: center;
//}
//
//.brand-listing-letter-container span {
//
//}