/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

footer {
    /*background: $sc-color-theme-background;*/
    background: #fff;
    color:#6f6f70;
    border-top: 1px solid $sc-color-theme-border;
    /*color: $sc-color-tertiary;*/
}
.footer-content {
    @extend .container;
    @extend .row;
    margin: auto;
}
.footer-content-nav {
    overflow: hidden;
    padding: $sc-base-padding * 5 0 0 0;
    display:none;

    @media (min-width: $screen-sm-min) {
        display:block;
    }
}
.footer-content-nav-list {
    list-style: none;
    margin: 0 0 10px;
    width: 100%;
    margin-bottom:40px;

    @media (min-width: $screen-sm-min) {
        float: left;
        /*margin: 0 1%;*/
        /*width: 18%;*/
        width: 50%;
    }
}
.footer-content-nav-list > li,
.footer-connect > li {
    display: none;
    font-size: $sc-h5-font-size;
    padding-top: $sc-base-padding * 3;
    text-align: left;

    @media (min-width: $screen-sm-min) {
        display: list-item !important;
        font-size: 14px;
        height: auto !important;
        visibility: visible !important;
           padding-top: $sc-base-padding;
    }
}
.footer-content-nav-list:first-child {
    margin-left: 0;
}
.footer-content-nav-list-last {
    margin-bottom: 0;

    @media (min-width: $screen-sm-min) {
        margin-right: 0;
        width: 20%;
    }
}
.footer-connect {
    margin-right: 0;
    float: left;
    padding: $sc-base-padding * 6 0;

    @media (min-width: $screen-sm-min) {
        padding-top: $sc-base-padding * 5;
    }

}
.footer-social {
    overflow: hidden;
}
.footer-social-item {
    display: block;
    float: left;
    margin-right: 12px;
    text-align: -webkit-match-parent;
}
.footer-social-item a {
    color: $sc-color-secondary;
}

.footer-content-nav .first {
    /*color: $sc-color-theme-light;*/
    color:#324654;
    font-weight:bold;
    display: list-item;
    font-size: $sc-h4-font-size;
    margin-bottom: 3px;
    text-transform: uppercase;
    .wf-active & {
        font-family: 'Work Sans', sans-serif;
    }
}

.footer-content-nav-list a {
    /*color: $sc-color-theme-background-light;*/
    color: #6f6f70;
}
.footer-newsletter-email-form-input {
    @extend .input-large;
    min-width:200px;
    width:220px;
    display: inline;
}
.footer-newsletter-email-form-submit {
    @extend .button-large;
    @extend .button-primary;
   padding: $sc-base-padding * 2.2 $sc-base-padding * 3;
}
.footer-social-facebook-icon {
    font-size: 20px;
    color: #ff7d2f;
    @extend .fa;
    @extend %fa-facebook-square;
}
.footer-social-twitter-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-twitter-square;
}
.footer-social-google-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-google-plus-square;
}
.footer-social-pinterest-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-pinterest-square;
}
.footer-content-copyright {
    /*border-top: 1px solid $sc-color-theme;*/
    clear: both;
    color: $sc-color-theme-light;
    font-size: $sc-smallest-font-size;
    margin-top: $sc-base-margin * 3;
    padding: $sc-base-padding * 3 0;
    text-align:left;

    @media (min-width: $screen-md-min) {
        padding-bottom: $sc-base-padding * 5;
        padding-top: $sc-base-padding * 5;
        text-align: left;
    }
}
.footer-content-copyright ul{
    margin-bottom:20px;
}
.footer-content-copyright ul li {
    /*border-right: 1px solid $sc-color-theme-light;*/
    display: inline-block;
    padding: 0 $sc-base-padding * 1;
}
.footer-content-copyright ul li a {
    /*color: $sc-color-theme-light;*/
    color: #ff7d2f;
}

.footer-thirdcol{
    float:left;
    width:33%;
    padding-left:3%;
}

ul.company-name{
    width:100%;
    float:none;
    margin-top:20px;
}

ul.customer-service{
    width:100%;
    float:none;
}

ul.newsletter-signup{
    width:100%;
    float:none;
}


.footer-thirdcol .shopper-approved{
    float:left;
}

.footer-thirdcol .shopper-reviews, .footer-thirdcol .bbb-rating, .footer-thirdcol .norton-secured{
    float:right;
}

.footer-thirdcol .bbb-rating{
    margin:20px 0;
}

.footer-thirdcol .shopper-reviews{
    margin-right:65px;
}

.footer-thirdcol .norton-secured{
    margin-right:74px;
}

.footer-mobile{
    text-align:center;
    padding:30px 20px;
    
    h2{
        color:#334654;
        font-weight:normal;
        margin-bottom:20px;
    }

    ul{
        list-style:none;
        margin:20px 0;
    }

    ul li{
        display:inline-block;
        float:left;
        width:48%;
        text-align:left;
    }

    ul li a{
        color:#707070;
    }


    
    @media (min-width: $screen-sm-min) {
        display:none;
    }
}