.brand-landing-navigation-view {
  @extend .brandgrouping-left-container;
}

.brand-landing-details-container {
  @extend .brandgrouping-right-container;
}

.inlineHeaderBrandLandingClass {
  border:none;
}

.brand-landing-details-container {
	.facets-facet-browse-header {
		margin-bottom: 40px;
	}
}