/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-views-cell-actionable{
	display:block;
	clear:both;
	&:hover{ 
		background:none; 
	}
}

.item-views-cell-actionable-image{
	@extend .col-xs-3;
	@extend .col-sm-3;
}

.item-views-cell-actionable-details{
	@extend .col-xs-9;
	@extend .col-sm-6;
}

.item-views-cell-actionable-actions{
	@extend .col-xs-offset-3;
	@extend .col-xs-9;
	@extend .col-sm-offset-0;
	@extend .col-sm-3;
}

.item-views-cell-actionable-name{
	margin-bottom:$sc-small-margin;

	.byItem{
		margin: $sc-base-margin 0 $sc-base-margin * 2 ;
		font-weight: $sc-font-weight-semibold;
		color: $sc-blue-dark;
	}
}

.item-views-cell-actionable-name-link{
	@extend .medium-title-navigable;
	text-transform: none;
	color: $sc-color-tertiary;
}

.item-views-cell-actionable-name-viewonly{
	@extend .medium-title-viewonly;
}

.item-views-cell-actionable-thumbnail{
	img{
		width:$img-bigest;
		border: 1px solid $sc-color-theme-border;
	}
}

.item-views-cell-actionable-price{
	margin-bottom:$sc-small-margin;
}

.item-views-cell-actionable-price .item-views-price-lead{
	@extend .middle-price;
	font-size: $sc-h4-font-size;
}

.item-views-cell-actionable-sku{
	font-size: $sc-base-font-size;
	color: $sc-color-theme;
	margin-bottom: $sc-base-margin * 2;
}

.item-views-cell-actionable-qty{
	clear:both;
	display:block;
	width:100%;
	font-size:$sc-base-font-size;
}

.item-views-cell-actionable-qty input[type=number]{
    float: left;
    width: 60px;
    height: 40px;
    padding: 0;
    padding-right: $sc-base-padding;
    text-transform: uppercase;
    text-align: right;
    color: $sc-color-copy;
    background: $sc-color-theme-background-light;
    outline: none;
    border: 0px;
}

.item-views-cell-actionable-label-qty{
	@extend .sc-label;
	display: block;
	margin-right: 15px;
	line-height: 1.2;
	overflow:hidden;
	margin-top:$sc-base-margin;
	margin-bottom:$sc-base-margin;
}

.item-views-cell-actionable-input-qty{
	display:block;
	margin-bottom:$sc-small-margin;
	overflow:hidden;
}

.item-views-cell-actionable-details{
	.cart-option{
	margin-bottom:$sc-base-margin;	
	}
}

.item-views-cell-actionable-options{
	margin-bottom: $sc-base-margin *4;
	.cart-option{
		font-size:$sc-base-font-size;
	}
	p{
		line-height: normal;
	}
	.item-views-selected-option-label{
		font-size: $sc-base-font-size;
		color: $sc-blue-dark !important;
	}
	.item-views-selected-option-value{
		font-size: $sc-base-font-size;
		color: $sc-color-text;
	}
}

.item-views-cell-actionable-amount{
	clear:both;
	display:block;
	font-size:$sc-base-font-size;
	font-family: "Avenir LT W01_85 Heavy1475544";
	margin-bottom:$sc-medium-margin;
	@media (min-width: $screen-sm-min){
		margin-bottom:0px;
	}
		
}

.item-views-cell-actionable-amount-label{
	@extend .sc-label;
}

.item-views-cell-actionable-edit-button{
   @extend .split-button;
    @media (min-width: $screen-sm-min){
		 position:absolute;
	}
}
 
.item-views-cell-actionable-edit-button-edit{
	@extend .button-tertiary;
	@extend .button-small;
	border-right:none;
}

.item-views-cell-actionable-edit-button-drop{
	@extend .button-tertiary;
	@extend .button-small;
	i{
		@extend .fa;
		@extend %fa-angle-down;
	}
}

.item-views-cell-actionable-edit-content{
    @extend .split-button-dropdown;
    @extend .dropdown-menu;
    //position:relative;
    display:none;
    padding:$sc-base-padding * 3;
     @media (min-width: $screen-sm-min){
		 left:-65px;
	}
	li{
		margin-bottom:$sc-base-margin;
	}
	li:last-child{
		margin-bottom:0;
	}
    li a{
    	margin:0px;
    	padding:0px;
    	line-height:1.2;
    	cursor:pointer;
    	cursor:hand;
    	color:$sc-color-link;
    	&:hover{
    		color:$sc-color-link-hover;
   			text-decoration:none;
   			background:none;
   		}
    }
}

.item-views-cell-actionable-table{
	@extend .table-flex-item-actionable;
	table-layout: fixed;
}

.item-views-cell-actionable-table td{
	padding-left:$sc-base-padding * 3;
	padding-right:$sc-base-padding * 3;
	vertical-align:top;
}

.item-views-cell-actionable-table-first{
	 @extend .table-flex-tdfirst;
	 width:27%;
	 padding-left: 0 !important;
}

.item-views-cell-actionable-table-middle {
	@extend .table-flex-middle;
	color: $sc-blue-dark;

	.info-data{

		margin-bottom: 20px;

		.color-info{
			width: 17px;
			height: 17px;
			border: solid 1px $sc-color-text;
			display: inline-block;
		    margin: 0 $sc-base-margin;
		    position: relative;
		    top: 3px;

			&.first{
				background: #c0c0c0;
			}
			&.second{
				background: #2c1703;
			}
		}

		.name-info {
		    min-width: 80px;
		    display: inline-block;
		}
	}

	.back-order{
		border-top: 1px solid $sc-color-theme-border;
	    border-bottom: 1px solid $sc-color-theme-border;
	    padding: 10px 0;
	    margin-bottom: 20px;
	    max-width: 260px;
	    overflow: hidden;

	    .back-title{
	    	color: $sc-color-primary;
	    	text-transform: uppercase;
		    font-weight: $sc-font-weight-semibold;
			margin-bottom: $sc-base-margin;
			i {
				background-image: url("../img/stock-status-value.jpg");
				background-position: 0px -20px;
				background-repeat: no-repeat;
				display: inline-block;
				height: 24px;
				margin-right:  $sc-base-margin;
				width: 24px;
				vertical-align: middle;
			}
	    }

		.in-date {
			font-size: $sc-base-font-size;
		}

		.in-date-label {
			font-family: "Avenir LT W01_85 Heavy1475544";
			text-transform: uppercase;
		}

	    .back-data{
	    	color: $sc-color-text;
	    	margin-bottom: $sc-base-margin * 1.4;
	    	.expected-date{
				color: #6f6f70;
				font-size: $sc-base-font-size;
	    		//text-transform: uppercase;
	    		//font-weight: $sc-font-weight-semibold;
	    		//font-size: $sc-small-font-size;
	    	}
	    }

	    .ships-free{
	    	border: 1px solid $sc-color-theme-border;
	    	float: left;
	    	padding: $sc-base-padding;
	    	color: $sc-color-tertiary;
			font-family: "Avenir LT W01_85 Heavy1475544";
			i {
				background-image: url("../img/diy-pdp-shipping-icon.jpg");
				background-repeat: no-repeat;
				display: inline-block;
				height: 30px;
				margin-right:  $sc-base-margin;
				width: 30px;
				vertical-align: middle;
			}
	    }
        //
	    //.text-icon{
	    //	position: relative;
		 //   top: -8px;
		 //   left: 5px;
	    //}
	}
}

.item-views-cell-actionable-table-last{
	 @extend .table-flex-tdlast;
	 vertical-align:top;
	 @media (min-width: $screen-sm-min){
		width:25%;
	}
}
.item-views-cell-actionable-alert-placeholder{
	margin:$sc-base-margin * 2 0;
}

.item-views-cell-actionable-sku-label{
	@extend .sc-label-sku;
}

.item-views-cell-actionable-sku-value{
	@extend .sc-value-sku;
}
.item-views-cell-actionable-stock{}
.item-views-cell-actionable-summary{
	
}
.item-views-cell-actionable-line-tr{}