/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/


.item-views-cell-navigable{
	@extend .table-flex-item-navigable;
	margin:$sc-base-margin * 2 0;
}

.item-views-cell-navigable-item-image{
	@extend .table-flex-tdfirst;
	@extend .column-type-image;
	img{
		width:100%;
	}
}

.item-views-cell-navigable-details {
	@extend .table-flex-middle-first;
	@extend .table-flex-middle-data;
	.byItem{
		margin: $sc-base-margin 0 $sc-base-margin * 2 ;
		font-weight: $sc-font-weight-semibold;
		color: $sc-blue-dark;
	}

	.info-data{

		margin-bottom: 20px;

		.color-info{
			width: 17px;
			height: 17px;
			border: solid 1px $sc-color-text;
			display: inline-block;
		    margin: 0 $sc-base-margin;
		    position: relative;
		    top: 3px;

			&.first{
				background: #c0c0c0;
			}
			&.second{
				background: #2c1703;
			}
		}

		.name-info {
		    min-width: 80px;
		    display: inline-block;
		}
	}

	.back-order{
		border-top: 1px solid $sc-color-theme-border;
	    border-bottom: 1px solid $sc-color-theme-border;
	    padding: 10px 0;
	    margin-bottom: 5px;
	    max-width: 260px;
	    overflow: hidden;

		.back-title{
			color: $sc-color-primary;
			text-transform: uppercase;
			font-weight: $sc-font-weight-semibold;
			margin-bottom: $sc-base-margin;
			i {
				background-image: url("../img/stock-status-value.jpg");
				background-position: 0px -20px;
				background-repeat: no-repeat;
				display: inline-block;
				height: 24px;
				margin-right:  $sc-base-margin;
				width: 24px;
				vertical-align: middle;
				}
		}

		.back-data{
			color: $sc-color-text;
			margin: $sc-base-margin * 1.4 0;
			.expected-date{
				color: #6f6f70;
				font-size: $sc-base-font-size;
				//text-transform: uppercase;
				//font-weight: $sc-font-weight-semibold;
				//font-size: $sc-small-font-size;
				}
			}

		.ships-free{
			border: 1px solid $sc-color-theme-border;
			float: left;
			padding: $sc-base-padding;
			color: $sc-color-tertiary;
			font-family: "Avenir LT W01_85 Heavy1475544";
			i {
				background-image: url("../img/diy-pdp-shipping-icon.jpg");
				background-repeat: no-repeat;
				display: inline-block;
				height: 30px;
				margin-right:  $sc-base-margin;
				width: 30px;
				vertical-align: middle;
				}
		}

	    .text-icon{
	    	position: relative;
		    top: -8px;
		    left: 5px;
	    }
	}

}

.item-views-cell-navigable-amount {
	@extend .table-flex-middle-last;
	@extend .table-flex-middle-data;

	@media (min-width: $screen-md-min){
		text-align: right;
}
}

.item-views-cell-navigable-value{
	@extend .sc-value;
}

.item-views-cell-navigable-sku-label {
	@extend .sc-label-sku;
}
.item-views-cell-navigable-sku-value{
	@extend .sc-value-sku;
}
.item-views-cell-navigable-product-price-label {
	@extend .sc-label;
}
.item-views-cell-navigable-product-price-value {
	@extend .sc-value;	
}
.item-views-cell-navigable-item-unit-price {
	@extend .table-flex-middle-data;
	@extend .column-type-amount;

	@media (min-width: $screen-md-min){
		text-align: right;
	}
}

.item-views-cell-navigable-item-unit-price-value {
	@extend .sc-value;
}

.item-views-cell-navigable-item-unit-price-label {
	@extend .sc-label;
}

.item-views-cell-navigable-item-reason-label {
	@extend .sc-label;	
}

.item-views-cell-navigable-item-quantity-label {
	@extend .sc-label;
	color: $sc-blue-dark;
	font-weight: $sc-font-weight-bold;
}

.item-views-cell-navigable-item-quantity{
	@extend .sc-value;
	@extend .table-flex-middle-data;
	padding: 0;

	.item-views-cell-navigable-item-quantity-value{
		color: $sc-blue-dark;
		font-weight: $sc-font-weight-bold;
	}

	@media (min-width: $screen-md-min){
		text-align: right;
	}
}

.item-views-cell-navigable-item-totalprice-label{
	@extend .sc-label;
}

.item-views-cell-navigable-item-amount-label{
	@extend .sc-label;
	color: $sc-blue-dark;
	font-weight: $sc-font-weight-bold;
}

.item-views-cell-navigable-item-amount-value{
	@extend .middle-price;
	color: $sc-blue-dark;
	font-weight: $sc-font-weight-bold;
}

.item-views-cell-navigable-item-old-price{
	@extend .old-price;
}

.item-views-cell-navigable-product-title{
	@extend .medium-title;
}

.item-views-cell-navigable-product-title-anchor{
	@extend .medium-title-navigable;
	color: $sc-blue-dark;
}

.item-views-cell-navigable-amount{
	@extend .column-type-amount;
	@extend .table-flex-middle-data;
	@extend .table-flex-middle-last;
	padding: 0 0 $sc-base-padding * 3;
}

.item-views-cell-navigable-item-quantity-label,
.item-views-cell-navigable-item-unit-price-label,
.item-views-cell-navigable-item-amount-label{
	@media (min-width: $screen-md-min){
		display: none;
	}
}

.item-views-cell-navigable-header-col-amount {
	@extend .column-type-amount;
	display:block;
}

.item-views-cell-navigable-product-name{}
.item-views-cell-navigable-product-price{}
.item-views-cell-navigable-item-quantity-value{
	@extend .column-type-quantity;

	@media (min-width: $screen-md-min){
		display:block;
	}
}
.item-views-cell-navigable-item-reason-value{}
.item-views-cell-navigable-stock{}