/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-relations-related {
	position: relative;
}

.item-relations-related .bx-controls-direction {
    text-align: right;
	margin-bottom: $sc-base-margin * 3;
}

.item-relations-related h3 {
    color: $sc-color-tertiary;
    font-size: $sc-h3-font-size;
    font-weight: 400;
    margin: $sc-base-margin * 4 0;
    text-transform: capitalize;
    @media (min-width: $screen-sm-min) {
      font-size: $sc-h1-font-size + 3;
      margin-bottom: $sc-base-margin * 8;
    }
}

.item-relations-related .global-views-star-rating {
    margin: 0 auto;
    display: inline-block;
}

.item-relations-related-row{
	@extend .row-fuild;
}

.item-relations-cell {
  text-align: left;
}