/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.home-image-slider .bx-wrapper .hotspot{
  position: absolute;
  width: 46px;
  background: url("../img/DIY_Misc_Sprite.png") 52px 250px;
  height: 46px;

	@media (max-width: $screen-tablet){
		background: url("../img/DIY_Misc_Sprite.png") 338px 43px;
		height: 31px;
		width: 29px;
	}

  	@media (max-width: $screen-phone){
		display:none;
	}
}

.home-image-slider .bx-wrapper .close-hotspot{
  background: url("../img/DIY_Misc_Sprite.png") 51px 196px;

	@media (max-width: $screen-tablet){
		background: url("../img/DIY_Misc_Sprite.png") 302px 43px;
		height: 31px;
		width: 29px;
	}

  	@media (max-width: $screen-xs-min){
		display:none;
	}
}

.hotspot-part{
	position: absolute;
	display: none;

	@media (max-width: $screen-xs-min){
		display:none;
	}
}
.hotspot-part .left-arrow{
	background: url("../img/left-arrow-white.png");
	width: 16px;
	height: 30px;
	float:left;
	margin-top: 20%;
	margin-left: -16px;
}

.hotspot-part .item-contents-wrap {
	background: #fff;
	width: 360px;
	padding: 10px 14px;

	@media (max-width: $screen-tablet){
		display:block;
		width: 320px;
		padding: 8px;
	}

	@media (max-width: $screen-phone){
		display:none;
	}

	.item-contents{
		float: left;
		width:160px;
		margin-left:20px;

		.item-name {
			color: #324654;
			margin-bottom: 15px;
			font-size: 15px;
			text-align: left;

			@media (max-width: $screen-tablet){
				font-size: 12px;
				width:160px;
			}
		}

		.item-price{
			color:#ff7d2f;
			text-align:left;
			font-size: 15px;
			@media (max-width: $screen-tablet){
				font-size: 12px;
			}
		}

		.desc{
			color:#6f6f70;
			font-size: 12px;
			text-align: left;
			@media (max-width: $screen-tablet){
				font-size: 10px;
			}
		}

		.shop-now{
			text-align: left;
			position: absolute;
			padding-top: 10px;
			bottom: 10px;
			border-top: 2px solid #ebebeb;
			display: block;
			width: 160px;
		}

		.shop-now a{
			text-align: left;
			padding-top: 4px;
			font-size: 15px;
			@media (max-width: $screen-tablet){
				font-size: 12px;
			}
		}
	}
}

.hotspot-part .item-contents-wrap .item-image{
	float:left;
	width: 145px;
	border:1px solid #dedcd9;

	@media (max-width: $screen-tablet){
		width: 116px;
	}

	img{
		width: 100%;
	}
}