/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.header-menu-myaccount-back{
	@extend .header-sidebar-menu-back;
}

.header-menu-myaccount-pop-icon {
	@extend .header-sidebar-menu-pop-icon;
}

.header-menu-myaccount-menu-push-icon {
	@extend .header-sidebar-menu-push-icon;
}

.header-sidebar-menu-wrapper .header-menu-myaccount-signout-link {
	display: none;
}

.header-menu-myaccount a.active {
	background-color: $sc-color-theme-background-lightest;
}

.header-menu-myaccount-level3{}

//applies only to the myaccount menu on desktop header
.header-menu-profile {

	.header-menu-myaccount-anchor {
		display: none;
	}

	.header-menu-myaccount-overview-anchor {
		@media (min-width: $screen-sm-min) {
			font-size: $sc-base-font-size +2;
			font-weight: $sc-font-weight-bold;
			float: left;
			padding: $sc-base-padding * 3 0;
			color: $sc-blue-dark;
		}
	}

	.header-menu-myaccount-back {
		display: none;
	}

	.header-menu-myaccount-menu-push-icon{
		display:none;
	}

	.header-menu-myaccount-overview {
		margin-bottom: $sc-base-margin * 7;
		border-bottom: 1px solid $sc-color-theme-border;
		@extend .clearfix;
	}

	.header-menu-myaccount-item-level2 {
		float: left;
		width: 20%;
		padding-right: $sc-base-padding * 6;
	}

	.header-menu-myaccount-anchor-level2 {
		@extend .header-menu-level2-anchor;
		border-bottom: 1px solid $sc-color-theme-border;
	    width: 100%;
	    display: block;
	    padding-bottom: $sc-base-padding*2;
	    margin-bottom: $sc-base-margin*2;
	}


	.header-menu-myaccount-anchor-level3 {
		@extend .header-menu-level3-anchor;
		line-height: 18px;
	}

	.header-menu-myaccount-signout-link {
		float: right;
		display:block;
		padding: $sc-base-padding * 3 0;
		font-weight: $sc-font-weight-bold;
		font-size: $sc-base-font-size + 2;
		font-family: $sc-avenir-font;
	}

	.header-menu-myaccount-signout-icon{
		@extend .fa;
		@extend %fa-sign-out;
		font-size: $sc-h4-font-size;
	}
}

.header-menu-myaccount-level4 {

	@media (min-width: $screen-md-min) {
		display: none;
	}
}
.header-menu-myaccount-item-level3 {}
.header-menu-myaccount-anchor-level4 {}
.header-menu-myaccount-level2-orders {}
.header-menu-myaccount-level3-orders {}