/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

$sc-secondary-menu-height: 40px;

///////////////////////////////////////////////////////////////
// header logo

.header-logo-wrapper {
	/*max-width: 299px;
	width: 60%;*/
	width: auto;
	max-width: none;

	//@media (max-width: $screen-phone) {
	@media (max-width: $screen-sm-min) {
		float: none;
		width: 200px;
		margin: 0 auto;
	}
}

///////////////////////////////////////////////////////////////
// main nav positioning

.header-menu-searchmobile-icon {
	color: $sc-color-primary;
}
.header-menu-search-icon,
.header-menu-searchmobile-icon {
	color: $sc-color-primary
}

///////////////////////////////////////////////////////////////
// secondary nav styles

.header-secondary-wrapper {
	/*background-color: $sc-color-theme-background-light;*/
	background-color:#fff;

	height: auto;
	line-height: 40px;
	background-color: #ededed;
	
	// @media (min-width: $screen-tablet) {
	// 	width: auto;
	// }
}

///////////////////////////////////////////////////////////////
//main nav styles

.header-menu-cart-link {
	overflow: hidden;
	color: $sc-color-theme-background;
	background-color: $sc-color-theme-background-lightest;
}


.header-menu-cart-link-enabled{
	&.header-menu-cart-link {
		background-color: white;
		color: $sc-color-theme;
	}
	.header-menu-cart-icon {
		color: $sc-color-theme;
		background-color: white;
		@media(min-width: $screen-md-min) {
		/*color: $sc-color-theme;*/
		color: #ff7d2f;
	    background-color: white
		}	
	}
}

.header-menu-cart-link-enabled{
	&.header-menu-cart-link:hover {
		background-color: white;
	}
}

.header-menu-cart-legend {
	background-color: $sc-color-theme-background-lightest;
	padding: 0;
	float:right;
	display: none;

	@media(min-width: $screen-md-min) {
		display: inline;
	}
}

.header-menu-cart-icon {
	@extend .fa;
	@extend %fa-shopping-cart;
	font-size: $sc-h3-font-size;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
	background-color: $sc-color-secondary;
	color: white;
	

	@media(min-width: $screen-md-min) {
		display: inline;
		color: $sc-color-theme-background;
		background-color: transparent;
		margin-right: 5px
	}
}

.header-top-content .col{
	width:25%;
	text-align:center;
	padding:0;
	font-size: 14px;
	float:left;
	font-family: "Avenir LT W01_85 Heavy1475544";
	color: #f2fafe;
	padding: 10px 0  15px 0;
	line-height: 22px;

	@media(max-width: $screen-tablet) {
		width:25%;
		text-align:center;
		padding: 12px 0 18px 0;
		font-size: 12px;
		/*padding: 20px 0;*/
	}

	@media(max-width: $screen-phone) {
		width:35%;
		padding:5px;
	}

	img{
		margin-right: 5px;
	}

	a .image-wrap{
		display: inline-block;
		text-align: right;
		/*height: 45px;*/
		@media(max-width: 880px) {
			/*position: absolute;*/
			/*height: 45px;*/
			float: left;
			width: 20%;
		}
		@media(max-width: $screen-phone) {
			/*position: absolute;*/
			/*height: 45px;*/
			text-align: right;
		}

	}
	
	a p{
		color: #fff;
		display: inline-block;
		font-size: 14px;

		@media(max-width: 880px) {
			font-size: 12px;

			float: left;
			width: 70%;
			text-align: left;
		}

		@media(max-width: 639px) {
			/*margin-left: 20px;*/
			float: left;
			width: 70%;
			text-align: left;
		}

	}
}


.header-top-content{
	padding: 0px 0;

	&.header-diy-pro-builder-row {
		@media (max-width: $screen-md-min) {
			.col {
				width: 25% !important;
			}
		}
	}
}

.header-top-content .col span{
	display:none;
	@media(min-width: $screen-md-min) {
		display:inline;
	}
}

.header-top-content .col.wprobuilder:nth-child(2){
	/*width: 19%;*/
}

.header-top-content a{
	@media(max-width: $screen-phone) {
		font-size: 12px;
	}
}

.header-top-content .first{
	text-align:left;
	p{
		width: 100%;
	}

	@media(max-width: $screen-phone) {
		width: 60%
	}
}

.header-top-content .col:nth-child(3) {
	text-align: center;
}


.header-top-content .col:nth-child(3),.header-top-content .col:nth-child(4) {
	display:block;

	@media(max-width: $screen-tablet) {
		display:block;
	}

	@media(max-width: $screen-phone) {
		display:none;
	}
}


%header-link {
	display: block;
	min-width: $sc-target-size;
	height: $sc-target-size;
	line-height: $sc-target-size;
	color: $sc-color-theme;
	text-align: center;
	position: relative;
	background-color: transparent;
}

.header-menu-settings-link,
.header-menu-cart-link,
.header-menu-searchmobile-link {
	@extend %header-link;
}

.header-menu-settings-link {
	padding: 0 $sc-base-padding * 2;
	margin-right: $sc-base-margin * 4;
}

.header-menu-cart-dropdown {
	margin-top: 0;
    margin-bottom: 0;

    @media(min-width: $screen-tablet) {
		margin: 0;
	}

    @media(min-width: $screen-desktop) {
		margin: 0 5px 0 0;
	}
}
.site-message{
	background-color:#ff7d2f;
	color:#fff;
	text-align:center;
	padding:10px 0;
}

.header-top-content .col .star-icon{
	margin-bottom: 5px;
}

.header-top-content .last{
	text-align:center;
	width: 25%;
}

.header-top-content .wprobuilder:nth-child(3){
		width: 19%;

}

.header-top-content .col.wprobuilder{
	@media(max-width: $screen-tablet) {
		width: 19%;
	}

}

.header-top-content .last.wprobuilder{
	text-align:center;
	width: 13%;
}
.header-top-content .first.wprobuilder{
	@media(max-width: $screen-tablet) {
		width: 30%;
	}
	@media(max-width: $screen-phone) {
		//width: 40%;
		width: 50% !important;
	}
}


.header-top-content .col.wprobuilderphone{
	@media(max-width: $screen-tablet) {
		width: 20%;
	}
	@media(max-width: $screen-phone) {
		//width: 35%;
		width: 50% !important;
	}
}

.header-top-content .col.first a p {
	width: 100%;
}

.home-slide-main-container{
	.hotspots{
		@media (max-width: $screen-md-min) {
			display: none;
		}
	}

	.parts{
		@media (max-width:$screen-md-min) {
			display: none;
		}
	}

}

.home-slide-caption{
	display:block;
	position: absolute;
	width:486px;
	font-family:'Avenir LT W01_55 Roman1475520';
	padding-right:0px;
	padding: 20px;
	text-align:left;
	height: auto;
	right:0;
	top:162px;
	background: url("../img/bluebg.png");

	@media (max-width: $screen-md-min) {
		width:320px;
		font-size: 20px;
		display: none;
	}

	@media (max-width: $screen-phone) {
		display: none;
	}

	h2.home-slide-caption-title{
		margin-bottom:$sc-small-margin;
		/*font-size:$sc-base-font-size * 2.66;*/
		font-size:20px;
		line-height: $sc-base-font-size * 2.66;
		color:$sc-color-secondary;
		font-family:'Avenir LT W01_55 Roman1475520';
		font-weight: normal;
		text-transform: none;
		@media (min-width: $screen-desktop){
			margin-bottom:$sc-medium-margin;
			font-size:32px;
		}
	}
	p{
		display:block;
		color:#fff;
		font-size: 12px;
		font-weight:$sc-font-weight-light;
		float: none;

		@media (min-width: $screen-desktop){
			font-size: 14px;
			float: left;
			width:56%;
		}

		@media (max-width: $screen-tablet){
			font-size: 12px;
			float: left;
			width:56%;
		}
	}

	.home-slide-caption-button-container{

		padding:0;
		margin-left:0;
		margin-right:0;
		position:relative;
		bottom:0px;

		@media (max-width: $screen-tablet){
			padding:0;
			margin-left:0;
			margin-right:0;
			position:relative;
			bottom:0px;
		}

		@media (max-width: $screen-phone){
			padding-left:$sc-base-padding *4;
			padding-right:$sc-base-padding *4;
			position:absolute;
			margin-left: -$sc-base-padding *2;
			bottom:-60px;
			width: 100%;
		}
	}

	.home-slide-caption-button{
		@extend .button-primary;
		@extend .button-large;
		background: #ff7d2f;
		padding: 8px;
		font-size: 12px;
		font-weight: bold;
		float:right;
		width: 45%;
		font-family:'Avenir LT W01_85 Heavy1475544';


		@media (min-width: $screen-desktop){
			font-size: 15px;
			padding: 10px 25px;
		}

		@media (min-width: $screen-xs-min){
			width: auto;
			position:relative;
		}
	}
}

.home-slide-caption-mobile{
	text-align: center;
	display:none;
	margin-top: -3px;

	@media (max-width: $screen-md) {
		display:block;
	}

	h2.home-slide-caption-title{
		background:#334654;
		color: #fff;
		font-weight: normal;
		text-transform: none;
		padding: 10px 0;
	}

	p{
		padding: 10px 20%;
		color: #6f6f6f;
		font-size: 1.1em;
	}


}