/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

///////////////////////////////////////////////////////////////
// header sidebar menu look and feel

.header-sidebar-wrapper .header-sidebar-menu-separator {
	background-color: $sc-color-theme-background-light;

	@media (min-width: $screen-md-min) {
		background-color: $sc-color-theme-background;

	}


}

.header-sidebar-menu-wrapper .header-sidebar-menu-back {
	padding: $sc-base-padding * 3;
	margin:0;
	background: $sc-color-theme-light;
	color: $sc-color-link;
	text-transform: capitalize;
}

.header-sidebar-menu li[data-view="RequestQuoteWizardHeaderLink"] {
		display: none;
}

.header-sidebar-menu-wrapper .header-sidebar-menu-transition,
.header-sidebar-menu-wrapper ul {
	height: auto !important;
	overflow: auto !important;
}

// NEW DIY SIDEBAR MENU STYLES
.diy-sidebar-pro-builder {
	float: right;
	width: 30%;
	display: none;

	@media (max-width: $screen-md-min) {
		display: block;
	}

	img {
		display: block;
	}
}

.header-sidebar-menu-wrapper {
	@media (max-width: $screen-md-min) {
		border-top: 0;
	}

	.diy-main-heading {
		font-family: 'Clarendon LT W01 Roman1551494';
		font-size: 22px;
		line-height: 1.75;
		padding: 5px 15px;
		letter-spacing: 1px;
		color: #fff;
		background-color: $sc-color-primary;
		text-transform: capitalize;
	}

	a {
		font-size: 18px;
		line-height: 1.75;
		padding: 10px 15px;
		color: $sc-color-tertiary;
		text-transform: capitalize;
	}

	.header-menu-myaccount-anchor {
		background-color: $sc-color-tertiary;
		color: #fff;

		& > .header-menu-myaccount-menu-push-icon {
			color: #fff;
		}
	}

}
.header-sidebar-wrapper .header-sidebar-user-logout {
	font-size: 18px;
	line-height: 1.75;
    padding: 10px 15px;
    height: auto;
}


