// THIS IS A CUSTOM SCSS FILE FOR MY ACCOUNT STYLES

.myaccount-layout {
	.accordion-head-toggle-secondary {
		color: #fff;
	}
}

// --- PURCHASE ORDER STYLES ---
.order-history-shipping-group-info-card-info,
.order-history-details-info-card-info {
	color: $sc-color-text;
	background-color: #fff;
}

.global-views-format-payment-method-number,
.global-views-format-payment-method-number b,
.global-views-format-payment-method-name,
.global-views-format-payment-method-expdate {
	color: $sc-color-text;
}

.order-history-summary-button-reorder,
.order-history-summary-button-download-pdf {
	color: $sc-color-tertiary;

	&:hover,
	&:focus,
	&:active {
		color: inherit;
	}
}