/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.myaccount-layout {
	@extend %sc-layout;
}

.myaccount-layout-container{
	// Footer module will set a bottom padding with the size of the footer	(on Footer.View.js)
	@extend .container;
}

.myaccount-layout-header {
	@include box-shadow(3px 0px 6px $sc-color-secondary);
  margin-bottom: $sc-base-margin * 5;
}

.myaccount-layout-row{
	@extend .row;
}

.myaccount-layout-main{
	@extend .col-xs-12;
	@extend .col-sm-9;
	font-family: $sc-avenir-font;
	color: $sc-blue-dark;
	letter-spacing: 0;
	margin-bottom: 70px;
	/*
	@media (min-width: $screen-sm-min){
		margin-bottom: 70px;
	}*/
	.page-not-found {
		overflow: hidden;
	}

	h3, h2{
		text-transform: none;
		letter-spacing: 0;
		color: $sc-color-tertiary;
		font-family: $sc-avenir-font;
	}

	label{
		color: $sc-color-tertiary;
	}

	.profile-emailpreferences-reset,
	.print-statement-form-actions-email {
		@extend .button-generic-blue;
	}
}

.myaccount-layout-footer {
	@extend %sc-footer; 
}

.myaccount-layout-title{
	margin-bottom: $sc-medium-margin;
	display:none;

	@media (min-width: $screen-sm-min){
		display: block;
		text-transform: none;
		color: $sc-blue-dark;
		font-family: $sc-avenir-font;
		letter-spacing: 0;
	}
}

.myaccount-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}

.myaccount-layout-side-nav{

	@extend .col-sm-3;
	display: none;

	@media (min-width: $screen-sm-min){
		display: block;
	}
}

.force-hide-side-nav{

	.myaccount-layout-side-nav{
		display: none;
	}

	.myaccount-layout-title{
		display: none;
	}

	.myaccount-layout-main{
		@extend .col-sm-12;
	}
}

.myaccount-layout-breadcrumb{}
.myaccount-layout-error-placeholder{}