/*
    © 2016 NetSuite Inc.
    User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
    provided, however, if you are an authorized user with a NetSuite account or log-in, you
    may use this code subject to the terms that govern your access and use.
*/

.address-list {
    @extend .address-edit;
}
.address-list-default-addresses,
.address-list-other-addresses {
    .backbone-collection-view-row {
        margin: 0;
    }
}
.address-list-button-container {
    @extend .info-card-button-container;
    padding: 0 20px 20px;
}
.address-list-button-info-cards-new {
    @extend .button-info-cards-new;
    @extend .button-generic-orange;
}
.address-list-button-back {
    @extend .button-back;
}
.address-list-button-back-icon {
    @extend .button-back-icon;
}

.address-details{
    background: $sc-color-theme-background-lightest;
    .address-details-edit-address,
    .address-details-remove-address{
        background: transparent;
        color: $sc-blue-dark;
        border: 1px solid $sc-color-theme-background-light;
    }  
    p, b{
        color: $sc-color-text;
    } 
}