.recommendedaccessories-container .recommendedaccessories-header {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
    color:#314654;
    text-transform: none;
}

.recommendedaccessories-img {
    //border: 1px solid red;
}

.recommendedaccessories-list-results {
    position:relative;
}

.recommendedaccessories-list-results .bx-wrapper .bx-viewport {
    height: auto !important;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.recommendedaccessories-container {
    margin-top: 20px;
    padding-top: 10px;
    //border-top: 1px solid #e3e3e3;
    width: 100%;

    @media (min-width: $screen-sm-min){
        width: 386px;
    }
}

.recommendedaccessories-title, .recommendedaccessories-price {
    //width:175px;
    font-size: $sc-h5-font-size;
    margin-top: 5px;
    text-align: center;
}

.recommendedaccessories-price {
    color: #314654;
    font-size: $sc-h4-font-size;
    font-weight: bold;
    text-align: left;
}

.recommendedaccessories-title {
    color: #6f6f70;
    text-align: left;
}

.recommendedaccessories-list-results .rc-details-carousel-prev {
    width: 46px;
    height: 52px;
    position: absolute;
    cursor: pointer;

    left: -0.1em;
    top: 65px;
}

.recommendedaccessories-list-results .rc-details-carousel-next {
    width: 46px;
    height: 52px;
    position: absolute;
    cursor: pointer;

    right: 0.1em;
    top: 65px;
}

.recommendedaccessories-list-details-results-table-column {
    float: left;
    list-style: none;
    position: relative;
    margin-right: 15px;
}

.bx-next.disabled, .bx-prev.disabled {
    display:none
}