/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-shipmethod-module{
	@extend .box-column;
	font-size: $sc-h4-font-size;
}

.order-wizard-shipmethod-module-title{
	margin-bottom: $sc-medium-margin;
}

.order-wizard-shipmethod-module-message{
	@extend .message-info;
}

.order-wizard-shipmethod-module-option-select{
	@extend .input-large;
}

.order-wizard-shipmethod-module-option{
	color: $sc-color-copy;
	display: block;
	padding: $sc-base-padding * 5;
	margin-bottom: $sc-base-margin * 2;
	background-color: $sc-color-theme-background-lightest;
	cursor: pointer;
}

.order-wizard-shipmethod-module-option-active{
	background-color: #fff;
}


.order-wizard-shipmethod-module-checkbox{
	margin-right: $sc-base-margin * 2;
}

.order-wizard-shipmethod-module-option-price{
	float: right;
}

.order-wizard-msr-shipmethod-module-message{
	@extend .message-warning;
}

.order-wizard-msr-shipmethod-package-message-icon{
	@extend .icon-base;
	@extend %fa-exclamation-triangle;
}

.order-wizard-shipmethod-module-option-name{
	color: $sc-blue-dark;
}

//Special Shipping 

.special-shipping{
	display: block;
    padding: 25px;
    margin-bottom: 10px;
    background-color: #fff;
    cursor: pointer;
    color: $sc-color-primary;
}