/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-details {
	@extend .container;
}

.item-details-content {

	@media (min-width: $screen-md-min) {
		margin-top: $sc-base-margin * 5;
	}
}

.item-details-info {
	.item-view-lead-price {
		@extend .large-price;
	}
}

.item-details-divider {

	margin: $sc-base-margin * 5 0;
	height:1px;
	background-color: $sc-color-theme-background;
	clear:both;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.item-details-divider-desktop {
	display: none;

	@media (min-width: $screen-md-min) {
		@extend .item-details-divider;
		margin-top:20px;
		border: none;
		display: block;
	}
}

.item-details-main-content {
	@extend .row;
}

.item-details-content-header {
	@extend .col-sm-6;
	@extend .col-md-6;
	.global-views-star-rating-empty, .global-views-star-rating-filled {
		font-size: 20px;
	}
}
.item-details-content-header-title {
	color: $sc-color-tertiary;
	font-size: $sc-h1-font-size;
	font-weight: 400 !important;
	margin-bottom: $sc-base-margin * 2;
	//font-family: "Avenir LT W01_85 Heavy1475544";
	@media (min-width: $screen-sm-min) {
		font-size: $sc-h1-font-size + 3;
		}
}
.path {
	color: $sc-color-link;
	margin-bottom: $sc-base-margin * 4;
	font-size: $sc-h3-font-size - 2;
	@media (min-width: $screen-sm-min) {
		font-size: $sc-h3-font-size;
		}
}

.diy-item-details-price-brand-container {
	@extend .center-block;
	padding-top: $sc-base-padding * 3;
	padding-bottom: $sc-base-padding * 3;
	.item-views-price{
		float: left;
		margin-right: $sc-base-margin * 3;
		.item-views-price-lead {
			color: $sc-color-tertiary;
			font-size: $sc-h1-font-size;
			line-height: 44px;
			font-weight: 400 !important;
			font-family: "Avenir LT W01_55 Roman1475520";
			@media (min-width: $screen-sm-min) {
				font-size: $sc-h1-font-size + 3;
			}
		}
		//[itemprop="highPrice"] {
		//	color: $sc-color-link;
		//	text-decoration: line-through;
		//}
	}
}

.item-details-brand-logo-value {
	border-left: 1px solid #e3e3e3;
	float: left;
	padding-left: $sc-base-padding * 3;
}

.diy-item-details-onsale-message {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	color: #6f6f70;
	padding-top: $sc-base-padding * 3;
	padding-bottom: $sc-base-padding * 3;
	margin-bottom: $sc-base-padding * 4;
	h4 {
		color: $sc-color-link;
		margin-bottom: 10px;
		span {
			background-image: url("../img/onsale-message.png");
			background-repeat: no-repeat;
			display: inline-block;
			height: 32px;
			margin-right:  $sc-base-margin * 2;
			width: 32px;
			vertical-align: middle;
		}
	}
}

.diy-item-details-vp-icon, .diy-item-details-shipping-promotions {
	background: #FFFFFF;
	border: 1px solid #e3e3e3;
	color: $sc-color-tertiary;
	display: inline-block;
	font-size: 12px;
	font-family: "Avenir LT W01_85 Heavy1475544";
	margin-left: $sc-base-margin - 2;
	margin-bottom: $sc-base-padding * 4;
	padding: $sc-base-padding;
	text-align: left;
	i {
		background-repeat: no-repeat;
		display: inline-block;
		height: 30px;
		margin-right:  $sc-base-margin;
		width: 30px;
		vertical-align: middle;
	}
	@media (min-width: $screen-sm-min) {
		margin-right: $sc-base-margin * 2;
		font-size: $sc-h5-font-size;
	}
}

.diy-item-details-vp-icon i {
	background-image: url("../img/diy-pdp-vp-icon.jpg");
}

.diy-item-details-shipping-promotions i {
	background-image: url("../img/diy-pdp-shipping-icon.jpg");
}

.item-views-option-color, .item-views-option-dropdown-color{
	margin-bottom: $sc-small-margin * 2;
}

.item-views-option-color-label, .item-views-option-dropdown-color-label {
	color: $sc-color-tertiary;
	font-size: $sc-h3-font-size - 2;
	font-weight:$sc-font-weight-bold;
	margin-bottom: $sc-small-margin;
	text-transform: capitalize !important;
	span{
		color: $sc-color-theme;
		font-size: $sc-h5-font-size;
	}
}

.item-views-option-tile-title {
	color: $sc-color-theme;
	font-size: $sc-h5-font-size;
	margin-bottom: $sc-small-margin;
	text-transform: capitalize !important;
	strong {
		color: $sc-color-tertiary;
		font-size: $sc-h3-font-size - 2;
		font-weight:$sc-font-weight-bold;
	}
}

.item-views-option-dropdown-color  {
	select {
		border: 1px solid #e3e3e3;
		border-radius: 0;
		display: inline-block;
		padding: 10px 40px 10px 10px;
		color: $sc-color-tertiary;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
		outline: none;
		@media (min-width: $screen-sm-min) {
			min-width: 260px;
		}
	}
}

.diy-item-details-promo-overlay {
	background-color: $sc-color-link;
	color: #ffffff;
	display: inline-block;
	font-size: $sc-h4-font-size;
	padding: $sc-base-padding * 2;
	position: absolute;
	right: 15px;
	top: 0px;
	z-index: 1;
}

//.global-views-star-rating-empty, .global-views-star-rating-filled {
//	color: $sc-color-star-empty-disable !important;
//}

.item-details-rating-header {
	margin-top: $sc-base-margin;
	margin-bottom: $sc-base-margin * 4;

	.global-views-star-rating {
		float: none;
	}
}

.item-details-image-gallery-container{
	@extend .col-sm-6;
	@extend .col-md-6;
	margin-bottom: 0;
	position: relative;

	@media (min-width: $screen-md-min) {
		margin-bottom: $sc-large-margin;
	}
}

.item-details-image-gallery {
	.bx-viewport, .item-details-image-gallery-detailed-image {
		border: 1px solid #e3e3e3 !important;
		text-align: center;
	}
	.bx-pager {
		a {
			@extend .bx-viewport;
			margin: 0 $sc-base-margin * 2 $sc-base-margin * 2 0 !important;
		}
	}
	@media (min-width: $screen-md-min) {
		.bx-wrapper .bx-pager {
			text-align: left !important;
		}
	}
}

.item-details-gallery-prev-icon, .item-details-gallery-next-icon{
	position: absolute;
	top: 30%;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	font-size: 50px;
	color:#c5d7e0;
	text-align: center;
	line-height: 0.8;
	@extend .fa;
}

.item-details-gallery-prev-icon:focus, .item-details-gallery-next-icon:focus {
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.item-details-gallery-prev-icon{
	left: 0px;
	@extend %fa-angle-left;
}

.item-details-gallery-next-icon{
	right: 0px;
	@extend %fa-angle-right;
}

.item-details-carousel-next,
.item-details-carousel-prev {
	position: absolute;
	top: 45%;
	font-size: 50px;
	color: #c5d7e0;
	text-align: center;
	line-height: 0.8;
}


.item-details-carousel-next{
	right: 0px;
	@media (min-width: $screen-xs-max) {
		right: -40px
	}
}

.item-details-carousel-prev{
	left: 0px;
	@media (min-width: $screen-xs-max) {
		left: -40px
	}
}

.item-details-carousel-next.disabled,
.item-details-carousel-prev.disabled {
	display: none;
}

.control-text{
	display:none;
}

.item-details-main {
	@media (min-width: $screen-sm-min) {
		@extend .col-sm-6;
		@extend .col-md-6;
	}
}

.item-details-price{
	margin-top: $sc-base-margin * 2;
}

.item-details-price .item-views-price-lead{
	@extend .large-price;
}

.item-details-sku-container {
	color: $sc-color-theme;
	font-size: $sc-base-font-size;
	margin-top: $sc-base-margin * 6;
	margin-bottom: $sc-base-margin * 2;
	@extend .sku;
}

.item-details-options-pusher {
	@extend .push-button-primary;
	margin-top: $sc-base-margin * 4;
	font-weight: $sc-font-weight-semibold;
	position: relative;

	& > span {
		font-weight: $sc-font-weight-normal;
		text-transform: capitalize;
	}

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}

}

.item-details-options-content {
	height: 100%;
	margin-top:0;
	background: $sc-color-theme-background-light;

	.pdp-detail-options-content-wrapper{
		padding: $sc-base-padding * 4;
	}

	@media (min-width: $screen-sm-min) {
		background: transparent;
		padding-bottom: 0;
		overflow:hidden;
	}

	.item-view-lead-price {
		@extend .large-price;
	}
}

.item-details-options-content-price,
.item-details-options-content-stock {
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.item-details-stock-status-time-to-ship-container {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	//margin-bottom: $sc-base-margin * 3;
	padding: $sc-base-padding * 3 0;
	.item-details-stock-status-value {
		background-image: url("../img/stock-status-value.jpg");
		background-repeat: no-repeat;
		font-size: $sc-h4-font-size-mobile;
		padding-left: $sc-base-padding * 5;
		text-transform: uppercase;
		&.instock {
			background-position: 0px 0px;
			color: #0bb67c;
		}
		&.backordered {
			background-position: 0px -20px;
			color: $sc-color-link;
		}
		&.cannotorder {
			background-position: 0px -42px;
			color: #f3595c;
		}
	}
	.item-details-time-to-ship-value {
		color: $sc-color-theme;
		font-size: $sc-h5-font-size + 1;
	}
}

.item-details-important-container {
	background-color: #f1f1f1;
	color: $sc-color-theme;
	padding: $sc-base-padding * 3;
	h4 {
		color: $sc-color-link;
		margin-bottom: $sc-base-margin * 2;
		span {
			background-image: url("../img/item-details-important-icon.png");
			background-repeat: no-repeat;
			display: inline-block;
			height: 48px;
			margin-right:  $sc-base-margin * 2;
			width: 48px;
			vertical-align: middle;
		}
	}
	.message-body {
		margin-bottom: $sc-base-margin * 3;
	}
}

.item-details-actions {
	margin-bottom: $sc-base-margin * 4;
	.product-list-control-button-wishlist {
		background: #ffffff;
		border-color: $sc-color-theme;
		font-size: $sc-h5-font-size;
		color: $sc-color-tertiary;
		&:before {
			@extend .fa;
			@extend %fa-star;
		}
		&:hover{
			color: $sc-color-theme;
		}
		&:disabled,
		&:hover:disabled {
			color: #c6c6c6;
			border-color: #c6c6c6;
		}
		@media (min-width: $screen-md) and (max-width: $screen-lg) {
			padding-top: 14px;
			padding-bottom: 14px;
		}

		@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
			padding: 10px;
			height: 55px;
			font-size: 14px;
		}
	}
}

.diy-item-details-return-policy-container {
	display: block;
	margin-bottom: $sc-medium-margin;
	padding-bottom: $sc-base-padding * 3;
	border-bottom: 1px solid #e6e6e6;
	@media (min-width: $screen-sm-min) {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.diy-item-details-return-policy-link {
	display: inline-flex;
	margin-bottom: $sc-small-margin;
	padding-bottom: $sc-base-padding * 3;
	border-bottom: 1px solid #e6e6e6;
	vertical-align: middle;
	width: 100%;
	@media (min-width: $screen-sm-min) {
		border-bottom: none;
		padding-bottom: 0;
	}
	.diy-item-details-return-policy-link-text {
		line-height: 22px;
		font-size: $sc-h5-font-size + 1;
		float: left;
	}
	.diy-item-details-return-policy-link-icon {
		@extend .fa;
		@extend %fa-info-circle;
		float: left;
		font-size: $sc-h3-font-size + 2;
		margin-right: $sc-base-margin;
	}
}

.item-details-options-quantity {
	display: table-cell;
	vertical-align: top;
	white-space: nowrap;
	.item-details-options-quantity-title {
		display: inline-block;
		color: $sc-color-tertiary;
		font-size: $sc-h3-font-size - 2;
		margin-right: $sc-base-margin * 2;
	}
}

.item-details-options-quantity-title-help {
	clear: both;
	display: block;
	font-weight:$sc-font-weight-light;
	margin: $sc-base-margin * 2 0;
}

.item-details-add-to-cart-help {
	@extend .message-info;
	margin-top: $sc-base-margin * 3;
}

.item-details-add-to-cart-help-icon {
	@extend .fa;
	@extend %fa-info-circle;
	margin-right: $sc-base-margin;
}

.item-details-quantity-add, .item-details-quantity-remove {
	@extend .button-secondary;
	background-color: lighten($sc-color-theme, 20%);
	border: 1px solid lighten($sc-color-theme, 20%);;
	width: $sc-target-size-mobile + 15;
	height: $sc-target-size-mobile + 15;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.item-details-quantity-value {
	height: $sc-target-size-mobile + 15;
 	padding:$sc-base-margin * 2 $sc-base-padding;
 	width: $sc-target-size-mobile + 20;
 	text-align: center;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.item-details-actions-container {
	display: inline-block;
	//white-space: nowrap;
	width: 100%;
	@media (min-width: $screen-md) {
		display: table-cell;
		vertical-align: top;
	}
}

.item-details-add-to-cart,
.item-details-add-to-wishlist {
	float: left;
	display: block;
	width: 100%;
	@media (min-width: $screen-md) {
		display: inline-block;
		padding-left: $sc-base-padding * 4;
		width: 50%;
	}
}

.item-details-options-quantity,
.item-details-add-to-cart {
	padding-top: $sc-base-padding * 3;
}

.item-details-add-to-cart-button {
	@extend .button-primary;
	@extend .button-large;
	display: inline-block;
	font-size: $sc-h3-font-size;
	padding-top: 18px;
	padding-bottom: 17px;
	font-family: "Avenir LT W01_85 Heavy1475544";
	text-transform: uppercase;
	width: 100%;
	@media (min-width: $screen-md) and (max-width: $screen-lg) {
		padding-top: 9px;
		padding-bottom: 9px;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		padding: 10px;
		font-size: 14px;
		height: 55px;
	}
}


.item-details-social-share {
	// @extend .message-box;
	// @extend .message-box-info;
	margin-bottom:$sc-base-margin * 4;
}

.item-details-price-message {
    @extend .message;
 }

.item-details-price-msg-description {
	@extend .message-info;
	margin-top: $sc-base-margin * 2;
    margin-bottom: $sc-base-margin * 2;
}

.item-details-price-login-to-see-price {
	font-weight: normal;
}


@media (min-width: $screen-sm-min) {

	.item-details-content-header {
		float: right !important;
	}

	.item-details-image-gallery-container {
		float: left;
	}

	.item-details-main {
		float: right !important;
	}
}

.pdp-item-more-info-content {
	background: $sc-color-theme-background-light;

	@media (min-width: $screen-sm-min) {
		background: transparent;
		overflow: auto;
	}
}

.item-details-info-pusher {
	@extend .push-button-secondary;
	color: #ffffff;
	position: relative;
	font-size: $sc-h4-font-size;

	i {
		color: #ffffff;
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
	@media (min-width: $screen-sm-min) {
		margin-bottom: $sc-base-margin * 3;
	}
}

.item-details-more-info-content-container {
	background: $sc-color-theme-background-light;

	@media (min-width: $screen-sm-min) {
		background: transparent;
	}
}
[data-action="sc-pushing"].item-details-more-info-content-container {
	padding-bottom: $sc-base-padding * 2;
}
.item-details-more-info-content {
	margin-bottom: $sc-base-margin * 3;
	background-color: $sc-color-theme-background-light;

	@media (min-width: $screen-sm-min){
		padding: $sc-base-padding * 8;
	}
}

.item-details-more-info-content ul {
	@extend .nav;
	@extend .nav-tabs;
	background-color: transparent;
	clear:both;

	@media (min-width: $screen-sm-min) {
		background-color: white;
	}

	// for speecificity comply
}

.item-details-info-hint {
	margin-top: $sc-base-margin * 3;
	color: $sc-color-theme;
	padding-right: $sc-base-padding * 3;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item-details-tab-title:only-child a{
	/*display:none;*/
}

.item-details-content-main {
 	@extend .row;
}
.item-details-logo-descriptions-container, .item-details-feature-bullet-container {
	@extend .col-sm-6;
}

.item-details-logo-descriptions-container img {
	padding-bottom: $sc-base-padding * 4;
}

.diy-pdp-descriptiontab-longdescription {
	font-size: $sc-h4-font-size;
	margin-bottom: $sc-base-margin * 3 !important;
}

.item-details-feature-bullet-container {
	b, strong {
		font-family: "Avenir LT W01_85 Heavy1475544";
	}
}

.item-details-tab-title {
	font-size: $sc-h4-font-size;
	margin-bottom: $sc-base-margin * 3;
	text-transform: capitalize;
}

.item-details-tab-content{
	@extend .item-details-more-info-content;
	background-color: $sc-pusher-bg;
	color: #404040;
	clear:both;

	h2{
		margin-bottom: $sc-base-margin * 4;
	}

	ul {
		background: none;
		list-style: none;
	}

	.item-details-feature-bullet-container li{
		list-style: none;
		font-size: $sc-h5-font-size + 1;
		line-height: 1.6;
		margin-bottom: $sc-base-margin * 2 !important;
		//margin:5px 0 0 5px;
		&:before {
			content: '\2022';
			position: absolute;
			left: 0;
		}
	}

	@media (min-width: $screen-sm-min){
		padding: $sc-base-padding * 6;
	}
}

[data-action="sc-pushing"] .item-details-tab-content{
	padding: $sc-base-padding * 3 $sc-base-padding * 6 $sc-base-padding * 6 0;
}
.item-details-more-info-content-tabs {
	display:none;

	@media (min-width: $screen-sm-min){
		display: inline-block;
		border-bottom: 4px solid $sc-lines;
		width: 100%;
		text-align: center;
		background-color: transparent !important;
	}

	li.item-details-tab-title {
		display: inline-block;
		margin: 0 $sc-base-margin;
		position: relative;
		top: 3px;
		@media (min-width: $screen-xs-max){
			margin: 0 3px;
		}
	}

	.item-details-tab-title a {
		background-color: $sc-pusher-bg;
		padding: $sc-base-padding * 3 0;
		float:left;
		margin-right: 0;
		font-weight: $sc-font-weight-normal;
		font-size: $sc-h4-font-size;
		text-transform: none;
		color: $sc-blue-dark;
		width: 155px;
		@media (max-width: $screen-sm-min){
			font-size: $sc-h5-font-size;
			width: 120px;
		}
	}

	.item-details-tab-title.active a {
		background-color: $sc-blue-dark;
		color: $sc-pusher-bg;

		&:before {
			content: "\f0d7";
		    font-family: FontAwesome;
		    position: absolute;
		    bottom: -25px;
		    color: $sc-blue-dark;
		    font-size: $sc-icon-font;
			right: 0;
			left: 0;
			margin: 0 auto;
			z-index: 1;
		}
	}
}

.item-details-action {
	display: none;

	@media (min-width: $screen-sm-min){
		display: block;
	}
}

.item-details-main-bottom-banner {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	span {
		color: $sc-color-tertiary;
		display: inline-block;
		font-size: $sc-h5-font-size + 1;
		float: left;
		margin-right: $sc-base-margin * 2;
		line-height: 22px;
	}
	.social-sharing-flyout-icons {
		display: inline-block;
		margin-top: 0;
		a {
			border: none !important;
			padding: 0 !important;
			margin-right: $sc-base-margin !important;
			span {
				display: none !important;
			}
		}
	}
	@media (min-width: $screen-sm-min) {
		border-bottom: 1px solid #e3e3e3;
		padding-bottom: $sc-base-padding * 3;
		margin-bottom: $sc-medium-margin;
	}
}

@media (min-width: $screen-sm-min){

	.item-details-tab-content-panel {
		display:none;
	}
	.item-details-tab-content-panel.active {
		display:block;
	}
}

.item-details-tab-content.show {
	.item-details-tab-content-panel {
		max-height: 100%;
	}
	.item-details-less {
		display: block;
	}
	.item-details-more {
		display: none;
	}
}

.item-details-tab-content-panel {
	background-color: $sc-pusher-bg;
	@media (min-width: $screen-sm-min){
		overflow: hidden;
		-webkit-transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
		transition: max-height 0.5s;
	}

	table.quantity-pricing-table{
		max-width: 600px;
	}

	.item-details-specs-table-head {
		display: none;
		@media (max-width: $screen-xs-max){
			background-color: #ffffff;
			border: 1px solid $sc-border-line;
			border-bottom: 0;
			color: #314755;
			font-family: "Avenir LT W01_85 Heavy1475544";
			display: block;
			padding: $sc-base-padding * 3;
		}
	}

	table.quantity-pricing-table,
	table.item-details-specs-table {
		background-color: none;
		@media (min-width: $screen-sm-min){
			width: 100%;
		}

		.quantity-pricing-quantities {
			background-color: #ffffff;
			color: #314755;
			font-family: "Avenir LT W01_85 Heavy1475544";
		}

		.quantity-pricing-prices,
		.item-details-specs-table-content {
			tr{
				background-color: #ffffff;
				&:nth-child(odd){
					background-color: #fafafa;
				}
			}

			.item-details-specs-table-label {
				font-family:'Avenir LT W01_65 Medium1475532';
				font-weight: $sc-font-weight-bold;
			}
		}

		td, th{
			border: 1px solid $sc-border-line;
			background: transparent;
			padding: $sc-base-padding * 3;
    		text-align: left;
    		font-size: $sc-h5-font-size;
			@media (min-width: $screen-sm-min){
				font-size: $sc-h4-font-size-mobile;
			}
		}
	}
}


.item-details-less {
	display: none;
	margin-top: $sc-base-margin * 2;
}
.item-details-more {
	margin-top: $sc-base-margin * 2;
	display:block;
}

.item-details-product-review-content {
	//@extend .item-details-more-info-content;
	//background-color: transparent;
	.item-details-product-review-pusher {
		background: none !important;
		border: 1px solid #e3e3e3;
	}
	.item-details-more-info-content-container {
		background-color: #ffffff;
	}
	@media (min-width: $screen-sm-min){
		padding: 0;
	}
}

.item-details-product-review-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-base-margin * 3;

	.item-details-product-review-pusher-rating {
		display: inline-block;
		vertical-align: middle;
	}
	.global-views-star-rating-area {
		margin-left: $sc-base-margin * 2;
		float: right;
	}
}
[data-type="sc-pusher"] {
	.global-views-star-rating-empty, .global-views-star-rating-filled {
		font-size: 20px;
	}
}
.item-details-rating-header {
	.global-views-star-rating-area {
		margin-right: $sc-base-margin;
	}
	.global-views-star-rating i {
		font-size: 20px;
	}
}

.item-details-text-required-reference {
	@extend .input-required;	
}

.item-details-text-required-reference-container {
	padding:$sc-base-padding * 3 0;
}

.return-policy-view-container {
	color: $sc-color-theme;
	padding: $sc-base-padding * 4;
	padding-top: 0;
	.return-policy-view-title {
		color: $sc-color-tertiary;
		font-size: $sc-h1-font-size;
		margin-bottom: $sc-base-margin * 4;
		text-transform: capitalize;
	}
	p {
		color: $sc-color-theme;
		line-height: 1.6;
		margin-bottom: $sc-base-margin * 4;
	}
	.return-policy-view-button {
		@extend .button-primary;
		@extend .button-large;
		display: block;
		margin-top: $sc-base-margin * 4;
		padding: $sc-base-padding * 3 $sc-base-padding * 8;
	}
}

@media (min-width: $screen-sm-min){
	.diy-item-details-info-mobile, .item-details-main-bottom-banner.mobile {
		display: none;
	}

	.item-details-content-correlated-items,
	.item-details-content-related-items{
		padding: $sc-base-padding * 8;
		.bx-viewport {
			height: auto !important;
		}
	}
}

@media (max-width: $screen-xs-max){
	.diy-item-details-info-desktop, .item-details-main-bottom-banner.desktop {
		display: none;
	}
}

.item-details-header{}
.item-details-banner-top{}
.item-details-banner-top-details{}
.item-details-banner-summary-bottom{}
.item-details-banner-details-bottom{}
.item-details-content-correlated-items{}
.item-details-sku-value{}
.item-details-add-to-cart-help-text{}
.item-details-add-to-cart-form{}
.item-details-rating-header-rating{}

//.product-detail .item-details-content-related-items .item-relations-row,
//.product-detail .item-details-content-correlated-items .item-relations-row {
//	display: -webkit-flex;
//	display: -ms-flexbox;
//	display: flex;
//
//	-webkit-flex-wrap: wrap;
//	-ms-flex-wrap: wrap;
//	flex-wrap: wrap;
//	.item-relations-cell {
//		display: -webkit-flex;
//		display: -ms-flexbox;
//		display: flex;
//	}
//}

//@media (min-width: $screen-xs) and (max-width: $screen-sm-min) {
//	.product-detail .item-details-content-related-items .item-relations-cell,
//	.product-detail .item-details-content-correlated-items .item-relations-cell {
//		margin-right: 20px;
//	}
//}
//
//@media (min-width: $screen-md) and (max-width: $screen-lg) {
//	.product-detail .item-details-content-related-items .item-relations-cell,
//	.product-detail .item-details-content-correlated-items .item-relations-cell{
//		margin-right: 20px;
//	}
//}