/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/
.footer-newsletter-email-form-submit{
	background:#ff7d2f;
	border: none;
    border-top: 1px solid #ff7d2f;
    float:left;
    width:48px;

    img{

    }

    @media (min-width: $screen-md-min) {
    	float:none;
	}
}

.footer-newsletter-email-form-input{
	float:left;

}
