/*#item-details-info-tab-1 h2,
#item-details-info-tab-1 #item-details-content-container-1,*/
.item-details-action {
  display:none;
}

.video-image {
  height: 110px;
  width: 200px;
  //margin: 0 auto 10px !important;
  margin-bottom: 10px;
}

.video-list .video-list-results-container ul li {
  display: inline-flex;
  width: 200px !important;
  min-height: 150px;
  text-align: center;
  margin-top: 5px;
  margin-left: 30px;
  padding-left: 5px;
  position: relative;
  @media(min-width: $screen-sm-min) {
    padding-left: 0px;
  }
}

.video-details-results-table-column a {
  width:100%;
}

.video-details-results-table-row-name {
  color:#404040;
  max-width: 200px;
  padding-top: 10px;
}

.playbutton-overlay {
  background: url("../img/playbutton.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 72px;
  top: 27px;
}

.item-details-tab-content:hover .video-list .video-details-carousel-prev {display:block;}
.item-details-tab-content:hover .video-list .video-details-carousel-next {display:block;}

.video-list .video-details-carousel-prev {
  //display:none;
  width: 46px;
  height: 52px;
  position: absolute;
  cursor: pointer;
  //z-index: 1;

  left: -0.1em;
  top: 120px;
  @media(min-width: $screen-sm-min) {
    top: 90px;
  }
}

.video-list .video-details-carousel-next {
  //display:none;
  width: 46px;
  height: 52px;
  position: absolute;
  cursor: pointer;
  //z-index: 1;

  right: -0.1em;
  top: 120px;
  @media(min-width: $screen-sm-min) {
    top: 90px;
  }
}

.video-list .bx-controls {
  margin:0px;
}

.video-list .bx-viewport {
  @media(min-width: $screen-sm-min){
    overflow: inherit !important;
  }
}
