/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

footer {
    background: #fff;
    color:#6f6f70;
    border-top: 1px solid $sc-color-theme-border;
    position: relative;
    clear: both;
}
.footer-content {
    @extend .container;
    @extend .row;
    margin: auto;
    padding:0;

    @media (min-width: $screen-desktop) {
        display:block;
        padding-left: 0;
        padding-right: 0;
    }

    @media (min-width: $screen-tablet) {
        display:block;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.footer-content-nav {
    overflow: hidden;
    padding: $sc-base-padding * 5 0 0 0;
    font-family:'Avenir LT W01_65 Medium1475532';

    @media (max-width: $screen-phone) {
        display:none;
    }
}
.footer-content-nav-list {
    list-style: none;
    margin: 0 0 10px;
    margin-bottom:30px;
    width: 50%;
    float: left;

    @media (max-width: $screen-tablet) {
        float: left;
        width: 50%;
        padding: 0 15px;
    }
    @media (max-width: $screen-phone) {
        width: 100%;
        padding: 0;
    }
}
.footer-content-nav-list > li,
.footer-connect > li {
    display: list-item !important;
    font-family: "Avenir LT W01_55 Roman1475520";
    font-size: 14px;
    height: auto !important;
    visibility: visible !important;
    padding-top: 12px;

    @media (max-width: $screen-tablet) {
        display: list-item;
        padding-top: 12px;
    }

    @media (max-width: $screen-phone) {
        font-size: $sc-h5-font-size;
        padding-top: $sc-base-padding * 3;
        text-align: left;
    }
}
.footer-content-nav-list:first-child {
    margin-left: 0;
}
.footer-content-nav-list-last {
    margin-bottom: 0;

    @media (min-width: $screen-desktop) {
        margin-right: 0;
        width: 20%;
    }
}
.footer-connect {
    margin-right: 0;
    float: left;
    padding: $sc-base-padding * 6 0;

    @media (min-width: $screen-desktop) {
        padding-top: $sc-base-padding * 5;
    }

}
.footer-social {
    overflow: hidden;
}
.footer-social-item {
    display: block;
    float: left;
    margin-right: 12px;
    text-align: -webkit-match-parent;
}
.footer-social-item a {
    color: $sc-color-secondary;
}
.footer-social-item a:hover {
    color: #ff6e17;
}
.footer-content-nav .first {
    color:#324654;
    font-weight:bold;
    display: list-item;
    font-size: 16px;
    margin-bottom: 3px;
    .wf-active & {

    }

    @media (max-width: $screen-tablet){
        font-size: 14px;
    }
}

.footer-content-nav-list a {
    color: #6f6f70;
}
.footer-newsletter-email-form-input {
    @extend .input-large;
    /*width:220px;*/
    display: inline;
    width: 75%;
    min-width: 75%;
    outline: none;

    @media (max-width: $screen-tablet){
        width: 220px;
    }
    @media (max-width: $screen-phone){
        width: 250px;
    }

}
.footer-newsletter-email-form-submit {
    @extend .button-large;
    @extend .button-primary;
   padding: $sc-base-padding * 2.2 $sc-base-padding * 3;
}
.footer-social-facebook-icon {
    font-size: 20px;
    color: #ff7d2f;
    @extend .fa;
    @extend %fa-facebook-square;
}
.footer-social-twitter-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-twitter-square;
}
.footer-social-google-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-google-plus-square;
}
.footer-social-pinterest-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-pinterest-square;
}
.footer-content-copyright {
    clear: both;
    color: #6f6f70;
    font-size: $sc-smallest-font-size;
    /*padding: $sc-base-padding * 3 10px;*/
    text-align:left;

    // @media (min-width: $screen-tablet){
    //     position: absolute;
    //     bottom: 40px;
    // }

    @media (min-width: $screen-desktop) {
        padding-bottom: $sc-base-padding * 5;
        padding-top: $sc-base-padding * 5;
        text-align: left;
        margin-top: 15px;
        position: relative;
        bottom: 0;
        font-size: 12px;
    }

    // @media (max-width: $screen-tablet){
    //     margin-top: 0;
    //     position: absolute;
    //     bottom: 40px;
    //     left: 20px;
    // }
    @media (max-width: $screen-sm-min) {
        padding-left: $sc-base-padding * 2;
    }
}
.footer-content-copyright ul{
    margin-bottom:20px;
}
.footer-content-copyright ul li {
    display: inline-block;
    color: #7a7a7b;

    @media (max-width: $screen-tablet){
        padding: 0 $sc-base-padding * 1;
    }
}

.footer-content-copyright ul .separator, .footer-content-copyright p .separator {
    color: #ff7d2f;
}
.footer-content-copyright ul .separator{
    margin: 0 5px;
}

.footer-content-copyright ul li a {
    color: #ff7d2f;
}
.footer-content-copyright ul li a:hover {
    text-decoration: underline;
}

.footer-thirdcol{
    float:left;
    width:33%;
    
    @media (max-width: $screen-tablet){
       padding-left:0;
    }

    @media (max-width: $screen-phone){
        padding-left:3%;
    }
}

.footer-thirdcol:nth-child(1){
    width:33%;

    @media (max-width: $screen-lg-min){
       width:50%;
    }
}

.footer-thirdcol:nth-child(2){
    width:33%;
    padding-left: 55px;
    @media (max-width: $screen-lg-min){
       width:50%;
    }
}

.footer-thirdcol:nth-child(3){
    width:33%;
    @media (max-width: $screen-lg-min){
       width:50%;
    }
    // @media (max-width: $screen-md-min){
    //    width:50%;
    //    //margin-bottom: 60px;
    //    //display: none;
    // }
    @media (max-width: $screen-sm-min) {
        display: none;
    }
}

.gray-bg{
    background:#f1f1f1;
}

.orange-bg{
    background:#ff7d2f;
}

.blue-bg{
    background:#324654;
}

.footer-bottom .additional-contents-wrap{
    /*width:1170px;*/
    @extend .container;
    margin:0 auto;
    padding: 40px 0;

    @media (max-width: $screen-phone){
        display:none;
    }
}

.mobile-content .additional-contents-wrap{
    @media (max-width: $screen-phone){
        display:block;
        padding: 0;
    }

    ul li:nth-child(3) img{
        margin-top: 10px;
    }
}

.additional-contents{
    color:#fff;
}
.additional-contents p{
    color:#fff;
    margin:20px 0;
}

.additional-contents p a{
    color:#ff7d2f;
}
.additional-contents p a:hover{
    text-decoration: underline;
}
.additional-contents h3{
    color:#fff;
    text-transform:capitalize;
    font-size:18px;
    font-family:'Avenir LT W01_35 Light1475496';
    margin-top:20px;
}

.additional-contents li{
    float:left;
    width:33%;
    text-align:center;
    padding:0 2%;
    position: relative;
    min-height: 208px;

    @media (max-width: $screen-lg-min) {
        min-height: 250px;
    }

    @media (max-width: $screen-tablet){
        padding:0 10px;
    }

    .img-wrap{
        min-height:37px;
    }

    .blog{
        width:41px;
        @media (max-width: $screen-tablet){
            width: 31px;
        }
    }

    .hammer{
        width: 28px;
    }

    .reviews{
        width:137px;
        @media (max-width: $screen-tablet){
            width:99px;
        }
    }

    h3{
        font-size: 17px;
        @media (max-width: $screen-tablet){
            font-size: 15px;
        }
    }
    .desc{
        font-size: 15px;
        @media (max-width: $screen-tablet){
            font-size: 13px;
        }
    }

    .foot-link{
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        bottom: 0;
        font-size: 15px;
        font-family:'Avenir LT W01_65 Medium1475532';

        @media (max-width: $screen-tablet){
            font-size: 14px;
        }

        @media (max-width: $screen-sm-min) {
            position: relative;
        }
    }

}

.additional-contents li:first-child{
    border-right:1px solid #4e6371;
}
.additional-contents li:last-child{
    border-left:1px solid #4e6371;
}



ul.company-name{
    
    @media (min-width: $screen-tablet){
        width:auto;
        float:left;
        margin-top: 0;
    }

    @media (min-width: $screen-desktop){
        width:100%;
        float:none;
        margin-top:20px;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
        width: 50%;
        float: left;
        margin-top: 0;
    }
}

ul.customer-service{
    @media (min-width: $screen-tablet){
        width:55%;
        float:left;
    }

    @media (min-width: $screen-desktop){
        width:100%;
        float:none;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
        width: 50%;
        float: left;
    }
}

ul.newsletter-signup{
    width:100%;
    float:none;
    position: relative;
    left: auto;
    top: auto;

    @media (max-width: $screen-tablet){
        width:auto;
    }

}


.footer-thirdcol .shopper-approved{
    float:left;
    margin: 0 20px;

    // @media (max-width: $screen-tablet) {
    //     float: left !important;
    //     margin-bottom: 40px;
    // }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        margin-left: 11%;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
        margin-left: 20%;
    }
}

.footer-thirdcol .shopper-approved-reviews{
    float: right;
    margin: 0;
    margin-right: 65px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
        margin-right: 70px;
    }
}

.footer-thirdcol .shopper-reviews, .footer-thirdcol .bbb-rating, .footer-thirdcol .norton-secured{
    float:right;
}

.footer-thirdcol .bbb-rating{
    margin:20px 0;

    @media (max-width: $screen-tablet) {
        margin-top: 20px;
    }

}

.footer-thirdcol .shopper-reviews{
    margin-right:65px;
}

.footer-thirdcol .norton-secured{
    margin-right:74px;
}

.footer-thirdcol:nth-child(3) img{
    @media (max-width: $screen-tablet) {
        float: none;
        display: block;
        /*margin: 10px auto;*/
    }
}

.footer-mobile{
    display: none;
    text-align:center;
    /*padding:30px 10px;*/
    padding:30px 0;
    
    h2{
        color:#334654;
        font-weight:normal;
        margin-bottom:20px;
        text-transform: capitalize;
    }

    ul.footermobile-nav{
        list-style:none;
        margin:20px 10px;
    }

    ul.footermobile-nav li{
        display:inline-block;
        float:left;
        width:50%;
        text-align:left;
        margin: 10px 0;
    }

    ul li a{
        color:#707070;
    }

    .stay-connected-wrap{
        color:#324654;
        text-align: left;
        padding:20px 10px;
        border-top:1px solid #e6e4e3;
        border-bottom:1px solid #e6e4e3;

        span{
            margin-right:20px;
            font-size:1.1em;
        }

        a i{
            margin:0 3%;
        }
    }

    .mailing-list-wrap{
        color:#324654;
        text-align: left;
        padding:20px 10px;

        @media (max-width: $screen-tablet) {
            width:298px;
            margin: 20px auto;
            padding:0;
        }

        span{
            margin-right:20px;
            font-size:1.1em;
        }
    }

    .footnotes-wrap{
        color:#ff7d2f;
        padding: 20px 0;

        p{
            font-size:0.8em;

            .separator{
                color:#ff7d2f;
            }
        }

        .copyright{
            color:#6f6f70;
            
        }
    }
    
    
    

    .mailing-list-wrap{
        .newsletter-signup{
            display:block;

            li{
                display:block;

                .footer-newsletter-email-form-submit{
                    background: #ff7d2f;
                }

                .footer-newsletter-email-form-submit:hover{
                    background: #ff6e17 !important;
                    border-top:1px solid #ff6e17 !important;
                }
            }
        }
    }

    @media (max-width: $screen-phone) {
        display:block;
    }
}

.footer-thirdcol .newsletter-signup{
    @media (max-width: $screen-tablet) {
        position: absolute;
        left: 10px;
        bottom: 130px;
    }
}

.footer-social-item .twitter {
    display: inline-block;
    background: url("../img/diy-icons.png") no-repeat;
    width: 18px;
    height: 18px;
}

.footer-social-item .facebook {
    display: inline-block;
    background: url("../img/diy-icons.png") -33px 0 no-repeat;
    width: 11px;
    height: 19px;
}

.footer-social-item .pinterest {
    display: inline-block;
    background: url("../img/diy-icons.png") -58px 0 no-repeat;
    width: 20px;
    height: 20px;
}

.footer-social-item .blog {
    display: inline-block;
    background: url("../img/diy-icons.png") -91px 0 no-repeat;
    width: 21px;
    height: 21px;
}

.footer-mobile .footer-social{
    float: right;
}

.phone-icon {
    display: inline-block;
    background: url("../img/diy-icons.png") -120px 0 no-repeat;
    width: 15px;
    height: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.footer-collapsed-list .phone-number{
    color:#ff7d2f;
}