/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.creditcard-list-button-back {
    @extend .button-back;
}

.creditcard-list {
    @extend .clearfix;
}

.creditcard-edit-button-back-icon {
    @extend .button-back-icon;
}

.creditcard-list-button-back-icon {
    @extend .button-back-icon;
}

.creditcard-list {
    @extend .address-list;
}

.creditcard-list-button-container {
    @extend .address-list-button-container;
    padding: $sc-base-padding * 3;
    padding-left: $sc-base-padding * 3;
}

.creditcard-list-button {
    @extend .button-info-cards-new;
    @extend .button-generic-orange;
    @extend .button-medium;
    padding:$sc-base-padding * 2.5 $sc-base-padding * 4;
}

.creditcard-list-collection {
    @extend .row;
}