/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-step-header{
	@extend .wizard-step-header;
}

.wizard-step-content{
	input[type="radio"] {
		position: relative; 
		top: 1px;
		right: 7px;
	}
	input[type="checkbox"] {
		position: relative; 
		top: 2px;
		right: 3px;
	}
}

.order-wizard-step-review-wrapper,
.order-wizard-step-content-wrapper{
	@extend .row;
}

.order-wizard-step-review-main,
.order-wizard-step-content-main{
	@extend .col-xs-12;
	@extend .col-sm-7;
	@extend .col-md-8;

	//shipping address
	.address-details,
	.order-wizard-paymentmethod-creditcard-module-selected-card{
		background-color: $sc-color-theme-background-lightest;
		border: 2px solid $sc-color-theme-border;

		a{
			background-color: transparent;
			color: $sc-blue-dark;
			font-size: $sc-font-size-text;
			font-weight: $sc-font-weight-bold;
		}

	}

	h2, h3{
		text-transform: none;
		font-size: $sc-h1-font-size;
		color: $sc-blue-dark;
	}

	p{
		font-size: $sc-h4-font-size;
		line-height: 1.4;
		color: $sc-color-text;

		b{
			color: $sc-color-text;
		}
	}

	.order-wizard-address-module-new-button,
	.order-wizard-paymentmethod-creditcard-module-add-new-credit-card-button,
	.creditcard-use-this-card-button{
		color: #FFFFFF;
	    font-weight: 400;
	    background-color: #ff7d2f;
	    display: inline-block;
	    border: 1px solid #ff7d2f;
	}

	.creditcard-content{
		background: #fff;
    	//border: 2px solid #e6e6e6;

    	a, .creditcard-edit-form-button-remove{
			background-color: transparent;
			color: $sc-blue-dark;
			font-size: $sc-font-size-text;
			font-weight: $sc-font-weight-bold;
		}
		
		button[data-action="remove"]{
			font-size: $sc-base-font-size + 1;
			font-weight: $sc-font-weight-bold;
		}
		.popover-title {
			background: $sc-color-link;
			color: #FFFFFF;
		}
		.popover-content,
		.popover-title,
		.popover-content p {
			font-size: $sc-h4-font-size;
			font-weight: $sc-font-weight-normal;
			font-family: $sc-avenir-font;
		}
		.popover-content {
			background-color: #FFFFFF;
			clear: both;
			float: left;
			width: 100%;
		}


	}
	
	.address-details-actions{
		button[data-action="remove"]{
			font-size: $sc-base-font-size + 1;
			font-weight: $sc-font-weight-bold;
		}
	}

}

.order-wizard-step-review-secondary,
.order-wizard-step-content-secondary{
	@extend .col-xs-12;
	@extend .col-sm-5;
	@extend .col-md-4;
	float: right;
}

.order-wizard-step-content-secondary{
	margin-bottom: $sc-medium-margin;
}

.order-wizard-step-actions{
	@extend .col-xs-12;
	@extend .col-sm-7;
	@extend .col-md-8;
}

.order-wizard-step-message{
	@extend .wizard-step-message;
}

.order-wizard-step-button-container{
	@extend .wizard-step-button-container;
	.order-wizard-step-button-back{
		font-size: $sc-h3-font-size-mobile;
		font-weight: $sc-font-weight-bold;
		text-transform: uppercase;
	}
}

.order-wizard-step-button-continue {
	@extend .wizard-step-button-continue;
	margin-bottom:$sc-small-margin;
	font-size: $sc-h3-font-size-mobile;
	font-weight: $sc-font-weight-bold;
	text-transform: uppercase;
}

.order-wizard-step-button-back{
	@extend .wizard-step-button-back;
	color: $sc-color-icon;
    font-weight: $sc-font-weight-normal;
    background: $sc-blue-dark;
    display: inline-block;
    border: 1px solid $sc-blue-dark;
    &:hover{
    	background-color: rgba(49, 71, 85, 0.95)
    }
}

.order-wizard-step-guest-message{}
.order-wizard-step-title{}
