/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-showpayments-module-details{
	@extend .box-column;
}
.order-wizard-showpayments-module-details-body {
	@extend .row;
	h3 {
		margin-bottom: $sc-base-margin * 3;
	}
}
.order-wizard-showpayments-module-billing-address{
	@extend .col-xs-12;
	@extend .col-sm-6;
	margin-bottom: $sc-base-margin * 3;

  @media (min-width: $screen-sm-min){
  	margin-bottom: 0
  }
}

.order-wizard-showpayments-module-payment-method{
	@extend .col-xs-12;
	@extend .col-sm-6;

	.payment-methods-summary {
		min-height: inherit;
	}
}
.payment-methods-summary {
	@extend .info-card;
}
.order-wizard-showpayments-module-payment-address-edit {
	margin-top: $sc-base-margin * 3;
	display: inline-block;
}
.order-wizard-showpayments-module-billing-address-edit {
  margin-bottom: $sc-base-margin * 3;
  margin-top: $sc-base-margin * 3;
	display: inline-block;
	@media (min-width: $screen-sm-min){
		margin-bottom: 0;
	}
}

.order-wizard-showpayments-module-section-header{
	@extend .section-header;
}

.order-wizard-showpayments-module-payment-methods-summary{
	@extend .payment-methods-summary;
	background-color: $sc-color-theme-background-lightest;
    border: 2px solid $sc-color-theme-border;

    .global-views-format-payment-method-header-icon{
    	float: none;
    }
}

//button styling
/*
.order-wizard-paymentmethod-creditcard-module-change-card, .address-details-change-address {
		color:#FFFFFF !important;
		font-weight:$sc-font-weight-normal !important;
		background:$sc-color-primary !important;
		border: 1px solid $sc-color-primary !important;
}
.order-wizard-paymentmethod-creditcard-module-edit-card, .address-details-edit-address {
	color:$sc-color-secondary !important;
	font-weight:$sc-font-weight-normal !important;
	background:$sc-color-tertiary !important;
	border:1px solid $sc-color-secondary !important;
}*/
//end button styling
