/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-facet-browse {
	@extend .container;
	margin-bottom: 40px;

	@media (max-width: $screen-tablet ){
		position: relative;
		width: 100%;
	}

}

.facets-facet-browse-breadcrum {
	@extend .breadcrumb;
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header
.facets-facet-browse-header {
	@extend .clearfix;
	border-bottom: 3px solid #f5f5f5;
	padding-bottom: $sc-base-margin * 3;

	@media (max-width: $screen-phone ){
		border-bottom: none;
		padding-bottom: 0;
	}
}

.facets-facet-browse-title {
	/* @extend .list-header-title-ahead; */
	text-transform: none;
	font-family: "Avenir LT W01_65 Medium1475532";
	font-size: 26px;
	font-weight: normal;
	color: #314654;
	border-bottom: 3px solid #f5f5f5;
	padding-bottom: 20px;
	margin-bottom: 20px;

	@media (max-width: $screen-tablet) {
		margin-top: 20px;
		padding-bottom: 15px;
		margin-bottom: 10px;
	}

	@media (max-width: $screen-phone) {
		font-size: 16px;
	}

}

.facets-facet-browse-title-alt {}

.facets-facet-browse-list-header {
	@extend .list-header;
	width: 100%;
}

.facets-facet-browse-list-header-actions {
	@extend .list-header-actions;
	display:block;
	text-align: right;
	margin-bottom: 5px;
	margin-left: 10px;
}
.facets-facet-browse-list-header-actions span{
	@media (max-width: $screen-phone) {
		display: none;
	}
}

.facets-facet-browse-list-header-expander {
	@extend .list-header-expander;
	display: none;

	@media (max-width: $screen-tablet) {
		width:200px;
		margin-top: 10px;
		float: left;
		display: block;
	}
	@media (max-width: $screen-phone) {
		//display: block;
		width:200px;
		margin-top: 0;
		float: left;
	}
}

.facets-facet-browse-list-header-expander-button {
	@extend .list-header-expander-button;

	font-family: "Avenir LT W01_55 Roman1475520";

	@media (max-width: $screen-tablet) {
		background: none;
		color: #314654;
		height: 35px;
		line-height: 35px;
		padding: 0 10px;
		text-align: left;
		width: 200px;
		margin-bottom: 20px;
	}
	// @media (max-width: $screen-phone) {
	// }
}

.facets-facet-browse-list-header-expander-button:hover, .facets-facet-browse-list-header-expander-button:focus{
	background: #314654;
}

.facets-facet-browse-list-header-expander-icon {
	@extend .list-header-expander-icon;
}

.facets-facet-browse-list-header-expander-icon{
	@media (max-width: $screen-tablet) {
		height: 35px;
		line-height: 35px;
	}

	@media (max-width: $screen-phone) {
		color: #314654;
		top: -3px;
		font-size: 18px;
	}
}

.facets-facet-browse-list-header-filters {
	@extend .list-header-filters;

	width:100%;
	float: left;

	@media (max-width: $screen-desktop) {


	}
	// @media (max-width: $screen-tablet) {
	// 	width:75%;
	// 	/*clear: none;*/
	// }

	@media (max-width: $screen-sm-min) {
		//width:107.5%;
		width: 100%;
		clear: none;
		display: none;
		background: #f1f1f1;
		padding: 10px;
		margin: 0;
		margin-bottom: 20px;

	}
}
.facets-facet-browse-list-header-filters-wrapper.mobile{
	display: none;
	@media (max-width:$screen-sm-min) {
		display: block;
	}
}

.facets-facet-browse-list-header-filters-wrapper {
	@extend .list-header-filters-wrapper;
	display: block;
	background: none;
	border:none;
	padding:0;

	@media (max-width:$screen-tablet) {
		background: none;
		border:none;
		padding:0;
		margin-top: 0;
		display: none;
	}

	@media (max-width:$screen-phone) {
		margin-top: 0;
		display: none;
	}
}

.facets-facet-browse-list-header-filters-row {
	@extend .list-header-filters-row;
	width: 100%;
}

.facets-facet-browse-list-header-filters-row .facets-facet-browse-pagination{

	@media (max-width:$screen-tablet) {
		display: none !important;
	}
}

.facets-facet-browse-list-header-filters-row .facets-facet-browse-list-header-filter-column:nth-child(2){
	float: left;

}

.facets-facet-browse-list-header-filters-row .facets-facet-browse-list-header-filter-column:nth-child(3){
	float: left;

	@media (max-width: $screen-tablet) {
		float: left;
	}
}

.facets-facet-browse-list-header-filter-column {
	@extend .list-header-filter-column;
	float:right;
	padding: 0;

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		//width: 30%;
		margin-left: 10px;
		float: left;
		width: auto;

		&:nth-child(1) {
			width: 15%;
		}
	}

	@media (max-width: $screen-sm-min) {
		width: 100%;
		float: none;
		margin-left: 0;
	}
}

.facets-facet-browse-list-header-filter-column .facets-item-list-show-selector{
	color: #314654;
	font-family: "Avenir LT W01_55 Roman1475520";
	font-size: 14px;
	height: 33px;
	line-height: 16px;
	padding: 5px 30px 5px 10px;
	border: 1px solid #ebebeb;

	@media (max-width: $screen-tablet) {
		height: 35px;
		margin-top: 0;
		margin-left: 0;
		border: 1px solid #ebebeb;
	}

	@media (max-width: $screen-phone) {
		height: 35px;
		margin-top: 9px;
		margin-left: 0px;
		border: 1px solid #ebebeb;
	}
}

.facets-facet-browse-list-header-filter-facets {
	@extend .list-header-filter-facets;
	color: #000;
	background: #fff;
	width: 175px;
	display: none;

	@media (max-width: $screen-md-min) {
		color: #fff;
		background: #314654;
		height: 35px;
		width: 100%;
		line-height: normal;
		display: block;
	}

	@media (max-width: $screen-phone) {
		margin-bottom: 10px;
	}
}

.facets-facet-browse-list-header-filter-facets:focus,
.facets-facet-browse-list-header-filter-facets:hover{
	background: #314654;
	color: #fff;
}

.facets-facet-browse-list-header-filter-facets-icon {
	@extend .list-header-filter-facets-icon;

	@media (max-width: $screen-md-min) {
		//font-size: 16px;
		font-size: 22px;
		margin-top: -5px;
	}
}

.facets-facet-browse-list-header-filter-facets-icon:before{
	@media (max-width: $screen-md-min) {
		content:"\\f107";
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Header main content layout

.facets-facet-browse-content, 
.facets-facet-browse-empty-items {
	@extend .clearfix;
}

.facets-facet-browse-content .facets-facet-browse-pagination{
	display: block;
}

.facets-facet-browse-facets {
	@extend .col-md-3;
	@include box-shadow(0 0 6px $sc-color-secondary);
	padding: 0;
	background-color: #fff;
	overflow-x:hidden;
	// width: 242px;
	// float: left;

	// @media (max-width: $screen-tablet) {
	// 	width: 355px;
	// 	position: absolute;
	// 	top:200px;
	// }

	// @media (max-width: $screen-phone) {
	// 	/*width: 246px;*/
	// 	width: 320px;
	// 	position: fixed;
	// 	top:0;
	// 	right: -320px;
	// }


	// @media (min-width: $screen-desktop) {
	// 	overflow:hidden;
	// 	padding-right: $sc-base-padding * 3;
	// 	@include box-shadow(none);
	// 	width: 25%;
	// 	background-color:#fff;
	// }

	@media (min-width: $screen-md-min) {
		overflow:hidden;
		padding-right: $sc-base-padding * 3;
		@include box-shadow(none);
		width: 25%;
		background-color:transparent;
	}
}

.facets-facet-browse-facets[data-pusher="sc-pushable-md"] .sc-pusher-header {
  margin-left: 0px;
	@media (max-width: $screen-md-min) {
		background: #324754;
	}

	.sc-pusher-header-back {
		color: #fff;
	}
}

.facets-facet-browse-results {
	@extend .col-xs-12;
	@extend .col-sm-12;
	@extend .col-md-9;
	padding: 0;
	float: left;

	// @media (max-width: $screen-tablet) {
	// 	width:100%;
	// }
	@media (min-width: $screen-md-min) {
		padding-left: 15px;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Items

.facets-facet-browse-items .backbone-collection-view-row {
	margin-bottom: $sc-medium-margin;

	//the margin is only for the first backbone-collection-view-row
	.backbone-collection-view-row {
		margin-bottom: 0;
	}
}

.facets-facet-browse-items .item-view-stock-msg-description {
	margin-top:0;
}

.facets-facet-browse-narrowedby {
	padding-top: $sc-base-padding * 4;
	padding-bottom: 40px;
	text-transform: capitalize;
	/*line-height: 35px;*/
	padding-left: 0;
	padding-top: 10px;

	@media (min-width:$screen-md-min) {
		padding-top: $sc-base-padding * 6;
		padding-left: $sc-base-padding * 3;
		padding-right: $sc-base-padding * 3;
		padding-left: 0;
		padding-top: 10px;
	}

	@media (max-width:$screen-tablet) {
		padding-bottom: 30px;
		padding-top: 20px;
	}
	@media (max-width:$screen-tablet) {
		padding-bottom: 10px;
		padding-top: 10px;
	}
}

.facets-facet-browse-items {
	border-bottom: 3px solid #f5f5f5;;
	margin-bottom: 30px;

	@media (max-width: $screen-phone) {
		border-bottom: none;

	}

	.item-cell-price {
		margin-bottom: $sc-small-margin;
	}

	.item-cell-image {
		max-width: 100%;
		max-height: 100%;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////
//Facet Browse - Pagination

/*
.facets-facet-browse-pagination {
	float: right;
	margin-bottom: 10px;
	display: none;

	@media (max-width:$screen-tablet) {
		display: block;
	}

	@media (max-width:$screen-phone) {

	}
}*/

.facets-facet-browse-list-header .facets-facet-browse-pagination{
	display: none;
	@media (max-width:$screen-tablet) {
		display: block;
	}
}

.facets-facet-browse-list-header .facets-facet-browse-list-header-filters .facets-facet-browse-pagination {
	display: block;
}


.facets-facet-browse-list-header-filters .facets-facet-browse-pagination{
	display: block;

	@media (max-width:$screen-tablet) {
		display: none;
	}
}

.facets-facet-browse-list-header .total-products{
	font-family: "Avenir LT W01_55 Roman1475520";
	font-size: 14px;
	color: #ff7d2f;
	float: left;
	line-height: 30px;

	@media (max-width:$screen-tablet) {

		width: 100%;
		margin-bottom: 16px;
	}

	@media (max-width:$screen-phone) {
		font-size: 11px;
		width: 100%;
	}
}

.facets-item-cell-grid-price .item-views-price .item-views-price-exact{
	font-size: 16px;
	font-family: "Avenir LT W01_85 Heavy1475544";
}


.item-views-price-lead{
	@extend .large-price;
	color: #444;

	@media (max-width:$screen-phone) {
		font-family: "Avenir LT W01_85 Heavy1475544";
		font-size: 13px;
	}
}

.item-views-price .item-views-price-exact .item-views-price-lead{
	color: $sc-color-tertiary;
	font-family: "Avenir LT W01_85 Heavy1475544";
}

.item-views-price-old{
	@extend .item-views-price-old;
	color: #ff7d2f;
	font-size: 14px !important;
	font-family: "Avenir LT W01_35 Light1475496";
}

.facets-faceted-navigation-facets-clear{
	color: #6f6f70;
	margin-left: 10px;
	display: inline-block;
	background: #f5f5f5;
	padding: 8px 10px;
	border-radius: 5px;
	border: none;
	display: none !important;
}

.facets-faceted-navigation-facets-clear-icon{
	color: #ff7d2f !important;
}

.colored-blue{
	color: #314654 !important;
	font-weight: normal !important;
}

.colored-orange{
	color: #ff7d2f !important;
	font-family: "Avenir LT W01_55 Roman1475520" !important;
}
.promo-overlay{
	position: absolute;
	background: #ff7d2f;
	padding: 10px;
	font-family: "Avenir LT W01_65 Medium1475532";
	font-size: 14px;
	color: #fff;
	right: 0;
	top: 0;
}