/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-item-cell-grid {
	@extend .item-cell;

	@media (max-width:$screen-tablet) {
		min-height: 360px;
	}

	@media (max-width:$screen-phone) {
		min-height: 340px;
	}
}

.facets-item-cell-grid-quick-view-wrapper {
	@extend .item-cell-quick-view-wrapper;
}

.facets-item-cell-grid-quick-view-link {
	@extend .item-cell-quick-view-link;
	border:none;
	line-height: 22px;
	text-transform: uppercase;
	font-family: "Avenir LT W01_65 Medium1475532";
	font-size: 14px;
	padding: 6px 20px;
	background: url("/site/images/bg-blue-transparent.png");
}

.facets-item-cell-grid-quick-view-link:hover {
	background: url("/site/images/bluebg.png");
	border:none;
}

.facets-item-cell-grid-image-wrapper {
	position:relative;
	text-align:center;
	border:1px solid #e1e1e1;
	// width:202px;

	// @media (min-width: $screen-desktop) {
	// 	height:202px;

	// }

	@media (max-width: $screen-md-min) {
		width: 100%;
	}

	@media (max-width: $screen-phone) {
		width: 100%;
	}
}

.facets-facet-browse-items .facets-item-cell-grid-image{
	display: block;
	width: 100%;
}

.facets-item-cell-grid-link-image {}

.facets-item-cell-grid-quick-view-icon {}

.facets-item-cell-grid-stock {}

.facets-item-cell-grid-add-to-cart-itemid {}

.facets-item-cell-grid-details {
	text-align:left;
}

.facets-item-cell-grid-image {
	@extend .item-cell-image;
	width:100%;
	height:auto;
}

.facets-item-cell-grid-title {
	@extend .item-cell-title;
	text-align: left;
	font-family: "Avenir LT W01_65 Medium1475532";
	font-size: 14px;
	color: #6f6f70;
	padding: 20px 0 0px 0;
}

.facets-item-cell-grid-price {
	@extend .small-price;
	/*margin-bottom:$sc-small-margin;*/
	margin: 10px 0;
}

.facets-item-cell-grid-rating {
	text-align:center;
	display: inline-block;
}

.facets-item-cell-grid .item-details-option-color-tiles-container {
	@extend .color-picker-sm;
}

.facets-item-cell-grid .item-details-option-color-label {
	display:none;
}
s
.facets-item-cell-grid {
	.global-views-star-rating-area {
		margin-bottom:$sc-small-margin;
	}
}

.facets-item-cell-grid-add-to-cart-quantity {
	@extend .input-medium;
}

.facets-item-cell-grid-add-to-cart-button {
	@extend .button-primary;
	@extend .button-medium;
}

.facets-item-cell-grid-quick-view-link .site-search-input-icon{
	position: relative;
	top:3px;
	left:auto;
}

.facets-item-cell-grid-details .manufacturer{
	font-family: "Avenir LT W01_55 Roman1475520";
	font-size: 12px;
	color:#6f6f70;
}

.more-wrap{
	padding: 5px 0;
	text-transform: lowercase;
}

.more-wrap p a{
	font-size: 12px;
	font-family: "Avenir LT W01_55 Roman1475520";
}

.more-wrap p a::after{
	content:"\\f101";
	font-family: "FontAwesome";
}
