/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-item-list-display-selector{
	@extend .icon-button;
	@extend .icon-button-controls;
	background: #FFFFFF;
	border:1px solid #ebebeb;
	color: #6f6f70;
	width:33px;
	height:33px;

	@media (max-width: $screen-phone){
		width:35px;
		height:35px;
	}

}

//hide active on mobile
.facets-item-list-display-selector.active{
	display:inline-block;

	@media (max-width: $screen-tablet){
		display: inline-block;
	}

	@media (max-width: $screen-phone){
		display: inline-block;
	}
}

//dispaly the grid icon
.facets-item-list-display-selector-grid{
	display:inline-block;

	@media (max-width: $screen-tablet ){
		display: inline-block;
	}

	@media (max-width: $screen-phone){
		display: inline-block;
	}
}

.active.facets-item-list-display-selector{
	background: #FFFFFF;
	border:1px solid #ebebeb;
}

.facets-item-list-display-selector i{
	color: #6f6f70;
	width: 25px;
	height: 33px;
	font-size: 22px;
	line-height: 33px;

	@media (max-width: $screen-phone ){
		width: 35px;
		height: 35px;
		font-size: 20px;
		line-height: 35px;
	}
}

.facets-facet-browse-list-header-actions span{
	font-size: 14px;
	vertical-align: 15px;
}