/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-faceted-navigation-item-icon-ok {
	@extend .fa;
	@extend .fa-plus;
}

.facets-faceted-navigation-item-icon-plus {
	@extend .fa;
	@extend .fa-plus;
}

.facets-faceted-navigation-item-optionlist-extra-button {
	@extend .button-tertiary;
	@extend .button-small;

	background:none !important;
	color:#ff7d2f !important;
	font-family: "Avenir LT W01_55 Roman1475520";
	font-size: 13px !important;
	margin-left: 0 !important;
	text-decoration: none !important;
	padding:0 !important;
	border:none !important;
}

.facets-faceted-navigation-item-optionlist-extra-button::after {
	content:"\\f101";
	font-size: 12px;
	font-family: FontAwesome;
}

.facets-faceted-navigation-item-optionlist-extra-wrapper {}

.facets-faceted-navigation-item-facet-group {
	padding: 5px;

}

.facets-faceted-navigation-item-facet-group-expander {
	@extend .facets-faceted-navigation-facet-group-expander;
	background: #f5f5f5;
	padding:10px !important;
	border-bottom: none !important;
	letter-spacing: 0;
}

.facets-faceted-navigation-item-facet-group-expander-icon {
	@extend .facets-faceted-navigation-facet-group-expander-icon;
	display: block !important;
	float: left !important;
	color: #ff7d2f !important;
	font-size:20px;
	margin-right: 10px;
}

.facets-faceted-navigation-item-facet-group-expander-icon:before{
	content:"\\f107" !important;
}

.facets-faceted-navigation-item-facet-group-wrapper {
	padding-left: 20px;
}

.facets-faceted-navigation-item-facet-group-content {}

.facets-faceted-navigation-item-facet-optionlist {}

.facets-faceted-navigation-item-facet-optionlist-extra {}

.facets-faceted-navigation-item-facet-group-title {
	@extend .facets-faceted-navigation-facet-group-title;
	color: #ff7d2f;
	font-family: "Avenir LT W01_85 Heavy1475544";
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 0 !important;
	font-weight: normal;
}

.facets-faceted-navigation-item-facet-option {
	@extend .facets-faceted-navigation-facet-option;
	font-size: 14px;

	&:before {
		font-family: "FontAwesome";
		content:"\\f096";
		margin-right: $sc-base-margin;
	}

	&.option-active:before {
		font-family: "FontAwesome";
		content:"\\f046";
		margin-right: $sc-base-margin;
		color: #314654;
		font-weight: bold;
	}
}

.facets-faceted-navigation-item-facet-option label{
	color: #6f6f70;
}

.facets-faceted-navigation-item-facet-option.option-active label{
	color: #314654;
	font-weight: bold;
}

.facets-faceted-navigation-item-facet-option-circle {
	@extend .facets-faceted-navigation-facet-option-circle;
}

.facets-faceted-navigation-item-filter-delete {}

.facets-faceted-navigation-item-filter-delete-icon {}

.facets-faceted-navigation-item-alt-caption {
	display:none;
}

.facets-faceted-navigation-item-facet-multi {
	@extend .input-checkbox;
}
