/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-item-cell-table {
	@extend .item-cell;
	//@extend .col-sm-6;


	// margin-left: -15px;
	// margin-right: -15px;
	// width: 457px;

	@media (max-width:$screen-tablet) {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding: 0;
	}

	@media (max-width:$screen-phone) {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.global-views-star-rating {
		float:none;
	}

	.item-views-price {
		text-align:left;
	}

	.item-views-option-color {
		text-align:center;
	}

	.manufacturer{
		font-family: "Avenir LT W01_55 Roman1475520";
		font-size: 12px;
		color:#6f6f70;
	}
}

.facets-item-cell-table-quick-view-wrapper {
	@extend .item-cell-quick-view-wrapper;
	/*background: url("/site/images/bg-blue-transparent.png");*/
}

.facets-item-cell-table-quick-view-link:hover{
	/*background: url("/site/images/bg-blue-transparent.png");*/
	background: url("/site/images/bluebg.png");
}

.facets-item-cell-table-quick-view-link {
	@extend .item-cell-quick-view-link;

	background: url("/site/images/bg-blue-transparent.png");
	border:none;
	line-height: 22px;
	text-transform: uppercase;
	font-family: "Avenir LT W01_85 Heavy1475544";
	font-size: 14px;
	padding: 6px 20px;
}

.facets-item-cell-table-quick-view-link .site-search-input-icon{
	position: relative;
	top: 3px;
	left: auto;
}

.facets-item-cell-table-image-wrapper {
	position:relative;
	text-align:center;
	border:1px solid #e3e3e3;
}

.facets-item-cell-table-link-image {}

.facets-item-cell-table-quick-view-icon {}

.facets-item-cell-table-add-to-cart-itemid {}

.facets-item-cell-table-stock {
	text-align:center;
}

.facets-item-cell-table-details {
	text-align:center;
}

.facets-item-cell-table-image {
	width:100%;
	height:auto;
}

.facets-item-cell-table-title {
	@extend .item-cell-title;
	text-align: left;
	font-family: "Avenir LT W01_65 Medium1475532";
	font-size: 15px;
	letter-spacing: 0;padding: 20px 0 5px 0;
}

.facets-item-cell-table-title a{
	color: #6f6f70 !important;
}

.facets-item-cell-table .global-views-star-rating{
	text-align: left;
}

.facets-item-cell-table-price {
	@extend .small-price;
	margin-bottom:$sc-small-margin;
}

.facets-item-cell-table-rating {
	text-align:center;
}

.facets-item-cell-table .item-details-option-color-tiles-container {
	@extend .color-picker-sm;
}

.facets-item-cell-table .item-details-option-color-label {
	display:none;
}

.facets-item-cell-table {
	.global-views-star-rating-area {
		float:none;
		margin-bottom:$sc-small-margin;
	}
}

.facets-item-cell-table-add-to-cart-quantity {
	@extend .input-medium;
}

.facets-item-cell-table-add-to-cart-button {
	@extend .button-primary;
	@extend .button-medium;
}