/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-facets-display-narrowedby-title{
	text-transform: capitalize;
	color:#314654;
}

.facets-facets-display-filter {
	@extend small;
	color: #6f6f70;
	font-family: "Avenir LT W01_55 Roman1475520";
	/*margin-left: $sc-base-margin * 2;*/
	margin: 5px 0;
	display: inline-block;
	background: #f5f5f5;
	padding: 8px 10px;
	border-radius: 5px;
}

.facets-facets-display-filter-delete-icon {
	
	@extend .icon-base;
	@extend %fa-times-circle;
  position: relative;
  top: 2px;
	color: #ff7d2f;
	margin-left: $sc-base-margin;
}

.facets-facets-display-clear-wrapper{
	margin-top: 0;
	float:right;

	@media (min-width: $screen-md-min){
		/*display: none;*/
	}

	@media (max-width: $screen-phone){
		margin-top: 0;
		float: none;
		display: inline-block;
		margin: 5px 0;
	}
}

.facets-facets-display-clear{
	@extend .button-tertiary;
	@extend .button-small;

	color: #6f6f70;
	font-family: "Avenir LT W01_55 Roman1475520";
	margin-left: 10px;
	display: inline-block;
	background: #f5f5f5;
	padding: 8px 10px;
	border-radius: 5px;
	border: none;

	@media (max-width: $screen-phone){
		margin-left: 0;
	}
}
.facets-facets-display-clear-icon {
	@extend .facets-faceted-navigation-facet-option-circle;
	color: #ff7d2f !important;
	position: relative;
	top: 3px;
}