/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-cartitems-module{
	margin: 0 0 $sc-medium-margin;
}
.order-wizard-cartitems-module-accordion-head{
	@extend .accordion-head;
}
.order-wizard-cartitems-module-accordion-head-toggle{
	@extend .accordion-head-toggle;
	color: $sc-color-icon;
    font-size: $sc-h4-font-size-mobile;
    &:hover{
    	color: $sc-color-icon;
    }
}
.order-wizard-cartitems-module-accordion-toggle-icon{
	@extend .accordion-toggle-icon;
}
.order-wizard-cartitems-module-accordion-body{
	@extend .accordion-body;

	.item-view-cell-navigable-item-image{
		padding-left: 0;
		width: 25%;
	}
	.item-views-cell-navigable-item-quantity-label,
	.item-views-cell-navigable-item-unit-price-label,
	.item-views-cell-navigable-item-amount-label,
	.item-views-cell-navigable-item-quantity-label {
		display: inline-block;
		@media (min-width: $screen-md-min){
			display: none;
		}
	}
}

.lg2sm-first.order-wizard-cartitems-module-table {
	table-layout: fixed;

	.item-views-cell-navigable-item-quantity-label,
	.item-views-cell-navigable-item-unit-price-label,
	.item-views-cell-navigable-item-amount-label,
	.item-views-cell-navigable-item-quantity-label {
		display: inline;
	}

	.item-views-cell-navigable-item-quantity .item-views-cell-navigable-item-quantity-value {
		display: inline-block;
		text-align: left;
	}
}

.order-wizard-cartitems-module-accordion-container{
	padding: $sc-base-padding * 4;
}
.order-wizard-cartitems-module-accordion-container-table-header {
	display: none;
	@media (min-width: $screen-md-min) {
		display: table-header-group;
		width: 100%;
	}
}
.order-wizard-cartitems-module-accordion-container-table-header-image {
	@extend .item-view-cell-navigable-item-image;
	font-size: $sc-base-font-size;
	font-weight: $sc-font-weight-semibold;
}
.order-wizard-cartitems-module-accordion-container-table-header-details {
	color:$sc-color-theme-light;
	font-size: $sc-base-font-size;
	font-weight: $sc-font-weight-semibold;
}
.order-wizard-cartitems-module-accordion-container-table-header-quantity,
.order-wizard-cartitems-module-accordion-container-table-header-totalprice,
.order-wizard-cartitems-module-accordion-container-table-header-amount {
	text-align: right;
}


.order-wizard-cartitems-module-shipment-table{
	@extend .table-flex-item-navigable;
}
.lg2sm-first.order-wizard-cartitems-module-table{
	.item-views-cell-navigable-item-unit-price,
	.item-views-cell-navigable-item-quantity,
	.item-views-cell-navigable-amount {
		text-align: left;
	}
}
.order-wizard-cartitems-module-edit-cart-label{
	margin:-$sc-base-margin * 4;
	margin-bottom:$sc-base-margin * 3;
	padding: $sc-base-padding * 3 $sc-base-padding * 4;
	border-bottom:1px solid $sc-color-theme-border;
}
.order-wizard-cartitems-module-edit-cart-link{
	font-size: $sc-h4-font-size-mobile;
	font-weight: $sc-font-weight-bold;
	color: $sc-blue-dark;
}

.order-wizard-cartitems-module-products-scroll{
	@media (min-width: $screen-sm-min){
		max-height:570px;
		overflow-y:auto;
		overflow-x:hidden;
	}
	.item-view-cell-navigable-item-quantity-label {
		display: inline-block;
	}
	.item-views-cell-navigable-item-image {
		padding-left: 0;
		width: 80px;
		img{
			border: 1px solid $sc-color-theme-border;
		}
	}
	.item-views-cell-navigable-details{
		padding-left: 0;
		p{
			line-height: normal;
		}
		.item-views-cell-actionable-selected-options-cell{
			.item-views-selected-option-label{
				min-width: 82px;
				@media (max-width:344px), (min-width:345px) and (max-width: 364px) {
					min-width: 94px;
				}
				height:40px;
				float:left;
				font-size: $sc-small-font-size;
				color: $sc-blue-dark;
				font-weight: $sc-font-weight-bold;
			}
			@media (max-width:767px), (min-width:993px) and (max-width:1200px) {
				.adjust-label-width-final {
					min-width: 94px;
				}
			}
			.item-views-selected-option-value{
				font-size: $sc-small-font-size;
				color: $sc-color-text;
			}
		}

		.item-views-price{
			margin: $sc-base-margin *2 0;
		}
	}
}
.order-wizard-cartitems-module-table{
	@extend .table-flex-item-navigable;
}

//fixes for vertical alignment, font, tile and indentation
.order-wizard-cartitems-module-accordion-container .item-views-selected-option-color-tile {
	margin-top: 3.4px;
}
.order-wizard-cartitems-module-accordion-container .item-views-selected-option-color-text {
	margin-top: 0.5px;
	text-transform: none;
	color: #6f6f70;
}
.item-views-selected-option-color-label-text, .item-views-selected-option-color-label {
	float:left;
	@media (min-width:994px) and (max-width: 1199px) {
		float:none;
	}
	min-width: 70.97px;
	@media (max-width: 364px) {
		min-width:82.97px;
	}
	@media (min-width: 768px) and (max-width: 993px ) {
		min-width: 82.97px;
	}
	font-weight: 700 !important;
	font-size: 12px !important;
	color: #314755 !important;
}
.item-views-selected-option-color-tiles-container span {
		border:1px solid #e6e6e6;
}
.back-order {
	clear:both;
}


//positioning fixes for matrix options
@media (max-width:344px) {
	.item-views-selected-option-color-text {
		margin-left: 94px;
	}
}
@media (min-width:345px) and (max-width: 364px) {
	.item-views-selected-option-color-text {
		display:table !important;
		margin-left: 94px;
	}
}
@media (min-width: 768px) and (max-width: 887px) {
	.item-views-selected-option-color-text {
		margin-left: 86px;
	}
	.item-views-selected-option-value{
		margin-left:3px;
		float: left;
    width: 42px;
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.item-views-selected-option-color-text {
		margin-left:82px;
	}
	.adjust-small-word {
		margin-left:92px;
	}
}
@media (max-width: 344px) {
	.item-views-selected-option-value{
  	position:relative;
		right:3px;
		float: right;
		@media (min-width:320px) {
			float:left;
		}
    width: 42px;
	}
}
@media (min-width: 768px) and (max-width: 993px) {
	.item-views-selected-option-color-label {
		margin-right:0;
	}
	.item-views-selected-option-color-tiles-container li{
		margin-right: 3px;
	}
	.item-views-selected-option-value {
		height:40px;
	}
}
.item-views-selected-option-value {
		@media (min-width: 992px) and (max-width:1199px) {
			display: table;
			width: 37px;
			word-break: break-word;
		}
}
[name="Rail Length"] .item-views-selected-option-value,
[name="Length"] .item-views-selected-option-value,
[name="Watts"] .item-views-selected-option-value,
[name="Baluster Length"] .item-views-selected-option-value,
[name="Base Material"] .item-views-selected-option-value,
[name="Finish"] .item-views-selected-option-value,
[name="Grit"] .item-views-selected-option-value,
[name="Post Size"] .item-views-selected-option-value,
[name="Dimensions"] .item-views-selected-option-value,
[name="Pump Size"] .item-views-selected-option-value,
[name="Screw Length"] .item-views-selected-option-value,
[name="Screw Type"] .item-views-selected-option-value,
[name="Type"] .item-views-selected-option-value,
[name="Height"] .item-views-selected-option-value,
[name="Quantity"] .item-views-selected-option-value,
[name="Railing Type"] .item-views-selected-option-value,
[name="Scrail Type"] .item-views-selected-option-value,
[name="Pond Size"] .item-views-selected-option-value {
	@media (max-width: 344px) {
	float: left;
	height: 40px;
	width:35px;
	@media (max-width:311px) {
		width:23px;
	}
	position: relative;
	right:2px;
	}
	@media (min-width: 345px) and (max-width: 364px) {
		display: table;
		height: 40px;
	}
	@media (min-width: 993px) and (max-width:1199px) {
		display: table;
	  // width: 47px;
	  word-break: break-word;
		height:45px;
	}
}


//rail length sibling stlying fixes RD
.rail-length-sibling-indent-fix, .rail-length-sibling-indent-fix + li {
		@media (min-width: 365px) and (max-width: 767px),
		(min-width: 888px) and (max-width: 991px),
		(min-width: 1200px) {
			position: relative;
			right: 82px;
		}
}
.rail-length-sibling-indent-fix + li {
		@media (min-width:331px) and (max-width: 344px) {
			position: relative;
			bottom: -52px;
			right: 34px;
		}
		@media (min-width: 345px) and (max-width: 364px) {
			position: relative;
			right: 0px;
		}
		@media (min-width:797px) and (max-width:887px) {
			top: 52px;
    	position: relative;
		}
		@media (min-width:797px) and (max-width: 887px) {
		  right: 43px;
		}
		@media (min-width: 888px) and (max-width: 899px) {
			right: -82px;
			bottom: 19px;
		}
}
.rail-length-sibling-indent-fix + li + .item-views-selected-option-color-text {
	position:relative;
	@media (min-width:335px) and (max-width: 344px) {
		bottom:20px;
	}
	@media (min-width: 335px) and (max-width: 344px) {
		left: 1px;
    margin-top: 30px;
	}
	@media (min-width:365px) and (max-width: 437px) {
	}
	@media (min-width:438px) and (max-width: 767px) {
		right: 81px;
	}
	@media (min-width:888px) and (max-width:911px) {
		bottom: 23.5px;
	}
	@media (min-width:900px) and (max-width:911px) {
		left: 20px;
	}
	@media (min-width: 912px) and (max-width: 992px) {
		left: 102px;
		bottom: 20px;
	}
	@media (min-width:911px) and (max-width:991px) {
		left: 20px;
	}
  @media (min-width: 993px) and (max-width: 1199px) {
		margin-left: 83px;
	}
	@media (min-width: 1200px) {
 		bottom: 20px;
		margin-left: 20px;
	}
}
.rail-length-sibling-indent-fix + li + .margin-left-indent {
	@media (min-width: 1200px) {
		margin-left: 1px;
		bottom: 2px;
	}
	@media (min-width: 365px) and (max-width: 378px) {
		left: 3px;
	}
	@media (min-width: 438px) and (max-width: 460px) {
		right: 0;
	}
}


//long color text fixes
.bigger-word-margin-left-indent {
	@media (min-width: 365px) and (max-width: 400px) {
		margin-left: 80px;
	}
	@media (min-width:911px) and (max-width: 962px) {
		margin-left: 87px;
	}
	@media (min-width:1200px) {
		margin-left: 81px;
	}
}
.margin-left-indent {
	@media (min-width: 365px) and (max-width: 378px) {
		margin-left:82px;
	}
	@media (min-width:888px) and (max-width:911px) {
		margin-left: 87px;
	}
	@media (min-width:992px) and (max-width:1199px)  {
		margin-left: 82px;
	}
}
@media (min-width:366px) and (max-width: 408px) {
	.reverse-container + li + li {
		margin-left: 83px;
	}
}
@media (min-width:372px) and (max-width: 408px) {
	.reverse-container + li + li:not(.bigger-word-margin-left-indent) {
		bottom: 20px;
		left: 19px;
	}
}
@media (min-width: 365px) and (max-width: 767px) {
	.frame-color-sibling-indent-reverse {
		margin-left: 83px;
	}
}
@media (min-width:888px) and (max-width:992px) {
	.frame-color-sibling-indent-reverse {
		margin-left: 83px;
	}
	.reverse-container + li + .item-views-selected-option-color-text {
		bottom:0;
		margin-left: 71px;
	}
}
@media (min-width:409px) and (max-width: 437px) {
	.rail-length-sibling-indent-fix + li + li {
		right:81px;
	}
}
@media (min-width:409px) and (max-width:437px) {
	.rail-length-sibling-indent-fix + li +li:not(.smallest-word-margin-left-indent) {
		right:0;
	}
	@media (min-width:413px) {
		.tiny-word-margin-left-indent {
			right: 81px !important;
		}
	}
}
@media (min-width:797px) and (max-width:887px) {
	.reverse-container + li {
		right:0;
		top:0;
	}
}
.ships-free > i {
	float: left;
	position: relative;
	top: -5px;
	height: 35px !important;
}
