/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/
.home-mobile-navigation{
	display: none;
	font-family:'Avenir LT W01_55 Roman1475520';

	ul{
		list-style:none;

		li{
			background: #f1f1f1;
			border-top: 1px solid #fff;

			a{
				display: block;
				padding:15px;
				color:#324654;
				font-weight: bold;
			}
		}
	}



	@media (max-width: $screen-tablet) {
		display:none;
	}

	@media (max-width: $screen-phone) {
		display:block;
	}

	
}