/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

//.item-view-related-item{
//	height:250px;
//	width:228px;
//}


.item-views-related-item-thumbnail{
	display: inline-block;
	//margin: 0 auto $sc-small-margin;
	margin-bottom: $sc-small-margin;
	overflow: hidden;
	width: 100%;
	max-width: 173px;
	min-height: 145px !important;
	img {
		border: 1px solid #e3e3e3;
	}
	//width:100%;
	//margin-bottom:$sc-small-margin * 2;
	//overflow:hidden;
	//display: block;
	//min-height: $img-large;
}


.item-views-related-item-title{
	@extend .small-title-navigable;
	//text-align:center;
	font-weight:normal;
	text-transform:capitalize;
	text-align: left;
	margin-bottom: $sc-small-margin;
	display: block;
	position:relative;
	max-width: 173px;
}


.item-views-related-item-price{
	@extend .small-price;
	margin-bottom: $sc-small-margin;
	position:relative;
	text-align: left;
	max-width: 173px;
}

.item-views-related-item-rate{
	margin-bottom: $sc-small-margin;
	display: block;
	text-align: left;
	max-width: 173px;
	.global-views-star-rating{
		width: 92px;
		margin: auto;
	}
}