/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-faceted-navigation-title {
	padding-bottom: 10px;
	padding-top: 0;

	@media (min-width: $screen-md-min) {
		padding-right: $sc-base-padding * 3;
		padding-left: $sc-base-padding * 3;
	}

	line-height: 30px;
}
.facets-faceted-navigation-facet-group-expander {
	border-bottom: 1px solid $sc-color-theme-background;
}


.facets-faceted-navigation-facet-option.option-active {
	color: $sc-color-theme;
	font-weight: bold;
}