/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-faceted-navigation-item-range-facet-group {
	@extend .facets-faceted-navigation-facet-group;
}

.facets-faceted-navigation-item-range-facet-group-expander {
	@extend .facets-faceted-navigation-facet-group-expander;
}

.facets-faceted-navigation-item-range-filter-delete {}

.facets-faceted-navigation-item-range-filter-delete-icon {}

.facets-faceted-navigation-item-range-facet-group-wrapper {
	padding-top: $sc-base-padding * 2;
	padding-left: $sc-base-padding * 4;
	padding-right: $sc-base-padding * 4;

	@media(min-width: $screen-md-min){
		padding: 0;
	}
}

.facets-faceted-navigation-item-range-facet-group-expander-icon {
	@extend .facets-faceted-navigation-facet-group-expander-icon;
}

.facets-faceted-navigation-item-range-facet-group-title {
	@extend .facets-faceted-navigation-facet-group-title;

}

.facets-faceted-navigation-item-range-facet-option {
	@extend .facets-faceted-navigation-facet-option;
}

.facets-faceted-navigation-item-range-facet-option-circle {
	@extend .facets-faceted-navigation-facet-option-circle;
}

.facets-faceted-navigation-item-range-start {
	color: #6f6f70;
}

.facets-faceted-navigation-item-range-end {
	color: #6f6f70;
	float:right;
}

.facets-faceted-navigation-item-range-slider {
	@extend .price-range-slider;
}

.facets-faceted-navigation-item-range-slider-bar {
	@extend .price-range-slider-bar;
}

.facets-faceted-navigation-item-range-slider-bar-right {
	@extend .price-range-slider-bar-right;
}

/*
.facets-faceted-navigation-item-range-slider-bar-right:before{
	content: "\f192" !important;
	font-family: FontAwesome;
}
*/

.facets-faceted-navigation-item-range-slider-bar-left {
	@extend .price-range-slider-bar-left;
}

.price-range-slider-bar {
	background-color: $sc-color-primary;
	height: 3px;
}
.facets-faceted-navigation-item-range-facet-group-expander{
	border:none !important;
	background: #f5f5f5;
	padding: 10px !important;
	letter-spacing: 0;
}

.facets-faceted-navigation-item-range-facet-group-expander .facets-faceted-navigation-item-range-facet-group-title{
	color: #ff7d2f;
	font-family: "Avenir LT W01_85 Heavy1475544";
	font-size: 13px;
	text-transform: capitalize;
}

.facets-faceted-navigation-item-range-facet-group{
	padding: 10px 5px !important;
}