/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.site-search {
	@extend .nav-search;
	padding:0;
	border-left: 1px solid #e6e6e6;
}

.site-search-content {
	@extend .nav-search-content;
	width: 100%;
	border: 1px solid #e6e6e6;
}

.site-search-content-form {
	@extend .nav-search-content-form;
}

.site-search-content-input {
	@extend .nav-search-content-input;
	.itemssearcher-input {
		border: none;
		padding-left: 20px;
		width: 85%;
}
	.itemssearcher-input:focus{
		outline:none;
		outline-style:none;
		box-shadow:none;
		border-color:transparent;
	}

	background: #FFFFFF;
}

.site-search-input-icon {
	@extend .nav-search-input-icon;
    top: 8px;
    color:#FFFFFF;
}

.site-search-input-reset {
	@extend .nav-search-input-reset;
}

.site-search-button-submit {
	@extend .nav-search-button-submit;
	background:#324654;
	padding:0 20px;
	color:#324654;
	height:37px;
	position:absolute;
	right:0;
	top:0;
}

.site-search-button-close {
	@extend .nav-search-button-close;
}

.site-search-input-reset-icon {
	@extend .nav-search-input-reset-icon;
}