/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-list-control-button-move{
	@extend .button-tertiary;
	@extend .button-small;
	//@extend .button-generic;
	@extend .button-generic-blue;
	min-width: 100px;
	text-align: center;
	margin-top: 10px;
	color: #fff;
}

.product-list-control-button-wishlist{
	@extend .button-tertiary;
	@extend .button-large;
	margin-top: $sc-base-margin * 3;
	/*margin-bottom: $sc-base-margin * 5;*/
	font-weight: $sc-font-weight-semibold;
	border: 1px solid $sc-color-theme;
	width: 100%;
	text-align:center;
	cursor:pointer;
	cursor:hand;
}

.product-list-control-button-wishlist:focus {
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}


.product-list-control-flyout{
	text-align: left;
	border:1px solid $sc-color-theme-border;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	position:relative;
	width:100%;
	background:$sc-pusher-bg;
	z-index:99999999999;
	@media(min-width: $screen-sm-min){
		position:absolute;
		z-index:1;
	}
}

.product-list-control-flyout-title{
	padding:$sc-base-padding * 3;
	border-bottom:1px solid $sc-color-theme-border;
}

.product-list-control-flyout-product-lists{
	padding:$sc-base-padding * 3;
	li{
		font-weight:$sc-font-weight-normal;
		color:$sc-color-theme;
		font-size:$sc-base-font-size;
	}
}

.product-list-control-new-product-list-container{
	@extend .new-product-list-container;
}

.product-list-control-nolists-messages{}
.product-list-control-move{
	min-width: 250px;
	right: 0;
}