/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.product-list-details-later-macro-selectable-actionable {
	@extend .item-views-cell-selectable-actionable;
}

/* Save for Later */

.product-list-details-later-macro-thumbnail {
	@extend .col-xs-3;
	@extend .col-sm-12;
}

.product-list-details-later-macro-details {
	@extend .col-xs-9;
	@extend .col-sm-12;
}

.product-list-details-later-macro-name-link{
	@extend .item-views-cell-actionable-name-link;
	font-weight: $sc-font-weight-semibold;
    font-size: $sc-base-font-size;
    margin-top: $sc-base-margin * 3;
    display: block;
    color: $sc-color-text !important;
}

.product-list-details-later-macro-price {
	@extend .item-views-cell-actionable-price;
}

.product-list-details-later-macro-qty {
	@extend .item-views-cell-actionable-qty;
	margin-top: $sc-base-margin * 6;
}

.product-list-details-later-macro-qty-form {
	@extend .item-views-cell-actionable-qty-form;
}

.product-list-details-later-macro-input-qty {
	@extend .item-views-cell-actionable-input-qty;
	input[type="number"]{
		background-color: transparent;
		border: 1px solid $sc-color-theme-border;
	}
}

.product-list-details-later-macro-button-quantity-add {
	@extend .saveforlater-quantity-add;
}


.product-list-details-later-macro-button-quantity-minus {
	@extend .saveforlater-quantity-minus;
}

.product-list-details-later-macro-item-stock {
	@extend .item-details-stock;
}

.product-list-details-later-macro-actions {
	@extend .saveforlater-actions;
}

.product-list-details-later-macro-button-addtocart{
	@extend .button-saveforlater-addtocart;
	text-transform: uppercase;
	font-weight: $sc-font-weight-bold;
	font-size: $sc-h4-font-size;
}

.product-list-details-later-macro-button-remove{
	@extend .button-saveforlater-remove;
	background-color: transparent;
	border: 1px solid $sc-color-theme-border;
	color: $sc-blue-dark;
	font-weight: $sc-font-weight-semibold;
	font-size: $sc-font-size-text;
}

.product-list-details-later-macro-label-qty{
	@extend .item-views-cell-actionable-label-qty;
}

.product-list-details-later-macro-qty-input{
	@extend .input-mini;
}

.product-list-details-later-macro-qty input[type=number]{
	width:60px;
	@media (min-width: $screen-xs-min){
		width:45px;
	}
	@media (min-width: $screen-md-min){
		width:60px;
	}
}

.product-list-details-later-macro-amount{}
.product-list-details-later-macro-info{}
.product-list-details-later-macro-name{}