.builderheader{
    @extend .container;
    margin: 0 auto;
}

.builderprogramenrollment-request{
    @extend .container;
    margin: 0 auto;
}

.builderheader{
    header{
        text-align: center;
        /*margin: $sc-base-margin * 7 0;*/
        margin: 0 0 35px 0;

        h1{
            font-family: $sc-clarendon-title;
            color: $sc-color-primary;
            font-family: 'Clarendon LT W01 Roman1551494';
            text-transform: none;
            font-weight: $sc-font-weight-normal;
            font-size: $sc-navigation-icon-size;
        }

        h4{
            color: $sc-color-primary;
            text-transform: none;
        }
    }

    .header-content{
        border-top: 4px solid $sc-lines;
        border-bottom: 4px solid $sc-lines; 
        max-height: 437px;
        overflow: hidden;

        @media (max-width: 1200px) {
            max-height: none;
        }

        .imageHammer{
            padding: 0;

            img{
                @media (max-width: 992px) {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .right-box{
            padding: $sc-base-padding * 15 0 $sc-base-padding * 12 $sc-base-padding * 12;

            @media (max-width: 1200px) {
                max-height: none;
                padding: 5% 0 0 30px;
            }

            @media (max-width: $screen-phone) {
                padding:10px;
                text-align: center;
            }

            h2{
                color: $sc-color-primary;
                text-transform: none;
                letter-spacing: 0;
                font-size: 35px;
                font-weight: $sc-font-weight-normal;
                margin-bottom: $sc-base-margin * 6;
            }

            .right-content{
                margin-bottom: $sc-base-margin * 6;

                i{
                    color: $sc-color-primary;
                    font-size: $sc-navigation-icon-size;
                    display: inline-block;
                    position: relative;
                    top: -15px;
                }
                .content-data{
                    display: inline-block;
                    margin-left: $sc-base-margin * 5;

                    @media (max-width: $screen-phone) {
                        margin-left: 10px;
                    }

                    span{
                        color: $sc-color-dark-copy;
                        font-size: $sc-h4-font-size;
                        letter-spacing: 1px;
                        font-weight: $sc-font-weight-semibold;
                    }
                }
            }
        }
    }

    p{
        font-size: $sc-font-size-text;
        color: $sc-color-text;

        &.builderheader-last-p{
            margin: $sc-base-margin * 8 0 $sc-base-margin * 6;
            padding-bottom: $sc-base-margin * 6;
            border-bottom: 3px solid $sc-borders;
         }
    }
}


.builderprogramenrollment-request {
    @extend .box-column-bordered;
    background-color: transparent;

    input, select{
        border: 1px solid $sc-borders;
    }

    .input-large-form{
        min-width: 480px;

        @media (max-width: 767px) {
            min-width: 70%;
        }
        @media (max-width: 495px) {
            display: block;
            width:100%;
        }
    }
    .input-medium-form{
        min-width: 330px;

        @media (max-width: 767px) {
            min-width: 70%;
        }
        @media (max-width: 495px) {
            display: block;
            width:100%;
        }
    }
    .input-small-form{
        min-width: 205px;

        @media (max-width: 767px) {
            min-width: 70%;
        }
        @media (max-width: 495px) {
            display: block;
            width:100%;
        }
    }
}
.builderprogramenrollment-request-header {
    margin-bottom: $sc-medium-margin;

    .builderprogramenrollment-request-header-title{
        text-transform: inherit;
        color: $sc-color-tertiary;
        font-size: $sc-h3-font-size;
        font-weight: $sc-font-weight-normal;
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0;
    }
}
.builderprogramenrollment-request-form-year,
.builderprogramenrollment-request-form-make,
.builderprogramenrollment-request-form-model,
.builderprogramenrollment-request-form-submit,
.builderprogramenrollment-request-form-cancel {
    @extend .control-group;
}
.builderprogramenrollment-request-form-label {
    @extend .input-label;
}
.builderprogramenrollment-request-form-input {
    @extend .input-large;
}
.builderprogramenrollment-request-form-label-required {
    @extend .input-required;
}
.builderprogramenrollment-request-form-submit-button {
    @extend .button-primary;
    @extend .button-medium;
    padding:$sc-base-padding * 3 $sc-base-padding * 6;
    font-size: $sc-font-size-button; 
    margin-left: 220px;
    margin-bottom: 20px;

    @media (max-width: $screen-tablet) {
        margin-left: 0;
    }

}

.builderprogramenrollment-view-alert{
    border-top: 1px solid $sc-borders;
    margin: $sc-base-margin * 10 0 $sc-base-margin * 15;
    padding: $sc-base-padding * 5 0 0;

    .image-wrap{
        float: left;
        width: 28px;
        margin-right: $sc-base-margin *2;
        height:80px;

        > img{
            position: relative;
            top: -5px;

        }
    }



    p{
        margin: 0 auto;
    }

    a{
        color: $sc-color-primary;
    }
}

.builderprogramenrollment-request-form-cancel-button {
    @extend .button-primary;
    @extend .button-medium;
}

.builderprogramenrollment-request-form-controls-group{

    .builderprogramenrollment-request-form-label{
        width: 200px;
        text-align: right;
        color: $sc-color-text; 
        margin: $sc-base-margin *2 $sc-base-margin *4 $sc-base-margin *2 0 ;
        font-weight: $sc-font-weight-normal;
        font-size: $sc-font-size-text;
        float: left;

        @media (max-width: 767px) {
            width: 25%;
        }
        @media (max-width: 495px) {
            width: 100%;
           text-align: left;
        }
    }

    .builderprogramenrollment-request-form-controls{
        display: inline-block;
        @media (max-width: 767px) {
            width: 70%;
        }

        @media (max-width: 495px) {
            display: block;
            width: 100%;
        }
    }
}
