.video-list-results-container {
  .modal-content {
    @media (max-width: $screen-sm-min) {
      width: auto !important;
      @include border-radius(0);
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-name {
  background: #324654;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.modal-content-iframe {
  border: 1px solid #324654;
  width:100%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 500;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}