.brand-divider {
  color:#ff7d2f;
}

// Overriding itemsearch brands sections
.itemssearcher-item-results.brand {
	padding: $sc-base-padding * 2 0;
	
	.itemssearcher-item-results-image {
		width: auto;
	}
	
	.itemssearcher-item-results-content {
		width: auto;
	}
}

