/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.header-profile-welcome-link,
.header-profile-login-link,
.header-profile-register-link,
.header-profile-loading-link {
	@extend %header-link;
	/*color: $sc-color-link;*/
	color:#324654 !important;
	padding: 0 $sc-base-padding * 2;
	font-size:14px;
	color:#324654;
}

.header-profile-welcome-link:hover,
.header-profile-login-link:hover,
.header-profile-register-link:hover,
.header-profile-loading-link:hover {
	color: #6f6f70
}



.header-profile-welcome-link{
	color: $sc-color-secondary;
}

.header-profile-welcome-link-name{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	@media (min-width: $screen-md-min){
		display: inline;
	}
}

.header-profile-welcome-user-icon{
	@extend .fa;
	@extend %fa-user;
	color:red;

	float:left;
	font-size: $sc-h3-font-size;
	padding: $sc-base-padding 0;
	margin-right: $sc-base-margin *3;
}

.header-profile-welcome-carret-icon{
	@extend .fa;
	@extend %fa-angle-down;
	display:none;
	margin-left: $sc-base-margin;

	@media (min-width: $screen-md-min){
		display: inline;
	}
}

//////////////////////////////////////////////////////////
//login register 

.header-profile-menu-login{
	color: $sc-color-theme;
}

.header-profile-menu-login-container{
	margin-right:$sc-base-margin;
}

.header-profile-menu-login li{
	display:inline-block;
}

.header-profile-login-icon{
	@extend .fa;
	@extend %fa-user;
	font-size: $sc-h4-font-size;
	color:#ff7d2f;
}

//////////////////////////////////////////////////////////
//my account menu
.header-profile-menu-myaccount-container {
	@extend .header-menu-level-container;
	padding: $sc-base-padding * 3 0 $sc-base-padding * 7;
	z-index: 1002;
}

.open .header-profile-welcome-link:before {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -7.5px;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #FFF;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
	display: none;

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.open .header-profile-welcome-link:after {
	position: absolute;
	top: 51px;
	left: 50%;
	margin-left: -6.5px;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #FFF;
	border-left: 6px solid transparent;
	content: '';
	z-index: 9999;
	display: none;

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.header-profile-loading-icon{}
.header-profile-loading-indicator{}