/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.header-logo {
	display: block;
	line-height: $sc-main-nav-height;
	/*height: $sc-main-nav-height;*/
	/*width: $sc-main-nav-width;*/
	width: auto;
	margin: 0 auto;

	/*
	@media (min-width: $screen-sm-min) {
		width: auto;
	}*/

	@media (max-width: $screen-tablet) {
		width: 200px;
	}
}

.header-logo-image {
	width: 90%;
	vertical-align: middle;

	@media (min-width: $screen-md-min) {
		width: auto;
	}
}

.header-logo-sitename{}