/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

$sc-secondary-menu-height: 40px;

///////////////////////////////////////////////////////////////
// header logo

.header-logo-wrapper {
	/*max-width: 299px;
	width: 60%;*/
}

///////////////////////////////////////////////////////////////
// main nav positioning

.header-right-menu {
	float: right;
	margin-top: 0;
	margin-bottom: 0;

	@media (min-width: $screen-tablet) {
		margin-top: 12px;
	}

	@media (min-width: $screen-desktop) {
		margin-top: 28px;
	}
}
.header-menu-searchmobile-icon {
	color: $sc-color-primary;
}
.header-menu-search-icon,
.header-menu-searchmobile-icon {
	color: $sc-color-primary
}

///////////////////////////////////////////////////////////////
// secondary nav styles

.header-secondary-wrapper {
	/*background-color: $sc-color-theme-background-light;*/
	background-color:#fff;
	
	@media (min-width: $screen-md-min) {
		/*background-color: $sc-color-theme-background;*/
		/*height: $sc-secondary-menu-height;*/
		/*height:42px;*/
		height:auto;
		line-height: $sc-secondary-menu-height;
		background-color:#ededed;
	}
}

///////////////////////////////////////////////////////////////
//main nav styles

.header-menu-cart-link {
	overflow: hidden;
	color: $sc-color-theme-background;
	background-color: $sc-color-theme-background-lightest;
}


.header-menu-cart-link-enabled{
	&.header-menu-cart-link {
		background-color: white;
		color: $sc-color-theme;
	}
	.header-menu-cart-icon {
		color: $sc-color-theme;
		background-color: white;
		@media(min-width: $screen-md-min) {
		/*color: $sc-color-theme;*/
		color: #ff7d2f;
	    background-color: white
		}	
	}
}

.header-menu-cart-link-enabled{
	&.header-menu-cart-link:hover {
		background-color: white;
	}
}

.header-menu-cart-legend {
	background-color: $sc-color-theme-background-lightest;
	padding: 0;
	float:right;
	display: none;

	@media(min-width: $screen-md-min) {
		display: inline;
	}
}

.header-menu-cart-icon {
	@extend .fa;
	@extend %fa-shopping-cart;
	font-size: $sc-h3-font-size;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
	background-color: $sc-color-secondary;
	color: white;
	

	@media(min-width: $screen-md-min) {
		display: inline;
		color: $sc-color-theme-background;
		background-color: transparent;
		margin-right: 5px
	}
}

.header-top-content .col{
	width:auto;
	float:left;	
	padding:5px;

	@media(min-width: $screen-tablet) {
		width:25%;
		text-align:center;
		padding:0;
	}

	@media(min-width: $screen-desktop) {
		width:25%;
		text-align:center;
		padding:0;
	}
}

.header-top-content .col span{
	display:none;
	@media(min-width: $screen-md-min) {
		display:inline;
	}
}

.header-top-content .first{
	text-align:left;
}
.header-top-content .last{
	text-align:right;
}

.header-top-content .col:nth-child(3),.header-top-content .col:nth-child(4) {
	display:none;

	@media(min-width: $screen-tablet) {
		display:block;
	}

	@media(min-width: $screen-desktop) {
		display:block;
	}
}

%header-link {
	display: block;
	min-width: $sc-target-size;
	height: $sc-target-size;
	line-height: $sc-target-size;
	color: $sc-color-theme;
	text-align: center;
	position: relative;
	background-color: transparent;
}

.header-menu-settings-link,
.header-menu-cart-link,
.header-menu-searchmobile-link {
	@extend %header-link;
}

.header-menu-settings-link {
	padding: 0 $sc-base-padding * 2;
	margin-right: $sc-base-margin * 4;
}

.header-menu-cart-dropdown {
	margin-top: 0;
    margin-bottom: 0;

    @media(min-width: $screen-tablet) {
		margin: 0;
	}

    @media(min-width: $screen-desktop) {
		margin: 0 5px 0 0;
	}
}
.site-message{
	background-color:#ff7d2f;
	color:#fff;
	text-align:center;
	padding:10px 0;
}