{{!
© 2016 NetSuite Inc.
User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
provided, however, if you are an authorized user with a NetSuite account or log-in, you
may use this code subject to the terms that govern your access and use.
}}

<a class="header-mini-cart-menu-cart-link {{#if showLines}}header-mini-cart-menu-cart-link-enabled{{/if}}" data-type="mini-cart" title="{{translate 'Cart'}}" data-touchpoint="{{cartTouchPoint}}" data-hashtag="#cart" href="#">
	<i class="header-mini-cart-menu-cart-icon"></i>
	<span class="header-mini-cart-menu-cart-legend">
		{{#if isLoading}}
		<span class="header-mini-cart-summary-cart-ellipsis"></span>
		{{else}}
			{{#if showPluraLabel}}
				{{translate '$(0) Items' itemsInCart}}
			{{else}}
				{{translate '1 Item'}}
			{{/if}}
		{{/if}}
	</span>
</a>
<div class="header-mini-cart">
	{{#if showLines}}
	<div data-view="Header.MiniCartItemCell" class="header-mini-cart-container"></div>
	<div class="header-mini-cart-subtotal">
		<div class="header-mini-cart-subtotal-items">
			{{#if showPluraLabel}}
			{{translate '$(0) Items' itemsInCart}}
			{{else}}
			{{translate '1 Item'}}
			{{/if}}
		</div>

		{{#if isPriceEnabled}}
		<div class="header-mini-cart-subtotal-amount">
			{{translate 'Subtotal: $(0)' subtotalFormatted}}
		</div>
		{{/if}}
	</div>

	<div class="header-mini-cart-buttons">
		<div class="header-mini-cart-buttons-left">
			<a href="#" class="header-mini-cart-button-view-cart" data-touchpoint="{{cartTouchPoint}}" data-hashtag="#cart"  data-action="view-cart">
				{{translate 'View Cart'}}
			</a>
		</div>
		<div class="header-mini-cart-buttons-right">
			<a href="#" class="header-mini-cart-button-checkout" data-touchpoint="checkout" data-hashtag="#"  data-action="checkout">
				{{translate 'Checkout'}}
			</a>
		</div>
	</div>

	{{else}}
	<div class="header-mini-cart-empty">
		<a href="#" data-touchpoint="{{cartTouchPoint}}" data-hashtag="#cart">
			{{#if isLoading}}
			{{translate 'Your cart is loading'}}
			{{else}}
			{{translate 'Your cart is empty'}}
			{{/if}}
		</a>
	</div>
	{{/if}}
</div>

