/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.wizard-header{
	@extend .full-width-column;
	@extend .sc-margin-bottom-medium;
	border-bottom: 1px solid $sc-color-theme-border;
	padding-bottom: $sc-base-margin;

	.wizard-step-navigation-step-anchor{
		text-transform: none;
	}

	.wizard-step-navigation-active{
		color: $sc-blue-dark;
		@media(max-width: $screen-xs-max){
			color: $sc-pusher-bg;
			background-color: $sc-color-primary;
		}
	}
	@media(max-width: $screen-xs-max){
		overflow: hidden;
	}
}

.wizard-header-title{
	margin-bottom: $sc-small-margin;
	text-transform: none;
	font-size: $sc-navigation-icon-size;
	color: $sc-blue-dark;
	@media(max-width: $screen-xs-max){
		float: left;
	}
}

.wizard-content{}
.wizard-step-title{}
.wizard-step-content-main{}
.wizard-step-actions{}
