/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-reset-password-body {

	background-color: $sc-color-theme-background-light;
	margin-top: $sc-medium-margin;
	margin-right: - $sc-base-margin * 3;
	margin-left:  - $sc-base-margin * 3;
	padding:$sc-base-padding *8 $sc-base-padding * 4;

	@media (min-width: $screen-sm-min){
		margin-right: 0;
		margin-left:  0;
		padding: $sc-base-padding * 8;
	}
}

.login-register-reset-password-form{
	margin-top: $sc-base-margin * 2;
}
.login-register-reset-password-description{
	margin-top: $sc-medium-margin;
}

.login-register-reset-password-control-group{
	margin-top: $sc-medium-margin;
}

.login-register-reset-password-control-label{
	@extend .input-label;
}

.forgot-password-form-required{
	@extend .input-required;
}

.login-register-reset-password-input{
	@extend .input-large;
}

.login-register-reset-password-submit{
	@extend .button-large;
	@extend .button-primary;
}

.login-register-reset-password-sign-in{
	display:inline-block;
	margin-top: $sc-medium-margin;

	@media (min-width: $screen-sm-min){
		margin-top: 0;
		margin-left: $sc-small-margin;
	}
}

.login-register-reset-password-forgot-password-form-required{
	@extend .forgot-password-form-required;
}

.login-register-reset-password-title{}
.login-register-reset-password-form{}
.login-register-reset-password-controls{}
