/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-register-form-description{
	margin-top: $sc-medium-margin;
	margin-bottom: $sc-medium-margin;
}

.login-register-register-form-controls-group{
	margin-top: $sc-medium-margin;
}

.login-register-register-form-controls{
	@extend .register-form-controls;
}

.login-register-register-form-label{
	@extend .input-label;
}

.login-register-register-form-required{
	@extend .input-required;
}

.login-register-register-form-input{
	@extend .input-large;
}

.login-register-register-form-submit{
	@extend .button-large;
	@extend .button-primary;
	background-color: $sc-color-tertiary;
	text-transform: uppercase;
	font-weight: $sc-font-weight-bold;
	border: 1px solid $sc-color-tertiary;
	font-size: $sc-base-font-size + 2;
	&:hover{
		background-color: rgba(50,70,84,0.9);
		border: 1px solid rgba(50,70,84,0.9);
	}
}

.login-register-register-form-messages{
	@extend .form-messages;
}

.login-register-register-form-optional{
	@extend .register-form-optional;
}

.login-register-register-form-help-block{
	@extend .register-form-help-block;
}

.login-register-register-form{
	@extend .register-form;
	label{
		font-size: $sc-base-font-size + 2;
	}
}

.login-register-register-required{
	@extend .register-required;
}