/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-checkout-as-guest-header{
	margin-bottom: $sc-medium-margin;
}

.login-register-checkout-as-guest-body {
	margin-bottom: $sc-base-margin *6;
	label{
		font-size: $sc-base-font-size + 2;
	}
}

.login-register-checkout-as-guest-description{
	margin-top: $sc-medium-margin;
	margin-bottom: $sc-medium-margin;
}

.login-register-checkout-as-guest-control-group{
	margin-top: $sc-medium-margin;
}

.login-register-checkout-as-guest-control-label{
	@extend .input-label;
}

.login-register-checkout-as-guest-required{
	@extend .input-required;
}

.login-register-checkout-as-guest-input{
	@extend .input-large;
}

.login-register-checkout-as-guest-submit,
.login-register-checkout-as-guest-button-show
{
	@extend .button-large;
	@extend .button-primary;
}

.login-register-checkout-as-guest-form-messages{
	@extend .form-messages;
}

.login-register-checkout-as-guest-form-controls-group{
	@extend .login-register-register-form-controls-group;
}

.login-register-checkout-as-guest-register-form-controls{
	@extend .register-form-controls;
}

.login-register-checkout-as-guest-controls{}
.login-register-checkout-as-guest-help-block{}
.login-register-checkout-as-guest-register-header{}