/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

footer {
    background: #fff;
    color:#6f6f70;
    border-top: 1px solid $sc-color-theme-border;
    position: relative;
}
.footer-content {
    @extend .container;
    @extend .row;
    margin: auto;
    padding:0;

    @media (min-width: $screen-desktop) {
        display:block;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: $screen-tablet) {
        display:block;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.footer-content-nav {
    overflow: hidden;
    padding: $sc-base-padding * 5 0 0 0;
    font-family:'Avenir LT W01_65 Medium1475532';

    @media (max-width: $screen-phone) {
        display:none;
    }
}
.footer-content-nav-list {
    list-style: none;
    margin: 0 0 10px;
    margin-bottom:30px;
    width: 50%;
    float: left;

    @media (max-width: $screen-tablet) {
        float: left;
        width: 50%;
        padding: 0 15px;
    }
    @media (max-width: $screen-phone) {
        width: 100%;
    }
}
.footer-content-nav-list > li,
.footer-connect > li {
    display: list-item !important;
    font-size: 12px;
    height: auto !important;
    visibility: visible !important;
    padding-top: $sc-base-padding;

    @media (max-width: $screen-tablet) {
        display: list-item;
    }

    @media (max-width: $screen-phone) {
        font-size: $sc-h5-font-size;
        padding-top: $sc-base-padding * 3;
        text-align: left;
    }
}
.footer-content-nav-list:first-child {
    margin-left: 0;
}
.footer-content-nav-list-last {
    margin-bottom: 0;

    @media (min-width: $screen-desktop) {
        margin-right: 0;
        width: 20%;
    }
}
.footer-connect {
    margin-right: 0;
    float: left;
    padding: $sc-base-padding * 6 0;

    @media (min-width: $screen-desktop) {
        padding-top: $sc-base-padding * 5;
    }

}
.footer-social {
    overflow: hidden;
}
.footer-social-item {
    display: block;
    float: left;
    margin-right: 12px;
    text-align: -webkit-match-parent;
}
.footer-social-item a {
    color: $sc-color-secondary;
}
.footer-social-item a:hover {
    color: #ff6e17;
}
.footer-content-nav .first {
    color:#324654;
    font-weight:bold;
    display: list-item;
    font-size: 14px;
    margin-bottom: 3px;
    .wf-active & {

    }
}

.footer-content-nav-list a {
    color: #6f6f70;
}
.footer-newsletter-email-form-input {
    @extend .input-large;
    /*width:220px;*/
    display: inline;
    width: 82%;

    @media (max-width: $screen-tablet){
        width: 60%;
    }
    @media (max-width: $screen-phone){
        width: 85%;
    }

}
.footer-newsletter-email-form-submit {
    @extend .button-large;
    @extend .button-primary;
   padding: $sc-base-padding * 2.2 $sc-base-padding * 3;
}
.footer-social-facebook-icon {
    font-size: 20px;
    color: #ff7d2f;
    @extend .fa;
    @extend %fa-facebook-square;
}
.footer-social-twitter-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-twitter-square;
}
.footer-social-google-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-google-plus-square;
}
.footer-social-pinterest-icon {
    color: #ff7d2f;
    font-size: 20px;
    @extend .fa;
    @extend %fa-pinterest-square;
}
.footer-content-copyright {
    clear: both;
    color: #6f6f70;
    font-size: $sc-smallest-font-size;
    /*padding: $sc-base-padding * 3 10px;*/
    text-align:left;

    @media (min-width: $screen-tablet){
        position: absolute;
        bottom: 5px;
    }

    @media (min-width: $screen-desktop) {
        padding-bottom: $sc-base-padding * 5;
        padding-top: $sc-base-padding * 5;
        text-align: left;
        margin-top: 15px;
        position: absolute;
        bottom: 0;
    }

    @media (max-width: $screen-tablet){
        margin-top: 250px;
    }
}
.footer-content-copyright ul{
    margin-bottom:20px;
}
.footer-content-copyright ul li {
    display: inline-block;
    padding: 0 $sc-base-padding * 1;
    color: #7a7a7b;
}

.footer-content-copyright ul .separator{
    color: #ff7d2f;
}
.footer-content-copyright ul li a {
    color: #ff7d2f;
}
.footer-content-copyright ul li a:hover {
    text-decoration: underline;
}

.footer-thirdcol{
    float:left;
    width:33%;
    
    @media (max-width: $screen-tablet){
       padding-left:0;
    }

    @media (max-width: $screen-phone){
        padding-left:3%;
    }
}

.footer-thirdcol:nth-child(1){
    width:33%;

    @media (max-width: $screen-tablet){
       width:50%;
    }
}

.footer-thirdcol:nth-child(2){
    width:33%;
    @media (max-width: $screen-tablet){
       width:50%;
    }
}

.footer-thirdcol:nth-child(3){
    width:33%;
    @media (max-width: $screen-tablet){
       width:50%;
       margin-bottom: 60px;
    }
}


ul.company-name{
    
    @media (min-width: $screen-tablet){
        width:auto;
        float:left;
        margin-top: 0;
    }

    @media (min-width: $screen-desktop){
        width:100%;
        float:none;
        margin-top:20px;
    }
}

ul.customer-service{
    @media (min-width: $screen-tablet){
        width:55%;
        float:left;
    }

    @media (min-width: $screen-desktop){
        width:100%;
        float:none;
    }
}

ul.newsletter-signup{
    @media (min-width: $screen-tablet){
        width:auto;
        float:left;
        width: 40%;
        /* float: left; */
        position: absolute;
        left: 20px;
        top: 200px;
    }

    @media (min-width: $screen-desktop){
        width:100%;
        float:none;
        position: relative;
        left: auto;
        top: auto;
    }
}


.footer-thirdcol .shopper-approved{
    float:left;
    margin-left: 32px;
    margin-right: 55px;
}

.footer-thirdcol .shopper-reviews, .footer-thirdcol .bbb-rating, .footer-thirdcol .norton-secured{
    float:right;
}

.footer-thirdcol .bbb-rating{
    margin:20px 0;
}

.footer-thirdcol .shopper-reviews{
    margin-right:65px;
}

.footer-thirdcol .norton-secured{
    margin-right:74px;
}

.footer-thirdcol:nth-child(3) img{
    @media (max-width: 1199px) and (min-width: 992px) {
        float: none;
        display: block;
        margin: 10px auto;
    }
}

.footer-mobile{
    display: none;
    text-align:center;
    /*padding:30px 10px;*/
    padding:30px 0;
    
    h2{
        color:#334654;
        font-weight:normal;
        margin-bottom:20px;
        text-transform: capitalize;
    }

    ul.footermobile-nav{
        list-style:none;
        margin:20px 10px;
    }

    ul.footermobile-nav li{
        display:inline-block;
        float:left;
        width:48%;
        text-align:left;
        margin: 10px 0;
    }

    ul li a{
        color:#707070;
    }

    .stay-connected-wrap{
        color:#324654;
        text-align: left;
        padding:20px 10px;
        border-top:1px solid #e6e4e3;

        span{
            margin-right:20px;
            font-size:1.1em;
        }

        a i{
            margin:0 3%;
        }
    }

    .mailing-list-wrap{
        color:#324654;
        text-align: left;
        padding:20px 10px;
        border-top:1px solid #e6e4e3;

        span{
            margin-right:20px;
            font-size:1.1em;
        }
    }

    .footnotes-wrap{
        color:#ff7d2f;

        p{
            font-size:0.8em;
        }

        .copyright{
            color:#6f6f70;
            
        }
    }
    
    
    

    .mailing-list-wrap{
        .newsletter-signup{
            display:block;

            li{
                display:block;

                .footer-newsletter-email-form-submit{
                    background: #ff7d2f;
                }

                .footer-newsletter-email-form-submit:hover{
                    background: #ff6e17 !important;
                    border-top:1px solid #ff6e17 !important;
                }
            }
        }
    }

    @media (max-width: $screen-phone) {
        display:block;
    }
}

.footer-thirdcol .newsletter-signup{
    @media (max-width: $screen-tablet) {
        position: absolute;
        left: 0;
        bottom: 135px;
    }
}

.footer-social-item .twitter {
    display: inline-block;
    background: url("../img/diy-icons.png") no-repeat;
    width: 18px;
    height: 18px;
}

.footer-social-item .facebook {
    display: inline-block;
    background: url("../img/diy-icons.png") -33px 0 no-repeat;
    width: 11px;
    height: 19px;
}

.footer-social-item .pinterest {
    display: inline-block;
    background: url("../img/diy-icons.png") -58px 0 no-repeat;
    width: 18px;
    height: 18px;
}

.footer-social-item .blog {
    display: inline-block;
    background: url("../img/diy-icons.png") -91px 0 no-repeat;
    width: 21px;
    height: 18px;
}

.footer-mobile .footer-social{
    float: right;
}

.phone-icon {
    display: inline-block;
    background: url("../img/diy-icons.png") -120px 0 no-repeat;
    width: 15px;
    height: 18px;
    margin-right: 5px;
}

.footer-collapsed-list .phone-number{
    color:#ff7d2f;
}