/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

/////////////////////////////////////////////////////////////
//header secondary nav
.header-menu-secondary-nav {
	@extend .container;
	position: relative;
	padding-left: 0;
	padding-right: 0;

	@media (max-width: $screen-tablet) {
		margin: 0;
		padding: 0;
		background:#f1f1f1 ;
		border-bottom: 1px solid #b1bec6;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
		width: auto;
		//border: 1px solid red;
	}

}

///////////////////////////////////////////////////////////////
//header search

.header-menu-search {
	float: right;
}

.header-menu-search-link {
	@extend .middle-title-navigable;
	font-size: $sc-h2-font-size;
	background: none;
	padding: $sc-base-padding * 2;
	color: $sc-color-secondary;
	cursor: pointer;
	position: relative;
	line-height: 22px;
}
.header-menu-search-link:hover {
	color: $sc-color-theme-light;
}

.header-menu-search-link.active {
	color: $sc-color-copy;
}

.header-menu-search-icon {
	@extend .fa;
	@extend %fa-search;
	color: $sc-color-tertiary;
}

.header-menu-searchmobile-link {
	@extend .icon-button-secondary;
	margin-right: $sc-base-margin * 2;
	cursor: pointer;
}

.header-menu-searchmobile-link.active {
	background: $sc-color-secondary-active;
}
///////////////////////////////////////////////////////////////
//header maxi menu

.header-menu-level1 {
	/*margin-left: - $sc-base-padding * 2;*/
	text-transform: uppercase;
	font-size: $sc-h4-font-size;
	.wf-active & {
		font-family: 'Work Sans', sans-serif;
	}

	@media (max-width: $screen-tablet) {
		margin-right: 0;
		margin-left: 0;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
		display: flex;
		justify-content: space-between;
	}
}

.header-menu-level1 > li.open {
	background: #fff;
}

.header-menu-level1 li:last-child{
	border-right:1px solid #fff;

	@media (max-width: $screen-tablet) {
		border-right:none;
	}
}

.header-menu-level1 > li {

	@media (min-width: $screen-lg-min) {
		float: left;
		min-width: 162px;
		text-align: center;
		border-left: 1px solid #fff;
	}

	@media (max-width: $screen-tablet) {
		min-width: 90px;
	}

	// @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
	// 	min-width: 0;
	// 	width: auto;
	// 	//border: 1px solid #000;
	// }

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		float: left;
		width: auto;
		min-width: 0;
		text-align: center;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
		width: 100%;
		float: none;
		min-width: 0;
		text-align: center;

		&:nth-child(4) .header-menu-level-container, 
		&:nth-child(5) .header-menu-level-container, 
		&:nth-child(6) .header-menu-level-container {
			margin-left: 0 !important;
			right: 0;
			left: auto;
		} 
	} 

}

.header-menu-level1 > li:hover {
	background: #fff;
}

.header-menu-level1 li:hover ul{
	display: inline-block;
}

.header-menu-level1-anchor {
	display: block;
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 $sc-base-padding*2;
	margin-right: $sc-base-margin;
	color:#324654;
	font-weight:normal;
	border-left:1px solid #fff;
	font-size: 15px;
	font-family:'Avenir LT W01_55 Roman1475520';
	text-transform: capitalize;

	@media (max-width: $screen-tablet) {
		font-size: 13px;
		padding: 0 10px;
		margin-right: 0;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		font-size: 13px;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
		font-size: 14px;
		white-space: nowrap;
	}
}

.header-menu-level1-anchor:hover, .header-menu-home-anchor:hover, .header-menu-shop-anchor:hover, .header-menu-home-anchor:focus, .header-menu-shop-anchor:focus {
	color: #324654;
}

.open .header-menu-level1-anchor {
	color: #324654;
	background: #fff;
}

.header-menu-home-anchor,
.header-menu-shop-anchor{
	@extend .header-menu-level1-anchor;
	/*color:$sc-color-tertiary;*/
	font-weight:normal;
	text-transform:capitalize;
}

//maxi menu level 2
.header-menu-back {
	display: none;
}

.header-menu-level2 > li {
	float: left;
	width: 195px;
	/*padding-right: $sc-base-padding * 6;*/
	padding:0 20px;
	padding-left: 0;
	min-height:270px;
	/*margin-bottom: 10px;*/
	text-align: left;
}

.header-menu-level3{
	border-right: 1px solid #ebebeb;
	display: block !important;
}

.header-menu-level3.long{
	height:400px;
}

.header-menu-level3.no-border{
	border-right: none;
}

.header-menu-level2 > li:nth-child(3) .header-menu-level3 li,
.header-menu-level2 > li:nth-child(6) .header-menu-level3 li,
.header-menu-level2 > li:nth-child(9) .header-menu-level3 li,
.header-menu-level2 > li:nth-child(12) .header-menu-level3 li{
	border-right: none;
}

.header-menu-level2-anchor {
	/*font-weight: $sc-font-weight-semibold;*/
	color: #ff7d2f;
	text-transform: capitalize;
	font-family:'Avenir LT W01_65 Medium1475532';
	font-size: 16px;
	display: block;
	/*padding-bottom: $sc-base-padding;
	margin-bottom: $sc-base-margin * 2;
	border-bottom: 1px solid $sc-color-theme-border;
	display: block;
	*/

	@media (min-width: $screen-md-min) {
		pointer-events: auto;
	}
}

.header-menu-level2-anchor.border{
	border-right: 1px solid #ebebeb;
}
.header-menu-level2-anchor:hover {
	/*color: blue;*/
}
//maxi menu level 3
.header-menu-level3-anchor {
	display: block;
	padding: $sc-base-padding 0;
	/*color:$sc-color-secondary;*/
	color:#6f6f70;
	text-transform: capitalize;
	font-size: 15px;
	font-family:'Avenir LT W01_55 Roman1475520';
	line-height: 20px;
}

.header-menu-myaccount-anchor-level3.active {
	color: $sc-color-copy;
}

//container fix for maxi menu on desktop
.header-menu-push-icon, .header-menu-pop-icon {
	display: none;
}

.header-menu-level-container {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	/*width: 100%;*/
	width: 960px;
	min-height: 150px;
	z-index: 1001;
	padding: $sc-base-padding * 5 0;
	border-bottom: 1px solid $sc-color-theme-border;
	/*border-top: 1px solid $sc-color-theme-border;*/
	@include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));



	> li {
		@extend .container;
		width: 700px;
		width: 620px;
		margin:0;
		float: left;
	}

	> li.right {
		@extend .container;
		width: 310px;
		padding:20px;
		padding-left: 0;
		float: right;
		font-family: "Avenir LT W01_55 Roman1475520";
		font-size: 15px;

		h2{
			font-family: "Avenir LT W01_65 Medium1475532";
			color: #314654;
			font-size: 16px;
			text-transform: capitalize;
			font-weight: normal;
			letter-spacing: 0;
			line-height: 24px;
			text-align: left;
		}
		p{
			color: #6f6f70;
			font-size: 15px;
			text-align: left;

		}
		a.shop-now{
			text-transform: capitalize;
		}

		.bottom{
			margin-top: 20px;
		}

		.bottom h2{
			font-family: "Avenir LT W01_65 Medium1475532";
			font-size: 16px;
			font-weight: normal;
			letter-spacing: 0;
		}

		.bottom ul li{
			float: left;
			width:132px;
		}

		.bottom ul li:first-child{
			margin-right: 25px;
		}

		.bottom ul li p a{
			color: #6f6f70;
			font-size: 15px;
			text-transform: capitalize;
		}
	}
}

//maxi menu opened
.open .header-menu-level-container {
	display: block;
}

.header-menu-level-container.medium{
	width:600px;
}

.header-menu-level-container.small{
	width:440px;
}

.open .header-menu-level1-anchor:before{
	position: absolute;
	top: 47px;
	left: 50%;
	margin-left: -7.5px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #FFF;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.open .header-menu-level1-anchor:after{
	position: absolute;
	top: 48px;
	left: 50%;
	margin-left: -6.5px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #FFF;
	border-left: 6px solid transparent;
	content: '';
	z-index: 9999;
}

.header-secondary-wrapper{
	border-top: none;
}

.shopping-layout-breadcrumb{
	/*height:30px;*/
	@media (max-width: $screen-tablet) {
		width:100%;
	}
}

.header-menu-level1 li ul li ul li a.view-all{
	font-family: "Avenir LT W01_55 Roman1475520";
	color: #ff7d2f;
	font-size: 13px;
	text-transform: capitalize;
}

.header-menu-level1 li ul li ul li a.view-all::after{
	content:"\\f101";
	font-family: FontAwesome;
	font-size: 11px;
	margin-left: 6px;
}