/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.header-mini-cart {
	display: none;
	background: $sc-pusher-bg;
	width: 320px;
	padding: $sc-base-padding * 4;
	position: absolute;
	z-index: 1002;
	right: 0;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(153,153,153,0.2);
	-moz-box-shadow: 0px 5px 10px 0px rgba(153,153,153,0.2);
	box-shadow: 0px 5px 10px 0px rgba(153,153,153,0.2);

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -9px;
		right: 30px;
		width: 15px;
		height: 15px;
		background: #FFF;
		border-right: 1px solid #e3e3e3;
		border-bottom: 1px solid #e3e3e3;
		-webkit-transform: rotate(220deg);
		-moz-transform: rotate(220deg);
		-o-transform: rotate(220deg);
		transform: rotate(220deg);
		}

	}

.header-mini-cart {
	.items-views-selected-option-picker{
		display: none;
		}
	.items-views-selected-option-label,
	.items-views-selected-option-color p {
		margin-bottom: 0;
		}
	}

.open .header-mini-cart {
	display: block;
	}

.header-mini-cart-menu-cart-legend{
	@extend .header-menu-cart-legend;
	}

.header-mini-cart-container {
	max-height: 411px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: $sc-medium-margin;
	}

.header-mini-cart-menu-cart-icon{
	@extend .header-menu-cart-icon;
	color:#ff7d2f !important;
	background:none !important;
	font-size:28px !important;
	}

.header-mini-cart-menu-cart-icon:hover{
	color:#ff6e17;
	}

//vetical alignment fix
.header-mini-cart-item-cell-details .item-views-selected-option-color-tile {
	margin-top: 4.25px
	}
.header-mini-cart-item-cell-details .item-views-selected-option-color-text {
	margin-top: 1.75px;
	color: #6f6f70;
	text-transform: capitalize;
}
//end vertical alignment fix

.header-mini-cart-subtotal {
	color: #324654;
	font-family:'Avenir LT W01_65 Medium1475532';
	font-weight: $sc-font-weight-bold;
	margin-bottom: $sc-medium-margin;
	overflow: hidden;
}

.header-mini-cart-subtotal-amount {
	@extend .col-xs-8;
	text-align: right;
	padding: 0px;
	}

.header-mini-cart-subtotal-items {
	@extend .col-xs-4;
	padding: 0px;
	font-family:'Avenir LT W01_65 Medium1475532';
	}

.header-mini-cart-button-view-cart {
	@extend .button-secondary;
	@extend .button-medium;
	@extend .button-generic;
	@extend .button-generic-blue;
	width:100%;
	text-align:center;
	font-size: $sc-h4-font-size;
	}

.header-mini-cart-buttons {
	display: block;
	clear: both;
	}

.header-mini-cart-button-checkout {
	@extend .button-primary;
	@extend .button-medium;
	@extend .button-generic;
	width:100%;
	text-align:center;
	font-size: $sc-h4-font-size;
	}

.header-mini-cart-buttons-left {
	@extend .col-xs-6;
	padding-left: 0px;
	padding-right: $sc-base-padding;
	}

.header-mini-cart-buttons-right {
	@extend .col-xs-6;
	padding-right: 0px;
	padding-left: $sc-base-padding;
	}

.header-mini-cart-menu-cart-link{
	@extend .header-menu-cart-link;
	}

.header-mini-cart-menu-cart-link-enabled{
	@extend .header-menu-cart-link-enabled;
	}

.header-mini-cart-empty{}
.header-mini-cart-summary-cart-ellipsis{}
