/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

$sc-main-nav-height: 68px;
$sc-main-nav-width: 130px;
$sc-main-nav-link-height: 44px;
$sc-secondary-menu-height: 55px;
$sc-sidebar-size: 246px;

.header-message {
	@extend .container;
	padding: 0;

	@media (min-width: $screen-md-min) {
		padding-left: 15px;
		padding-right: 15px;
	}

	.global-views-message {
		margin-bottom: 0;
		width: 100%;
	}
}

.header-main-wrapper {
	position: relative;
}

.header-top-wrap{
	background-color:#324654;
}

.header-top-content{
	@extend .container;
	color:#fff;
	margin:0 auto;
	font-size:1em;
	position:relative;

	@media(max-width: $screen-tablet) {
		padding:15px;

	}

	a{
		color:#fff;
	}

	a:hover{
		color:#b1bec6;
	}
}

.header-top-content .left{
	float:left;
}

.header-top-content .middle{
	position:absolute;
	left:47%;
}

.header-top-content .right{
	float:right;
}

.header-top-content .left{
	float:left;
}

.header-top-content .middle{
	position:absolute;
	left:47%;
}

.header-top-content .right{
	float:right;
}

@media(max-width: $screen-md-min) {
.header-top-content .first{
		a{
			margin-left: 12px;
			display: block;
		}
	}	
}

.clr{
	clear:both;
}

.header-top-content{
	.build-button{
		background-color: $sc-color-primary;

		@media(max-width: $screen-phone) {
			width: 25% !important;
		}

		@media (max-width: $screen-md-min) {
			display: none;
		}


		.action-build-button{
			font-size: 14px;
			/*padding: $sc-base-padding*4 $sc-base-padding*4;*/
			text-transform: uppercase;

			@media(max-width: $screen-md-min) {
				font-size: 12px;
			}

			&:hover{
				color: $sc-pusher-bg;
			}

			img{
				width: 12px;
			}
			@media(max-width: $screen-lg-min){
				/*padding: $sc-base-padding*4 $sc-base-padding;*/
			}
			@media(max-width: $screen-sm-min){
				/*display: none;*/
			}
		}
	}
	@media(min-width: $screen-lg-min){
		.build-button{
			width: 15% !important;
		}
	}
	@media(max-width: $screen-md-max){
		/*padding: $sc-base-padding*4 $sc-base-padding $sc-base-padding*3 + 3;*/
		.col{
			width: 24%;
		}
		.build-button{
			width: 18% !important;
		}
		.wish-mobile{
			width: 12.5%;
		}
	}
	@media(max-width: $screen-md-min){
		.action-build-button{
			/*padding: $sc-base-padding*4 $sc-base-padding*4 $sc-base-padding*3 + 1;*/
		}	
		.build-button{
			float: right;
			/*margin-right: $sc-base-margin *2;*/
			width: 20%;
		}		
		p{
			font-size: $sc-small-font-size;
		}
	}

	@media(max-width: $screen-phone){
		.build-button {
			width: 25% !important;
		}
	}
}

.header-main-nav {
	@extend .container;
	min-height: $sc-main-nav-height;
	position: relative; 
	/*padding:30px 0;*/
	/*background-color: $sc-color-theme-background-light;*/
	padding: 10px 0;

	@media (min-width: $screen-md-min) {
		background-color: none;
	}

	@media (max-width: $screen-phone) {
		padding: 0;
	}
}

.header-content {
	@extend .clearfix;
}
///////////////////////////////////////////////////////////////
//header logo

.header-logo-wrapper {
	float: left;
	max-width: 299px;
	width: 60%;

	@media (max-width: $screen-tablet){
		width: 15%;
	}

	@media (max-width: $screen-phone){
		float: none;
		margin: 0 auto;
		height:40px;
		width: 60%;
    }

}

///////////////////////////////////////////////////////////////
//header sidebar toggle
.header-sidebar-toggle-wrapper {
	margin-top: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-bottom: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-right: $sc-base-margin * 3;
	float: left;
	display: none;
	
	@media(max-width: $screen-md-min) {
		display: block;
		margin-top: 20px;
	}
	
}

.header-sidebar-toggle {
	@extend .icon-button-secondary;
	width: $sc-target-size;
	height: $sc-target-size;
	text-align:center;
	background:none;
}

.header-sidebar-toggle-icon {
	@extend .fa;
	@extend %fa-bars;
	color: #ff7d2f;
	font-size: 24px;
	margin-top:2px;
}

///////////////////////////////////////////////////////////////
//main nav positioning

.header-right-menu {
	float: right;
	margin-top: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-bottom: ($sc-main-nav-height - $sc-main-nav-link-height) / 2;
	margin-top:25px;

	//@media(max-width: $screen-phone) {
	@media (max-width: $screen-sm-min) {
		float: right;
		/* margin-top: 0; */
		margin-bottom: 0;
		right: 2%;
		top: 10%;
		margin-top:0;
		position: absolute;
	}
}

// .header-menu {
// 	.header-profile-welcome-user-icon {
// 		@media (max-width)
// 	}
// }

.header-menu-profile,
.header-menu-quote,
.header-menu-settings {
	float: left;
	display: none;
	display: block;

	@media (max-width: $screen-tablet) {
		display: block;
	}

	@media (max-width: $screen-phone) {
		display: none;
	}
	
}

.header-menu-profile{
	border-right:1px solid #dfdfde;

	@media (max-width: $screen-md-min) {
		.header-main-nav-logged-in & {
			display: none;
		}
	}

	@media (max-width: $screen-sm-min) {
		display: none;
	}
}

.header-menu-welcome-message-tablet {
	display: none;
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		display: block;
		float: left;
		height: 44px;
		line-height: 44px;
		font-size: 14px;
		font-weight: bold;
		color: #324654;
		border-right: 1px solid #dfdfde;
		padding: 0 15px;
	}
}

.header-menu-quote{
	display:none;
}
.header-menu-settings {
	position: relative;
}

.header-menu-settings-dropdown-title {
	margin-bottom: $sc-small-margin;
}

.header-menu-cart {
	float: left;
	position: relative;

	@media (min-width: $screen-md-min) {
		margin-left: $sc-base-margin * 4;
	}
}
.header-menu-search-icon,
.header-menu-searchmobile-icon {
	@extend .fa;
	@extend %fa-search;
}

.header-menu-searchmobile-icon{
	color: #fff;
	font-size: $sc-h3-font-size;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
}

.header-menu-searchmobile {
	float: left;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

%header-link {
	display: block;
	min-width: $sc-target-size;
	height: $sc-target-size;
	line-height: $sc-target-size;
	color: $sc-color-theme;
	text-align: center;
	position: relative;
}

%header-link:hover, %header-link:focus {
	color: $sc-color-copy;
}
%header-link:active {
	color: $sc-color-dark-copy;
}

.header-menu-settings-link,
.header-menu-cart-link,
.header-menu-searchmobile-link
{
	@extend %header-link;
}

.header-menu-searchmobile-link {
	overflow: hidden;
}
.header-menu-settings-link {
	padding: 0 $sc-base-padding * 2;
}

///////////////////////////////////////////////////////////////
//main nav styles

.header-menu-cart-link {
	overflow: hidden;
	color: $sc-color-theme-light;
	background-color: $sc-color-theme-background;
}

.header-menu-cart-link-enabled{
	&.header-menu-cart-link{
		@extend .icon-button-primary;
		color: $sc-color-secondary;
	}
	.header-menu-cart-icon{
		color: #fff;		
	}
}

.header-menu-cart-legend {
	background-color: $sc-color-theme-background-light;
	padding: 0 $sc-base-padding * 3;
	float:right;
	display: none;

	@media(min-width: $screen-md-min) {
		display: inline;
	}
}

.header-menu-cart-icon {
	@extend .fa;
	@extend %fa-shopping-cart;
	font-size: $sc-h3-font-size;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
	color: $sc-color-theme-light;
}

.header-menu-settings-icon {
	font-size: $sc-h4-font-size;
	@extend .fa;
	@extend %fa-globe;
}

.header-menu-settings-carret {
	margin-left: $sc-base-margin;
	@extend .fa;
	@extend %fa-angle-down;
}

///////////////////////////////////////////////////////////////
//secondary nav styles

.header-secondary-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: - $sc-sidebar-size;
	width: $sc-sidebar-size;
	background-color: $sc-color-theme-background;
	// z-index: 1000;




	@media (min-width: $screen-md-min) {
		position: relative;
		background-color: $sc-color-theme-background-light;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		height: $sc-secondary-menu-height;
		border-top: 1px solid $sc-color-theme-border;
		border-bottom: 1px solid $sc-color-theme-border;

		height: auto;
		line-height: 40px;
		background-color: #ededed;
	}


	@media (max-width: $screen-md-min) {
		/*position: relative;
		left:0;
		width: 100%;*/
		position: absolute;
		top: 0;
		bottom: 0;
		left: - $sc-sidebar-size;
		width: $sc-sidebar-size;
		background-color: $sc-color-theme-background;
		z-index: 1;
	}


	@media (max-width: $screen-phone) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: - $sc-sidebar-size;
		width: $sc-sidebar-size;
		background-color: $sc-color-theme-background;
	}


}


///////////////////////////////////////////////////////////////
//header settings

.header-menu-settings-dropdown {
	display: none;
	position: absolute;
	z-index: 1001;
	background: #FFF;
	padding: $sc-base-padding * 6;
	left: -130px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border: 1px solid $sc-color-theme-border;
	width: 335px;

	&:before {
		position: absolute;
		top: -7px;
		right: 165px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $sc-color-theme-border;
		border-left: 7px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}

	&:after {
		position: absolute;
		top: -6px;
		right: 166px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $sc-color-tertiary;
		border-left: 6px solid transparent;
		content: '';
	}
}

.open .header-menu-settings-dropdown {
	display: block;
}
.header-site-search {
	display: none;
	width: 100%;
}
.header-menu-cart-dropdown{}
.header-sidebar-overlay{}

.header-top{
	color:#fff;
}