/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.header-mini-cart-item-cell {
	margin-bottom: $sc-medium-margin;
	clear: both;
	overflow: hidden;
	.item-views-selected-option-color-label-text,  .item-views-selected-option-label,
	.cart-detailed-title {
		color: $sc-color-tertiary;
		font-weight: 600;
	}
}

.header-mini-cart-item-cell-image img {
	width: $img-small + 20;
	vertical-align:middle;
}

.header-mini-cart-item-cell-image {
	@extend .col-xs-4;
	height: $img-small + 20;
	line-height: $img-small + 20;
	padding: 0px;
	text-align: center;
	border: 1px solid #e3e3e3;
	overflow: hidden;
}

.header-mini-cart-item-cell-details {
	@extend .col-xs-8;
}

.header-mini-cart-item-cell-product-title {
	margin-bottom: $sc-small-margin;
}

.header-mini-cart-item-cell-product-price {
	@extend .middle-price;
	margin-bottom: $sc-small-margin;
}

.header-mini-cart-item-cell-total-product-price{
	@extend .middle-price;
	color: #324654;
	font-family:'Avenir LT W01_65 Medium1475532';
	margin-top: $sc-small-margin;
}

.header-mini-cart-item-cell-product-sku {
	margin-bottom: $sc-small-margin;
}

.header-mini-cart-item-cell-product-color {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-base-font-size;
}

.header-mini-cart-item-cell-product-size {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-base-font-size;
}

.header-mini-cart-item-cell-product-qty {
	line-height: 1.2;
	text-transform: capitalize;
	font-size: $sc-base-font-size;
}
.header-mini-cart-item-cell-quantity-label{
	@extend .sc-label;
	color: #324654;
	font-family:'Avenir LT W01_65 Medium1475532';
}

.header-mini-cart-item-cell-quantity-value, .header-mini-cart-item-cell .item-views-selected-option-value{
	@extend .sc-value;
	color: #6f6f70;
	font-size: $sc-small-font-size;
}

.header-mini-cart-item-cell-title-navigable {
	@extend .medium-title-navigable;
	color: #324654;
	font-size: $sc-font-size-text;
	font-family:'Avenir LT W01_65 Medium1475532';
}