/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.cart-confirmation-modal-container {
	padding-top: 0;
	padding: $sc-base-padding * 4;
}
.cart-confirmation-modal {
	@extend .row;
}
.cart-confirmation-modal-img{
	@extend .col-sm-5;
	border: 1px solid #e3e3e3;
	margin-bottom: $sc-base-margin * 3;
}
.cart-confirmation-modal-details {
	@extend .col-sm-7;

	.item-views-selected-option-color-label-text,
	.cart-confirmation-modal-quantity-label,{
		@extend .item-views-option-color-label;
	}
	.item-views-selected-option-color-text {
		color: #6f6f70;
		text-transform: capitalize;
		font-size: $sc-base-font-size;
	}

	.item-views-selected-option {
		margin-bottom: $sc-base-margin * 2;
	}

	.item-views-selected-option-label {
		color: $sc-color-tertiary;
		font-size: $sc-h3-font-size - 2;
		font-weight:$sc-font-weight-bold;
		min-width: 87px;
		//float:left;
	}

	.item-views-selected-option-value {
		color: $sc-color-theme;
		font-size: $sc-h5-font-size;
		margin-bottom: $sc-small-margin;
		text-transform: capitalize !important;
	}

	@media (min-width: 768px) and (max-width: 970px) {
		.item-views-selected-option-color-text {
			display: block;
		}
	}
	.item-views-selected-option-color-tiles-container {
		li {
			margin-right: $sc-base-margin;
			vertical-align: inherit;
		}
		span {
			position: relative;
			bottom: 1.1px;
			width: 40px;
			height: 40px;
		}
	}
}
.cart-confirmation-modal-item-name {
	@extend .medium-title-navigable;
	@extend .item-details-content-header-title;
	display: inline-block;
}
.cart-confirmation-modal-price {
	@extend .diy-item-details-price-brand-container;
	@extend .middle-price;
}
.cart-confirmation-modal-sku{
	@extend .item-details-sku-container;
}
.cart-confirmation-modal-sku-label{
	@extend .sc-label-sku;
}
.cart-confirmation-modal-sku-value{
	@extend .sc-value-sku;
}
.cart-confirmation-modal-quantity-label{
	@extend .sc-label;
}
.cart-confirmation-modal-quantity-value{
	@extend .sc-value;
}
.cart-confirmation-modal-actions {
	margin-top: $sc-base-padding * 3;
}
.cart-confirmation-modal-view-cart{
	@extend .col-sm-6;
	padding-left: 0;
	padding-right: 0;
	
	@media (min-width: $screen-sm-min) {
		padding-right: $sc-base-padding;
	}
}
.cart-confirmation-modal-continue-shopping {
	@extend .col-sm-6;
	padding-right: 0;
	padding-left: 0;
	
	@media (min-width: $screen-sm-min) {
		padding-left: $sc-base-padding;
	}
}

.cart-confirmation-modal-view-cart-button {
	@extend .button-primary;
	@extend .button-large;
	width: 100%;
 	font-weight: $sc-font-weight-semibold;
 	margin-top: $sc-base-margin * 3;
	border: 1px solid $sc-color-primary;
}

.cart-confirmation-modal-view-cart-button:disabled{
	border: 1px solid #f79d7e;
}

.cart-confirmation-modal-view-cart-button,
.cart-confirmation-modal-continue-shopping-button {
	text-align: center;
	font-size: $sc-h4-font-size;
	padding: 18px 10px;
	font-family: "Avenir LT W01_85 Heavy1475544";
}

.cart-confirmation-modal-continue-shopping-button {
	@extend .button-tertiary;
	@extend .button-large;
	background: #ffffff;
	border-color: $sc-color-theme;
	color: $sc-color-tertiary;
	width: 100%;
	margin-top: $sc-base-margin * 3;
	font-weight: $sc-font-weight-semibold;
	border: 1px solid $sc-color-theme;
}

.cart-confirmation-brand-logo-value {
	@extend .item-details-brand-logo-value;
}

.cart-confirmation-modal-options{}
.cart-confirmation-modal-quantity-number{}