/*#item-details-info-tab-3 h2,
#item-details-info-tab-3 #item-details-content-container-3, */
.item-details-action {
    display:none;
}

.link {
    background: url("../img/clip.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.pdf {
    background: url("../img/pdf.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.itemdocument-image {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.itemdocument-details-results-table-column {
    display: inline-flex;
    /*    border: 1px solid red;*/
    width: 300px !important;
    height: 120px;
    margin-left: 20px;
    margin-right: 0px !important;
    text-align: center;
    @media(min-width: $screen-sm-min) {
        margin-right: 15px !important;
        width: 177px !important;
    }
}

.itemdocument-details-results-table-column a {
    width:100%;
}

.itemdocument-details-results-table-row-name {
    color:#404040;
    margin: 0 auto;
    width: 200px;
    @media(min-width: $screen-sm-min) {
        width: 150px;
    }
}

.item-details-tab-content {
    position: relative;
}

.item-details-tab-content li {
    margin: 0;
}

.item-details-tab-content:hover .itemdocument-list .item-details-carousel-prev {display:block;}
.item-details-tab-content:hover .itemdocument-list .item-details-carousel-next {display:block;}

.itemdocument-list .document-details-carousel-prev {
    //display:none;
    width: 46px;
    height: 52px;
    position: absolute;
    cursor: pointer;
    z-index: 100;

    left: -0.1em;
    top: 120px;
    @media(min-width: $screen-sm-min) {
        top: 90px;
    }
}

.itemdocument-list .document-details-carousel-next {
    //display:none;
    width: 46px;
    height: 52px;
    position: absolute;
    cursor: pointer;
    z-index: 100;

    right: -0.1em;
    top: 120px;
    @media(min-width: $screen-sm-min) {
        top: 90px;
    }
}

.itemdocument-list .bx-controls {
    margin:0px;
}

.itemdocument-list .bx-prev, .itemdocument-list .bx-next {
    display:none;
}

