/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.global-views-pagination {
	float: right;
	margin-left: 20px;
}

.global-views-pagination-next-icon{
	@extend .icon-angle-right;

	@media (max-width: $screen-phone) {
		color: #ff7d2f;
	}
}

.global-views-pagination-prev-icon{
	@extend .icon-angle-left;
}

.global-views-pagination-prev-icon::before{
	content: "\f100" ;
}

.global-views-pagination-next-icon::before{
	content: "\f101" ;
}

.global-views-pagination-links{
	@extend .pagination-links;
	background: none;
}

.global-views-pagination-links a{
	height: 30px;
	line-height: 30px;
	padding-left: 0;
	padding-right: 0;
}
.global-views-pagination-links li{
	height:30px;
	width: 30px;
	margin-top:2px;
}
.global-views-pagination-prev{
	@extend .pagination-prev;
	border:1px solid #dddddd;
	background: none;
}

.global-views-pagination-prev-disabled{
	@extend .pagination-prev-disabled;
	display: block;
}

.global-views-pagination-prev-disabled a {
	background: #ececec;
	border: 1px solid #dddddd;
}

.global-views-pagination-disabled{
	@extend .pagination-disabled;
}

.global-views-pagination-links-number{
	@extend .pagination-links-number;
	background: none;
	display: block;
}

.global-views-pagination-links-number a{
	color:#314654;
	background: none;
	border: 1px solid #dddddd;
}

.global-views-pagination-links-number .global-views-pagination-active{
	background: #ececec;
}

.global-views-pagination-active{
	@extend .pagination-active;
	color:#9d9999 !important;
}

.global-views-pagination-next-disabled{
	 @extend .pagination-next-disabled;
	 display: block;
	margin-left: 0;
 }

.global-views-pagination-next-disabled a{
	background: #ececec;
	border: 1px solid #dddddd;
}

.global-views-pagination-next{
	@extend .pagination-next;
	border:1px solid #dddddd;
	background: none;

	@media (max-width: $screen-tablet) {
		margin-left: 0!important;
	}
	@media (max-width: $screen-phone) {
		margin-left: 0!important;
	}
}

.global-views-pagination-count{
	@extend .pagination-count;
	display: none;
}

.global-views-pagination-links-compact{}