.checkout-layout {
	input[type="checkbox"] {
		display: inline-block;
	}
}

.order-wizard-register-guest-module-button-toggle-create-account {
	background-color: $sc-color-primary;

	&:hover,
	&:active,
	&:focus {
		opacity: 0.9;
		background-color: $sc-color-link-hover;
	}
}